<%= render :partial => "search/date_form", :locals => {:f => f, :attribute => :publication_date, :label => "Publication Date "} %>
<%= render :partial => "search/date_form", :locals => {:f => f, :attribute => :effective_date, :label => "Effective Date "} %>
<%= render :partial => "search/date_form", :locals => {:f => f, :attribute => :comment_date, :label => "Comment Close Date "} %>

<% f.inputs :class => 'show_labels' do %>
  <% if js_known_to_be_enabled? %>
    <%# put hidden fields and stub for JS-variation here %>

    <li class="string optional agency">
      <label>Agency</label>
      <input placeholder="Agriculture Department" data-autocomplete="autocomplete" id="document-agency-search" />

      <%= f.select :agency_ids,
                  Agency.all(:conditions => {:id => @search.agency_ids.to_a} ).map{|a| [a.name, a.id.to_s]},
                  {},
                  {:multiple => :multiple, :class => 'selected_agency_list'} %>
    </li>

  <% else %>
    <%= f.input :agency_ids,
                :as => :select,
                :label => "Agencies",
                :include_blank => false,
                :input_html => {:multiple => true},
                :value_method => Proc.new{|a| a.id.to_s},
                :collection => Agency.all,
                :wrapper_html => {:class => 'fallback_agency_list'} %>
  <% end %>
  <%= f.input :type,
              :label => "Document Category",
              :as => :check_boxes,
              :collection => EntrySearch::TYPES %>
  <%= f.input :presidential_document_type_id,
              :label => "Presidential Document Type",
              :as => :check_boxes,
              :collection => PresidentialDocumentType.all,
              :wrapper_html => {:class => "presidential_dependent"} %>
  <%= f.input :president,
              :label => "President",
              :as => :check_boxes,
              :collection => President.all,
              :value_method => :identifier,
              :wrapper_html => {:class => "presidential_dependent"} %>
  <%= f.input :docket_id,
              :label => "Agency Docket",
              :input_html => {:placeholder => "EPA-HQ-OPPT-2005-0049"},
              :wrapper_html => {:class => 'docket'} %>
  <%= f.input :regulation_id_number,
              :label => "Regulation ID Number (RIN)",
              :input_html => {:placeholder => "2070-AJ57"},
              :wrapper_html => {:class => 'reg_id'} %>
  <li class="boolean optional significant" id="conditions_significant_input">
    <label for="conditions_significant">
      <%= f.check_box :significant, {}, '1', '' %>
      Deemed Significant Under EO 12866
    </label>
  </li>
  <%= f.input :small_entity_ids,
              :label => "Small Entities Affected",
              :as => :check_boxes,
              :collection => SmallEntity.all,
              :value_method => Proc.new{|e| e.id.to_s} %>
<% end %>

<% f.fields_for :cfr, f.object.cfr do |cfr_f| %>
  <% cfr_f.inputs :name => "Affecting CFR Part", :class => 'cfr' do %>
    <%= cfr_f.input :title,
                    :input_html => {:placeholder => '40'},
                    :wrapper_html => {:class => 'cfr_title'} %>
    <%= cfr_f.input :part,
                    :input_html => {:placeholder => '745'},
                    :wrapper_html => {:class => 'cfr_part'} %>
  <% end %>
<% end %>

<% f.fields_for :near, f.object.near do |location_f| %>
  <% location_f.inputs :name => "Mentioning Locations Near", :class => 'zip' do %>
    <%= location_f.input :location,
                    :input_html => {:placeholder =>  "Zip Code"} %>
    <%= location_f.input :within,
                    :as => :select,
                    :collection => [5, 10, 25, 50, 100, 200].map{|n| ["#{n} miles", n]},
                    :selected => location_f.object.try(:within) || ApplicationSearch::PlaceSelector::DEFAULT_WITHIN %>
  <% end %>
<% end %>

<% [:topic_ids, :section_ids].each do |param| %>
  <% (params[:conditions] || {})[param].to_a.each do |val| %>
    <%= hidden_field_tag "conditions[#{param}][]", val %>
  <% end %>
<% end %>

<% f.buttons do %>
  <%= f.commit_button 'Search' %>
  <li>
    <%= link_to "Clear Form", entries_search_path, :class => "clear_form" %>
  </li>
<% end %>
