<li>
  <h4><%= link_to entry_title(entry), entry_path(entry) %></h4>

  <div class="result_info">
    <span class="date"><%= entry.publication_date %></span>
    <span class="pages"><%= entry_page_range(entry) %></span>
    <% if page.present? && page != entry.start_page %>
      <span class="specific_page">Jump directly to page <%= link_to page, entry_path(entry, :anchor => "page-#{page}") %>.</span>
    <% end %>
    <span class="excepts"><%= truncate_words(entry.abstract, :length => 200) %></span>
    <br />
    <%= link_to 'PDF', entry.source_url('pdf'), :class => 'button format list pdf' %>
    <span class="agency"><%= entry.agencies.excluding_parents.map{|agency| link_to(agency.name, agency_path(agency))}.join(' :: ') %></span>
  </div>  
</li>