<% citation = search.matching_entry_citation %>
<% if citation %>
  <div class="matching_citation">
    <% if citation.matching_fr_entries.present? %>
      
      <p class="matching_citation_header">It looks like you were searching for the citation <strong><%= citation.name %></strong>.
        <% if citation.citation_type == 'FR' %>
          We've found the following <%= pluralize(citation.matching_fr_entries.count, 'document') %>
          on page <%= citation.part_2 %> of volume <%= citation.part_1 %>.
        <% else %>
          We've found the following Executive Order:
        <% end %>
      </p>

      
      <div class="matching_citation_document">
      
        <ul>
          <%= render :partial => 'citation_result', :collection => citation.matching_fr_entries, :as => :entry, :locals => {:page => citation.part_2 ? citation.part_2.to_i : nil} %>
        </ul>
      
      </div>
    <% else %>
      <p class="matching_citation_header">
        It looks like you were searching for the citation <strong><%= citation.name %></strong>. 
        We were unable to find any documents with that citation. FederalRegister.gov covers documents published starting in January of 1994 (volumes 59-current).
        <br />
        Documents published before 1993 (Volumes 1-58) are available through a <a href="http://catalog.gpo.gov/fdlpdir/public.jsp" class="external">Federal Depository Library</a>.
      </p>
    <% end %>
  </div>
<% elsif search.term.present? && is_cfr_citation?(search.term) %>
  <% title, part, section = Citations::CfrHelper::PATTERN.match(search.term).to_a.slice(1,3) %>
  <% candidates = CfrPart.find_all_candidates(Date.current, title, part) %>
  <div class="matching_citation">
    <p class="matching_citation_header">
      It looks like you were searching for the Code of Federal Regulations citation: <strong><%= search.term %></strong>:
    </p>
    <div class="matching_citation_document">
      <ul>
        <% candidates.each do |cfr_part| %>
          <li><%= link_to "#{cfr_part.year}: #{cfr_part.name}", cfr_citation_path(cfr_part.year, cfr_part.title, cfr_part.part, @section)%></li>
        <% end %>
        <li><%= link_to 'ECFR', ecfr_url(title, part) %></li>
      </ul>
    </div>
  </div>
<% end %>
