<div class="result_set" data-expected-result-count="<%= render :partial => 'result_summary.txt.erb' %>">
  <%= render :partial => "search/filters", :locals => {:search => @search} %>
  
  <% if @search.results.present? %>
    <div class="search_info">
      <div class="article_count">
        <h2 class="title_bar"><span class="small_stack">Documents <span>Found</span></span> <%= number_with_delimiter @search.count %></h2>
      </div>

      <ul class="actions">
        <% @search.supported_orders.each do |order| %>
          <li class="<%= 'on' if @search.order == order.downcase %>">
            <%= link_to order, params.merge(:order => order.downcase, :action => :show).except(:page), :class => '' %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <%= will_paginate @search.results, :params => {:action => :show} %>
    
    <ol class="results">
      <%= render :partial => 'result', :collection => @search.results, :as => :entry, :locals => {:search => @search} %>
    </ol>
    
    <%= will_paginate @search.results, :params => {:action => :show} %>
  <% else %>
    <div class="errors">
      <p class="errors_header">No articles were found.</p>
    </div>  
  <% end %>
</div>
