<% title @search.term.blank? ? 'Article Search' : "Article Search Results for '#{h @search.term}'" %>
<%= feed_autodiscovery entries_search_url(params.except(:action).merge(:format => :rss, :order => 'date')), @search.summary, :search_conditions => (params[:conditions] || {}).except(:publication_date) %>

<% add_javascript :src => 'page_specific/search/search.js' %>
<% add_javascript :src => 'page_specific/search/jquery-ui-1.8.6.custom.min.js' %>

<h1 class="title"><span>Search Articles</span></h1>

<%= render :esi => entries_search_header_path(params.except(:action)) %>

<% unless @search.blank?%>
  <% if @search.valid? %>
    <div class="filters">
      <%= render :esi => entries_search_facets_path(params.except(:action).merge(:facet => 'publication_date')) unless @search.publication_date %>
      <%# TODO HELP-RUBY i know this doesn't go here. just wanted to stash it somewhere  %>
      <!-- <li><%#= sparkline(:data => @search.date_distribution.to_a.sort_by{|date, count| date}.map{|date, count| count}, :alt => "Monthly Distribution" ) %></li> -->
  
      <%= render :esi => entries_search_facets_path(params.except(:action).merge(:facet => 'type')) unless @search.type.present? %>
      <%= render :esi => entries_search_facets_path(params.except(:action).merge(:facet => 'section')) unless @search.section_ids.present? %>
      <%= render :esi => entries_search_facets_path(params.except(:action).merge(:facet => 'agency')) unless @search.agency_ids.present? %>
      <%= render :esi => entries_search_facets_path(params.except(:action).merge(:facet => 'topic')) unless @search.topic_ids.present? %>
    </div>

    <%= render :esi => entries_search_results_path(params.except(:action)) %>
  <% end %>
<% end %>