<li class="<%= 'top_level' if top_level %>">
  <a href="#" class="toc_title">
    <%= document_grouping.header %><%= count_pill(document_grouping.entry_count) %>

    <% if document_grouping.comments_open? %> 
      <div class="comment_open"></div>
    <% end %>
    <% if document_grouping.has_comments? %>
      <div class="comments_received"></div>
    <% end %>
    <% if document_grouping.significant? %>
      <div class="significant"></div>
    <% end %>
  </a>

  <div class="index_entries">
    <% document_grouping.entries.group_by(&:publication_month).each do |month, entries| %>
      <h6><%= month %></h6>

      <div class="entries_by_month"> 
        <% entries.each do |entry| %>
          <dl class="with_ajax_popover" data-document-title="<%= entry.title %>" data-document-number=<%= entry.document_number %> >
            <dt>Published:</dt>
            <dd><%= link_to entry.publication_date, short_entry_path(entry) %></dd>

            <dt>FR Document:</dt>
            <dd><%= link_to entry.document_number, short_entry_path(entry) %></dd>

            <dt><%= pluralize_without_count(entry.length, 'Page') %>:</dt>
            <dd class='pages'><%= link_to entry.page_range, entry.pdf_url %> <%= "(#{pluralize(entry.human_length, 'page')})" if entry.human_length > 1 %></dd>

            <dt></dt>
            <% if entry.comments_open? %>
              <dd class="comment_open"></dd>
            <% end %>

            <% if entry.comment_count > 0 %>
              <dd class="comments_received"></dd>
            <% end %>

            <% if entry.significant? %>
              <dd class="significant"></dd>
            <% end %>
          </dl>
        <% end %>
      </div>

    <% end %>
  </div>
</li>
