<% id = rand(100000) %> 
<li>
  <a href="javascript:" data-toggle="collapse" data-target="#<%= id %>" class="toc_title">
    <%= document_grouping.header %><%= count_pill(document_grouping.entry_count) %>

    <% if document_grouping.comments_open? %> 
      <div class="comment_open"></div>
    <% end %>
    <% if document_grouping.has_comments? %>
      <div class="comments_received"></div>
    <% end %>
    <% if document_grouping.significant? %>
      <div class="significant"></div>
    <% end %>
  </a>

  <div id="<%= id %>" class="index_entries" style="height: 0px; overflow-y: hidden">
    <% document_grouping.entries.group_by(&:publication_month).each do |month, entries| %>
      <h6><%= month %></h6>

      <div class="entries_by_month"> 
        <%= render :partial => "entry", :collection => entries %>
      </div>

    <% end %>
  </div>
</li>
