<% title "#{@year} FR Index" %>

<%= add_template('fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_template('fr_index_entry_popover_content', 'fr-index-entry-popover-content') %>

<div class="title"><span><%= @year %> FR Index</span></div>

<div id="fr-index-agency-metadata" class="page_summary">
  <h1><%= link_to @agency.name, agency_path(@agency) %></h1>

  <hr />

  <p>
    In <%= @year %> the <%= @agency.name %> <%= @year < Date.today.year ? "published" : "has published" %> 
    <%= pluralize @entries_by_granule_class.sum{|t,e| e.size}, "article" %>.
  </p>

  <table>
    <tr>
      <th>Article Type</th>
      <th>Articles Published</th>
      <th>Subjects Covered</th>
    </tr>
    <% @entries_by_granule_class.each do |type, entries_by_granule_class| %>
    <tr>
      <td class="type"><%= link_to Entry::ENTRY_TYPES[type].pluralize, "#fr-index-#{Entry::ENTRY_TYPES[type].pluralize.downcase}" %></td>
      <td class="entry_count"><%= entries_by_granule_class.size %></td>
      <td class="subject_count"><%= @entries_by_toc_subject.select{|t,e| t == type}.first.last.size %></td>
    </tr>
    <% end %>
  </table>
</div>

<% @entries_by_toc_subject.each do |type, entries_by_subject| %>
  <div class="entry_type" id="fr-index-<%= Entry::ENTRY_TYPES[type].pluralize.downcase %>">
    <h3>
      <%= Entry::ENTRY_TYPES[type].pluralize %>
      <a href="#fr-index-agency-metadata">back to top</a>
    </h3>
    <ul>
    <% entries_by_subject.each do |subject, entries_by_title| %>
      <% if subject %>
        <li>
          <%= subject %>
          <ul>
      <% end %>
      <% entries_by_title.each do |title, entries| %>
        <% id = rand(100000) %> 
        <li>
          <a href="javascript:" data-toggle="collapse" data-target="#<%= id %>" class="toc_title">
            <%= title %>
            <%= content_tag(:span, entries.count, :class => "count_pill") if entries.count > 1 %>
                   
            <% if entries.any?{|e| e.comments_open?} %> 
              <div class="comment_open"></div>
            <% end %>
            <% if entries.any?{|e| e.docket && e.docket.comments_count > 0} %> 
              <div class="comments_received"></div>
            <% end %>
            <% if entries.any?{|e| e.significant?} %>
              <div class="significant"></div>
            <% end %>
          </a>

          <div id="<%= id %>" class="index_entries" style="height: 0px; overflow-y: hidden">
            <% entries.group_by(&:publication_month).each do |month, entries| %>
              <h6><%= month %></h6>

              <div class="entries_by_month"> 
              <% entries.each do |entry| %>
                <dl class="with_ajax_popover" data-document-title="<%= entry.title %>" data-document-number=<%= entry.document_number %> >
                  <dt>Published:</dt>
                  <dd><%= link_to entry.publication_date, entry_path(entry) %></dd> 
                  
                  <dt>FR Document:</dt>
                  <dd><%= link_to entry.document_number, entry_path(entry) %></dd>
                  
                  <dt><%= pluralize_without_count(entry.human_length, 'Page') %>:</dt>
                  <dd class='pages'><%= link_to entry.page_range, entry.source_url('pdf') %> <%= "(#{pluralize(entry.human_length, 'page')})" if entry.human_length > 1 %></dd>

                  <dt></dt>
                  <% if entry.comments_open? %>
                    <dd class="comment_open"></dd>
                  <% end %>

                  <% if entry.docket && entry.docket.comments_count > 0 %>
                    <dd class="comments_received"></dd>
                  <% end %>

                  <% if entry.significant? %>
                    <dd class="significant"></dd>
                  <% end %>
                </dl>
              <% end %>
              </div>

            <% end %>
          </div>
        </li>
      <% end %>
      <% if subject %>
          </ul>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
