<% title "#{@fr_index.year} FR Index" %>

<div class="title"><span><%= @fr_index.year %> FR Index</span></div>

<div id="fr-index-metadata" class="page_summary">
  <h1><%= @fr_index.year %> Federal Register Index</h1>

  <hr />

  <p>
    This index provides descriptive entries and Federal Register page numbers
    for documents published in the daily Federal Register. It includes entries, 
    with select metadata for all documents published in the <%= @fr_index.year %> calendar year.
  </p>

  <p>
    Each agency below is followed by a count that represents the number of articles for 
    that agency in the <%= @fr_index.year %> FR Index. The count is omitted for agency publishing 
    less than 2 articles in a given year.
  </p>

  <% if @fr_index.last_published %>
    <p>
      <%= link_to "Download Approved #{@fr_index.last_published.to_s(:month_year)} Index (PDF)", @fr_index.published_pdf_path %>
    </p>
  <% end %>

  <p id="agency-jump-nav">
    Jump to Agencies: <%= @fr_index.agencies_by_letter.map{|letter,agencies| "<a href='##{letter}' class='letter_link'>#{letter}</a>"}.join(' | ') %>
  <p>

</div>

<div class="index_agencies">
  <% @fr_index.agencies_by_letter.each do |letter, agencies| %>
    <h3 id="<%= letter %>">
      <%= letter %>
      <a href="#fr-index-metadata">back to top</a>
    </h3>
    <ul>
    <% agencies.each do |agency| %>
      <li>
        <%= link_to agency.name, index_year_agency_path(@fr_index.year, agency) %>
        <%= count_pill(agency.entry_count) %>
        <% if agency.children.present? %>
        <ul>
          <% agency.children.each do |sub_agency| %>
            <li>
              <span class="see">See</span> 
              <%= link_to sub_agency.name, index_year_agency_path(@fr_index.year, sub_agency) %>
              <%= count_pill(sub_agency.entry_count) %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
