<% title "#{@agency_year.year} FR Index" %>

<%= add_template('fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_template('fr_index_entry_popover_content', 'fr-index-entry-popover-content') %>

<div class="title"><span><%= @agency_year.year %> FR Index</span></div>

<%= render :partial => "agency_year_header", :locals => {:agency_year => @agency_year} %>

<% @agency_year.document_types.each do |document_type| %>
  <%= render :esi => index_year_agency_type_path(@agency_year.year, @agency_year.agency, document_type.granule_class) %>
<% end %>
