<% title "Multiple documents were found for '#{@volume} FR #{@page}'" %>

<div class="title"><span><%= "#{@volume} FR #{@page}" %></span></div>

<div class="notice">
  <p>There are multiple documents on volume <strong><%= @volume %></strong>, page <strong><%= @page %></strong>. Which document are you looking for?</p>
</div>


<ul class="bullets clear">
<% @entries.each do |entry| %>
  <li>
    <%= link_to(entry.title, entry_path(entry)) %><br />
    <span class="pages"><%= entry_page_range(entry) %></span><br />
    <%= entry.entry_type.indefinite_article.capitalize %> <span class="type"><%= entry.entry_type %></span> by <span class="agencies"><%= agency_names(entry) %></span>
  </li>
<% end %>
</ul>
