<%= f.hidden_field :entry_id %>
<%= f.semantic_errors :place %>

<% f.inputs do %>
  <%= f.input :title, :input_html => { :size => '' } %>
  <%= f.input :date, :as => :string, :input_html => { :size => '' } %>
  <li class="location">
    <label>Location</label>
    <%= f.hidden_field(:place_id) %>
    <span id="event_place_name"><%= f.object.place.try(:name) %></span>
  </li>
  <% unless f.object.new_record? %>
  <li><label>Document</label>
    <%= link_to f.object.entry.document_number, entry_path(f.object.entry) %>
  </li>
  <% end %>
  <%= hidden_field_tag 'place[name]'%>
  <%= hidden_field_tag 'place[place_type]'%>
  <%= hidden_field_tag 'place[longitude]' %>
  <%= hidden_field_tag 'place[latitude]' %>
  <%= f.input :remote_call_in_available, :label => "Remote access available" %>
<% end %>

<% f.buttons do %>
  <%= f.commit_button 'Save' %>
<% end %>
