<li>
  <span class="date"><%= event.date %></span> - <%= event.place.try(:name) %>

  <ul class="more_info">
    <li><strong>Title:</strong> <%= event.title %></li>
    <li><strong>Date:</strong> <%= event.date %></li>
    <li><strong>Location:</strong> <%= event.place.try(:name) %></li>
    <li><strong>Remote Call-In?</strong> <%= event.remote_call_in_available ? 'Yes' : 'No' %></li>
  </ul>
  <%= link_to 'delete', '#', :class => "delete", 'data-id' => event.id %>
  
</li>