<% title 'Public Meetings' %>

<%= page_entries_info @events %>
<%= will_paginate @events %>
<table>
  <thead>
    <tr>
      <th><%= order @search, :as => 'Title', :by => :title %></th>
      <th><%= order @search, :as => 'Event Date', :by => :date %></th>
      <th><%= order @search, :as => 'Location', :by => {:place => :name} %></th>
      <th><%= order @search, :as => 'Document', :by => {:entry => :publication_date} %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.date %></td>
        <td><%= event.place.try(:name) %></td>
        <td><%= link_to event.entry.document_number, entry_path(event.entry) %> (<%= event.entry.publication_date %>)</td>
        <td>
          <%= link_to 'Edit', edit_admin_event_path(event) %>
          <%= link_to 'Delete', admin_event_path(event), :method => "DELETE", :confirm => "Are you sure you want to delete this?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @events %>
