<li id="<%= dom_id(highlighted_entry) %>" class='highlighted_entry' data-entry-id="<%= highlighted_entry.id %>">
  <%= image_tag(highlighted_entry.lede_photo.photo.url(:small)) if highlighted_entry.lede_photo %>
  <h4><%= link_to highlighted_entry.curated_title, edit_admin_issue_entry_path(highlighted_entry.publication_date.to_s(:db), highlighted_entry.document_number), :class => 'article_title' %></h4>
  <span class="date"><%= highlighted_entry.publication_date %></span>
  <a class="remove button grey mini">remove</a>
</li>
