<% super_title 'Sections' %>
<% title @section.name %>
<% add_javascript :src => 'admin/issues_sections_highlights' %>

<% nav_secondary(render :partial => 'nav', :locals => {:sections => @sections, :publication_date => @publication_date}) %>

<h3 class='grid_10'>Highlighted Entries</h3>

<ul id="highlighted" class='grid_10'>
<%= render :partial => "highlighted_entry", :collection => @highlighted_entries %>
</ul>


<h3 class='grid_10 push_2'>Entries in this section on <%= @publication_date %></h3>

<div class='grid_10 push_2'>
<% @section.entries.published_on(@publication_date).each do |entry| %>
  <article data-entry-id="<%= entry.id %>" class="<%= 'highlighted' if @highlighted_entries.include?(entry) %>">
    <h1><%= entry.curated_title %></h1>
    <p>
      <% if entry.significant? %>
        <span class="significant">Economically Significant</span>
      <% end %>
      Length: <%= pluralize entry.human_length, 'page' %>
    </p>
  </article>
<% end %>
</div>