<% super_title @section.title %>

<% add_javascript :src => 'admin/jqModal' %>
<% add_javascript :src => 'admin/issues_sections_highlights' %>

<% content_for :sidebar do %>

  <%= render :partial => 'nav', :locals => {
    :sections => @sections,
    :publication_date => @publication_date
  } %>

  <div class="section">
    <h4>Highlight A Document</h4>

    <%= semantic_form_for SectionHighlight.new, :remote => true, :url => admin_issue_section_highlights_path(@publication_date.to_s(:db), @section) do |f| %>
      <%= f.inputs do %>
        <%= f.input :entry_document_number, label: 'Document Number', as: :string %>
      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, :label => 'Highlight', :button_html => {:class => "btn btn-large btn-success"} %>
      <% end %>
    <% end %>
  </div>
<% end -%>

<div class='center_content preview'>
  <h2 class="section-header">
    Highlighted Entries
  </h3>

  <div class="page_summary">
    <h4>Homepage Carousel Preview</h4>

    <form action="/sections/carousel-preview" method="post" id="carousel-preview-form" target="carousel-preview">
      <input type="hidden" name="slug" value="<%= @section.slug %>" />
      <input type="hidden" name="highlighted_documents" value="<%= URI::DEFAULT_PARSER.escape(@highlighted_entries.map{|entry| highlighted_entry_hash(entry)}.to_json) %>" />
    </form>
    <div class="carousel-preview-wrapper">
      <iframe name="carousel-preview" src="" class="carousel-preview"></iframe>
    </div>
  </div>

  <ul id="highlighted" class='document-list'>
    <%= render partial: "highlighted_entry",
      collection: @highlighted_entries,
      locals: {
        redirect_to: admin_issue_section_path(@publication_date.to_s(:mdy_dash), @section)
      } %>
  </ul>

  <h2 class="section-header">
    Entries in '<%= @section.title %>'
    on <span class='small text'>
    <%= @publication_date %>
  </h2>

  <ul id='article_list' class='document-list'>
    <% @section.
         entries.
         published_on(@publication_date).
         sort_by{|x|
           [
             -ActiveRecord::Type::Integer.new.cast(x.significant),
             -( (x.start_page && x.end_page?) ? (x.end_page - x.start_page) : 9999999 ),
             x.start_page,
           ]
         }.
         each do |entry| %>
      <li>
        <% html5_tag('article', "data-entry-id" => entry.id, :class => "#{'highlighted' if @highlighted_entries.include?(entry)}") do %>
          <%= content_tag :h4, entry.curated_title, :title => entry.abstract %>

          <dl>
            <dt>Length:</dt>
            <dd><%= pluralize entry.human_length, 'page' %></dd>

            <dt>Type:</dt>
            <dd><%= entry.entry_type %></dd>

            <dt>Document Number:</dt>
            <dd><%= link_to entry.document_number, entry_path(entry), :target => "_blank" %></dd>

            <% if entry.significant? %>
              <dt>Economically Significant</dt>
              <dd></dd>
            <% end %>

            <% if entry.graphics.count > 0 || entry.gpo_graphics.count > 0 %>
              <dt>Contains Graphics</dt>
              <dd></dd>
            <% end %>
          </dl>

          <% unless @highlighted_entries.include?(entry) %>
            <a class="add button">highlight</a>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
