<% if entry.correction_of %>
  <div id="flash_message" class="correction_of">
    <p>
      <% if entry.republication? %>
        This document is a corrected republication of a document that was published on <%= entry.correction_of.publication_date %>.
      <% else %>
        This document is a correction of a document that was published on <%= entry.correction_of.publication_date %>.
      <% end %>
      <%= link_to 'View Uncorrected Document', entry_path(entry.correction_of), :class => "button" %>
    </p>
  </div>
<% end %>

<% if entry.corrections.present? %>
  <% entry.corrections.each do |correction| %>
    <div id="flash_message" class="correction">
      <p>
        <% if correction.republication? %>
          This document has been corrected and republished on <%= correction.publication_date %>.
          <%= link_to 'View Republication', entry_path(correction), :class => "button" %>
        <% else %>
          This document was corrected by a document published on <%= correction.publication_date %>.
          <%= link_to 'View Correction', entry_path(correction), :class => "button" %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
