<div class="aside_box">
  <h5>Regulations.gov Docket Information</h5>

  <dl class="metadata_list">
    <dt>Docket Number</dt>
    <dd><%= link_to docket.id, regulations_dot_gov_docket_url(docket.id), :target => "_blank" %></dt>

    <dt>Docket Name</dt>
    <dd><%= h docket.title %></dt>

    <% if docket.regulation_id_number.present? %>
      <dt>Docket RIN</dt>
      <% if docket.regulatory_plan %>
        <dd><%= link_to docket.regulation_id_number, regulatory_plan_path(docket.regulatory_plan), :title => docket.regulatory_plan.title, :class => "tip_left" %></dd>
      <% else %>
        <dd><%= docket.regulation_id_number %></dd>
      <% end %>
    <% end %>


    <% if entry.comment_url || docket.comments_count > 0 %>
      <dt>Public Comments</dt>
      <dd><%= link_to pluralize(docket.comments_count, 'comment'), regulations_dot_gov_docket_comments_url(docket.id), :target => "_blank" %></dd>
    <% end %>

    <% if docket.docket_documents.present? %>
      <dt>Supporting/Related Materials</dt>
      <% docket.docket_documents.sort_by(&:id).reverse[0..9].each do |doc| %>
        <dd><%= link_to truncate_words(doc.title, :length => 65), regulations_dot_gov_document_url(doc.id), :target => "_blank", :title => doc.title, :class => "tip_left" %></dd>
      <% end %>
      <% if docket.docket_documents.size > 10 %>
        <dd><strong><%= link_to "See all #{docket.docket_documents_count} supporting documents", regulations_dot_gov_docket_supporting_documents_url(docket.id), :target => "_blank" %></strong></dd>
      <% end %>
    <% end %>
  </dl>
</div>
