<div class="download_separator">
  <% if entry.publication_date > Date.parse('1995-01-01') %>
    <%= link_to "PDF", entry.source_url('pdf'), :class => 'button format list pdf', :title => 'Download as PDF (Official Edition)' %>
  <% end %>

  <%= add_template('developer_article_formats_modal', 'developer-article-formats-modal') %>
  <%
    formats = []
    if entry.publication_date > Date.parse('2000-01-01')
      formats << {:type => 'xml', :name => 'XML', :url => entry_xml_path(entry), :title => "Original full text XML"}
    end
    formats << {:type => 'mods', :name => 'MODS', :url => entry.source_url(:mods), :title => "Government Publishing Office metadata"}
    formats << {:type => 'json', :name => 'JSON', :url => api_v1_entry_url(entry.document_number), :title => "Normalized attributes and metadata"}
  %>
  <script text="javascript">
    var dev_formats = <%= {:formats => formats}.to_json %>;
  </script>
  
  <%= link_to "DEV", "#dev", :class => 'button format list dev', :id => "trigger-dev-modal", :title => 'View developer friendly formats' %>

  <% if entry.should_have_full_xml? %>
    <a href="#print_view" title="Print this page" class="button format list print" id="trigger_print">Print</a>
  <% end %>

  <% if entry.public_inspection_document %>
    <%= link_to "Public Inspection", entry.public_inspection_document.pdf.url(:with_banner, false), :class => 'button format list pi', :title => "Download Public Inspection Version (PDF)" %>
  <% end %>
</div>
