<% topics.each do |topic| %>
  <li>
    <h3 id='<%=topic.name%>'><%= topic.name %> <span class='top'><%= link_to 'back to top', "#top" %></h3>
    <ul>
    <% entries.select{|e| e.topic_ids.include?(topic.id)}.group_by(&:publication_date).each do |pub_date, entries| %>  
      <li>
        <h4><%= link_to pub_date.to_formatted_s(:pretty), entries_by_date_path(pub_date) %></h4>
        <ul class="indent raquo">
          <% entries.each do |entry| %>  
            <li><%= link_to truncate_words(entry.title, :length => 100), entry_path(entry) %></li>
          <% end %>
        </ul> 
      </li>
    <% end %>
    <% if entries.select{|e| e.topic_ids.include?(topic.id)}.empty? %>
      <li>No documents exist with this topic in the most recent 100 documesnt</li>
    <% end %>
    </ul>
  </li>
<% end %>
