<div class="section three_col_list">
<% entries.group_by{|e| e.publication_date.to_s(:year_month)}.sort_by{|date,entries| date}.reverse.each do |unused, entries| %>
    <h3><%= entries.first.publication_date.to_s(:month_year) %></h3>
    <div class="grouped_by_date">
    <% entries.group_by{|e| e.publication_date}.sort_by{|date, entries| date}.reverse.each do |pub_date, entries| %>  
      <div class="date"><%= link_to pub_date.to_formatted_s(:day_date), entries_by_date_path(pub_date) %></div>
      <ul class="comments">
        <% entries.sort_by(&:title).each do |entry| %>  
          <li>
            <div class="rule_type doc_<%= entry.granule_class.downcase == "sunshine" ? "notice" : entry.granule_class.downcase %> tipsy mini" 
                 data-tooltip="<%= entry.presidential_document_type.name if entry.presidential_document_type %>"
            >
              <%= image_tag 'icons/document_icons/document_icons_mini.png' %>
            </div>
            <%= link_to entry.title, entry_path(entry) %>
          </li>
        <% end %>
      </ul> 
    <% end %>
    </div>
<% end %>
</div>
