<h1><%= entry.title %></h1>

<div class="metadata_share_bar">
  <p class="metadata"><%= entry.entry_type.with_indefinite_article(true) %> by <span class="agencies"><%= agency_names(entry) %></span> on
    <%= link_to date_tag(entry.publication_date, :datetime => entry.publication_date.to_s(:iso)), entries_by_date_path(entry.publication_date) %>
  </p>

  <div class="share">
    <ul>
      <li class="clip_for_later">
        <%= render :partial => 'add_to_clipboard', :locals => {:entry => @entry} %>
      </li>
      <li><%= link_to "Email", new_entry_email_path(entry), :title => "Email this document to a friend", :class => 'button list social email tip_over' %></li>
      <li><%= link_to_twitter("#{short_entry_url(entry)} #gov20") %></li>
      <li><%= link_to_facebook(short_entry_url(entry), entry.title) %></li>
    </ul>
  </div>
</div>

