<h1><%= entry.title %></h1>

<div class="metadata_share_bar">
  <p class="metadata">A <%= entry.entry_type %> by <%= agency_names(entry) %> on
    <%= link_to date_tag(entry.publication_date, :datetime => entry.publication_date.to_s(:iso)), entries_by_date_path(entry.publication_date) %>
  </p>

  <div class="share">
    <%= link_to_twitter(entry) %>
    <%= link_to_facebook(entry) %>
    <%= link_to_reddit(entry) %>
    <%= link_to_digg(entry) %>
    <%# TODO HELP-RUBY make this real %>
    <a href="#" class="button list social email">E-Mail</a>
  </div>
</div>

