<dl class='metadata_list '>
  <% if entry.publication_date.present?     %><dt>Publication Date:</dt> <dd><%= link_to entry.publication_date.to_formatted_s(:pretty), entries_by_date_path(entry.publication_date) %></dd><% end %>
  <% if entry.action.present?               %><dt>Action:</dt>           <dd><%= entry.action.titlecase                         %></dd><% end %>
  <% if entry.dates.present?                %><dt>Dates:</dt>            <dd><%= add_citation_links(entry.dates)                %></dd><% end %>
  <% if entry.effective_on.present?         %><dt>Effective Date:</dt>   <dd><%= entry.effective_on                             %></dd><% end %>
  <% if entry.comments_close_on.present?    %><dt>Comments Close:</dt>   <dd><%= entry.comments_close_on                        %></dd><% end %>
  <% if entry.type.present?                 %><dt>Type: </dt>            <dd><%= entry.type                                     %></dd><% end %>
  <% if entry.agency_names.present?         %><dt><%= pluralize_without_count(entry.agency_names.size, 'Agency') %>:</dt>
     <% entry.agency_names.each do |agency_name| %>
       <dd><%= agency_name.name.downcase.capitalize_most_words %></dd>
     <% end %>
  <% end %>
  <% if entry.entry_type.present?           %><dt>Entry Type:</dt>       <dd><%= entry.entry_type                               %></dd><% end %>
  <% if entry.start_page != 0               %><dt>Page:</dt>             <dd><%= entry.start_page %><%= "-#{entry.end_page}" if entry.end_page != entry.start_page %> (<%= pluralize entry.human_length, 'page' %>)</dd>
                                              <dt>Document Citation:</dt>         <dd><span class="volume"><%= entry.volume %></span> FR <span class="page"><%= entry.start_page %></span></dd><% end %>
  
  <% if entry.entry_cfr_affected_parts.present? %>
    <dt>CFR:</dt>
    <% entry.entry_cfr_affected_parts.each do |affected_part| %>
      <dd><%= add_cfr_links("#{affected_part.title} CFR #{affected_part.part}", entry.publication_date) %></dd>
    <% end %>
  <% end %>
  
  <% if entry.docket_id.present?            %><dt>Docket ID:</dt>        <dd><%= entry.docket_id %></dd><% end %>
  <% if entry.entry_regulation_id_numbers.present? %>
    <dt>RIN:</dt>
    <% entry.entry_regulation_id_numbers.each do |e_rin| %>
      <dd><%= e_rin.current_regulatory_plan ? link_to(e_rin.regulation_id_number,regulatory_plan_path(e_rin.current_regulatory_plan)) : e_rin.regulation_id_number %></dd>
    <% end %>
  <% end %>
  <% if entry.document_number.present?      %><dt>Document Number:</dt>  <dd class="doc_number"><%= entry.document_number %></dd><% end %>
                                              <dt>Shorter URL:</dt>        <dd><%= link_to short_entry_url(entry),short_entry_url(entry), :class => "shorter_url" %></dd>
</dl>
