<% if facets.size > 1 %>
  <h4><%= name %></h4>
  <ul>
  <% facets.each do |facet| %>
    <li class="<%= 'on' if facet.on? %>">
       <%= link_to "#{facet.name}", params.recursive_merge(:search => {:page => nil, attribute => facet.id}), :class => 'facet_name' %>
       <span class='count'><%= facet.count %></span>
      <% if facet.on? %>
        <%= link_to 'remove', params.recursive_merge(:search => {:page => nil, attribute => nil})%>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
