<div id="current_issue">
    <%= link_to label, entries_by_date_path(issue.publication_date), :title => issue.publication_date.to_s(:wday_and_pretty_date), :class => 'issue'  %>

  <dl class="statistics">
    <dt>Notices</dt>
    <dd><%= link_to issue.notice_count, entries_search_path(:conditions => {:type => "NOTICE", :date => issue.publication_date.to_s(:db)}) %></dd>

    <dt>Proposed Rules</dt>
    <dd><%= link_to issue.proposed_rule_count, entries_search_path(:conditions => {:type => "PRORULE", :date => issue.publication_date.to_s(:db)}) %></dd>

    <dt>Rules</dt>
    <dd><%= link_to issue.rule_count, entries_search_path(:conditions => {:type => "RULE", :date => issue.publication_date.to_s(:db)}) %></dd>
  
    <% if issue.presidential_documents_count > 0 %>
      <dt>Presidential Documents</dt>
      <dd><%= link_to issue.presidential_documents_count, entries_search_path(:conditions => {:type => "PRESDOCU", :date => issue.publication_date.to_s(:db)}) %></dd>
    <% end %>
  
    <% if issue.significant_entries_count > 0 %>
      <dt>Significant Regulations</dt>
      <dd><%= issue.significant_entries_count %></dd>
    <% end %>
  
    <dt>Total Pages</dt>
    <dd><%= issue.total_pages %></dd>
  </dl>

</div>