<div id="current_issue">
  <%= link_to label, entries_by_date_path(issue.publication_date), :title => issue.publication_date.to_s(:wday_and_pretty_date), :class => 'issue'  %>
    
  <ul class="statistics">
    <li><%= link_to "<span>#{issue.notice_count}</span> #{pluralize_without_count issue.notice_count, "Notice"}", entries_search_path(:conditions => {:type => "NOTICE", :date => issue.publication_date.to_s(:db)}) %></li>
    <li><%= link_to "<span>#{issue.proposed_rule_count}</span> #{pluralize_without_count issue.proposed_rule_count, "Proposed Rule"}", entries_search_path(:conditions => {:type => "PRORULE", :date => issue.publication_date.to_s(:db)}) %></li>
    <li><%= link_to "<span>#{issue.rule_count}</span> #{pluralize_without_count issue.rule_count, "Rule"}", entries_search_path(:conditions => {:type => "RULE", :date => issue.publication_date.to_s(:db)}) %></li>
    <% if issue.presidential_documents_count > 0 %>
      <li><%= link_to "<span>#{issue.presidential_documents_count}</span> #{pluralize_without_count issue.presidential_documents_count, "Presidential Document"}", entries_search_path(:conditions => {:type => "PRESDOCU", :date => issue.publication_date.to_s(:db)}) %></li>
    <% end -%>
    <li><span><%= issue.total_pages %></span> Pages</li>
  </ul>
  <% if other_dates %>
    <%= link_to 'Browse this &amp; other dates', entries_by_date_path(issue.publication_date), :title => "Browse this & other dates", :class => 'other_dates'  %>
  <% end %>
</div>