<div id="current_issue">
    <%= link_to label, entries_by_date_path(IssueApproval.latest_publication_date), :title => IssueApproval.latest_publication_date.to_s(:wday_and_pretty_date), :class => 'issue'  %>

  <dl class="statistics">
    <dt>Notices</dt>
    <dd><%= issue.notice_count %></dd>

    <dt>Proposed Rules</dt>
    <dd><%= issue.proposed_rule_count %></dd>

    <dt>Rules</dt>
    <dd><%= issue.rule_count %></dd>
  
    <% if issue.presidential_documents_count > 0 %>
      <dt>Presidential Documents</dt>
      <dd><%= issue.presidential_documents_count %></dd>
    <% end %>
  
    <% if issue.significant_entries_count > 0 %>
      <dt>Significant Regulations</dt>
      <dd><%= issue.significant_entries_count %></dd>
    <% end %>
  
    <dt>Total Pages</dt>
    <dd><%= issue.total_pages %></dd>
  </dl>

</div>