<% feed_autodiscovery entries_path(:format => :rss) %>

<% title "Entries for #{@publication_date.to_formatted_s(:pretty)}" %>

<% content_for :precolumn do %>
  <div class="header group calendar">
  <h2>
    <%= pluralize(@entry_count, 'entry') %> published on this day
  </h2>
  
  <%= link_to( '', '#', :class => "icon cal", :title => "Click to show calendars" ) %>

  <% if @prev_date %>
    <%= link_to 'Prev', entries_by_date_path(@prev_date), :class => "icon arrow prev floatLeft" %>
  <% end %>

  <% if @next_date %>
    <%= link_to 'Next', entries_by_date_path(@next_date), :class => "icon arrow next floatRight" %>
  <% end %>
  </div>

  <div class="entry_calendars">
    <div class='search'>
      <% form_tag entries_exploration_path, :method => :GET, :class => "group" do %>
        Explore entries in recent months or search for a date:
        <%= text_field_tag :search, '', :title => "(eg 'last month', 'November 2', 'last October')" %>
        <%= submit_tag 'Go', :class => "btn" %>
      <% end %>
    </div>
    
    <%= entries_calendar_view(@year, @month) %>
    <% add_javascript(:src => 'calendar') %>
  </div>
<% end %>


<ul>
<% @agencies.group_by{|a| a.parent_id || a.id}.each do |parent_agency_id, agencies| %>
  <% agencies = agencies.sort{|a| (a.id == parent_agency_id) ? 1 : 0 } %>
  <% parent_agency = agencies.pop %>
  <li class="parent_agency">
    <h3><%= link_to parent_agency.name, agency_path(parent_agency) %> (<%= parent_agency.entries.size%>)</h3>
    <ul>
    <% parent_agency.entries.each do |entry| %>
      <li><%= link_to truncate(entry.title, :length => 100), entry_path(entry) %></li>
    <% end %>
    
    <% agencies.each do |agency| %>
      <li class="agency">
        <h4><%= link_to agency.name, agency_path(agency) %> (<%= agency.entries.size%>)</h4>
        <ul>
          <% agency.entries.each do |entry| %> 
            <li><%= link_to truncate(entry.title, :length => 100), entry_path(entry) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
  <% if @entries_without_agency.size > 0 %>
  <li class="parent_agency">
    <h3>Other Entries (<%= @entries_without_agency.size %>)</h3>
    <ul>
    <% @entries_without_agency.each do |entry| %>
      <li><%= link_to truncate(entry.title, :length => 100), entry_path(entry) %></li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<% content_for :sidebar do %>
  
  <% unless @data.blank? %>
    <h3>Top Agencies Reporting</h3>
     <div class='chart size_<%=@data.size%>'><%= pie_3d_chart(:alt => 'Top Agencies Reporting', :legend => @labels, :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :data => @values, :size => ['230','350'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
  
  <% unless @map.blank? %>
    <h3>Locations Mentioned<h3>
    <% add_javascript { @map.to_js } %>
    <div id="map" class='small_map'></div>
  <% end %>
<% end %>