<% feed_autodiscovery entries_path(:format => :rss) %>

<% title "Entries for #{@publication_date.to_formatted_s(:pretty)}" %>
<h1 class="title"><span><%= @publication_date %> Issue</span></h1>

<% if false %>
<div class="header group calendar controls">
  <h2>
    <%= pluralize(@entries.count, 'article') %> published on this day
  </h2>

  <%= link_to( '', '#', :class => "icon cal", :title => "Click to show calendars" ) %>

  <% if @prev_date %>
    <%= link_to 'Prev', entries_by_date_path(@prev_date), :class => "icon arrow prev floatLeft" %>
  <% end %>

  <% if @next_date %>
    <%= link_to 'Next', entries_by_date_path(@next_date), :class => "icon arrow next floatRight" %>
  <% end %>
</div>

<div class="entry_calendars">
  <div class='search'>
    <% form_tag entries_date_search_path, :method => :GET, :class => "group" do %>
      Explore entries in recent months or search for a date:
      <%= text_field_tag :search, '', :title => "(eg 'last month', 'November 2', 'last October')" %>
      <%= submit_tag 'Go', :class => "btn" %>
    <% end %>
  </div>
  
  <%= entries_calendar_view(@year, @month) %>
  <% add_javascript(:src => 'calendar') %>
</div>
<% end %>

<% @agencies.each do |agency| %>
  <h2 id="<%= dom_id(agency) %>"><%= agency.name %></h2>
  
  <% sub_agencies_on_this_page = agency.sub_agencies & @agencies %>
  <% if sub_agencies_on_this_page.present? %>
    <ul>
      <% sub_agencies_on_this_page.each do |sub_agency| %>
        <li>See <%= link_to sub_agency.name, '#' + dom_id(sub_agency) %></li>
      <% end %>
    </ul>
  <% end %>
  
  <% entries = agency.entries.select{|entry| entry.agencies_excluding_parents.include?(agency) }%>
  <% entries.group_by(&:entry_type).each do |type, entries_by_type| %>
    <h3><%= type.pluralize %></h3>
    <dl>
    <% entries_by_type.group_by(&:toc_subject).each do |toc_subject, entries_by_toc_subject| %>
      <% if toc_subject.present? %>
        <dt><%= toc_subject %></dt>
        <% entries_by_toc_subject.sort_by(&:toc_doc).each do |entry| %>
        <dd>
          <%= link_to entry.toc_doc, entry_path(entry) %>
        </dd>
        <% end %>
      <% else %>
        <% entries_by_toc_subject.sort_by(&:toc_doc).each do |entry| %>
        <dt>
          <%= link_to entry.title, entry_path(entry) %>
        </dt>
        <% end %>
      <% end %>
    <% end %>
    </dl>
  <% end %>
<% end %>

<% if @entries_without_agency.present? %>
  <%# THESE SHOULD NOT EXIST AT LAUNCH; NO STYLE NECESSARY %>
  <h2>Entries without agencies</h2>
  <% @entries_without_agency.group_by(&:agency_names).each do |agency_names, entries| %>
    <h3><%= agency_names.map(&:name).to_sentence %></h2>
    <ul>
    <% entries.each do |entry| %>
      <%= link_to entry.title, entry_path(entry) %>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% if false %>
  
  <% if @map.present? %>
    <h3>Locations Mentioned</h3>
    <% add_javascript { @map.to_js } %>
    <div id="map" class='small_map'></div>
  <% end %>
  
  <h3>Today's Entry Types</h3>
  <%= render :partial => 'entries/charts/by_type', :locals => {:entries => @entries} %>
  
  <h3>Top Agencies Reporting</h3>
  <%= render :partial => 'entries/charts/by_agency', :locals => {:agencies => @agencies, :entry_count => @entries.count} %>
<% end %>