<% feed_autodiscovery entries_path(:format => :rss) %>

<% title "Entries for #{@publication_date.to_formatted_s(:pretty)}" %>

<% content_for :precolumn do %>
  <div class="infobox">
    <p class='copy'>
      The Federal Register is published every day of the week, excluding weekends and holidays. The Register contains 
      an assortment of notices, proposed rules, final rules, requests for information and presidential documents. 
    </p>
    <p class='copy'> 
      You'll find today's entries listed below by agency, with the locations mentioned located on a map for you. You may 
      also navigate to any date by clicking on the calendar icon below to display calendars for recent months as well
      as a search box.
    </p>
  </div>

  <div class="header group calendar controls">
  <h2>
    <%= pluralize(@entries.size, 'entry') %> published on this day
  </h2>
  
  <%= link_to( '', '#', :class => "icon cal", :title => "Click to show calendars" ) %>

  <% if @prev_date %>
    <%= link_to 'Prev', entries_by_date_path(@prev_date), :class => "icon arrow prev floatLeft" %>
  <% end %>

  <% if @next_date %>
    <%= link_to 'Next', entries_by_date_path(@next_date), :class => "icon arrow next floatRight" %>
  <% end %>
  </div>

  <div class="entry_calendars">
    <div class='search'>
      <% form_tag entries_date_search_path, :method => :GET, :class => "group" do %>
        Explore entries in recent months or search for a date:
        <%= text_field_tag :search, '', :title => "(eg 'last month', 'November 2', 'last October')" %>
        <%= submit_tag 'Go', :class => "btn" %>
      <% end %>
    </div>
    
    <%= entries_calendar_view(@year, @month) %>
    <% add_javascript(:src => 'calendar') %>
  </div>
<% end %>


<ul>
<% @agencies.group_by{|a| a.parent_id || a.id}.each do |parent_agency_id, agencies| %>
  <% agencies = agencies.sort_by{|a| (a.id == parent_agency_id) ? 1 : 0 } %>
  <% parent_agency = agencies.pop %>
  <li class="parent_agency group open">
    <a class="showhide" href="#">Hide This Agencies Entries</a>
    <h3><%= link_to parent_agency.name, agency_path(parent_agency) %> <span class="entry_count"><%= pluralize( parent_agency.entries.size ," entry") %></span></h3>
    <ul class="raquo indent clear">
    <% parent_agency.entries.each do |entry| %>
      <li>
        <%= link_to entry.title, entry_path(entry) %>
        
        <dl class="group">
            <dt>Comments</dt>
            <dd>Open</dd>
            
            <dt>Type</dt>
            <dd><%= entry.entry_type if entry.has_type? %></dd>
            
            <dt>Length</dt>
            <dd><%= pluralize(entry.human_length, " page") %></dd>
            
            <dt>Cited</dt>
            <dd><%= pluralize(entry.citing_entries_count, " times") %></dd>
            
            <dt>Locations</dt>
            <dd><%= pluralize(entry.citing_entries_count, " places") %></dd>            
        </dl>
                
        <% if entry.abstract? %>
          <p><%= entry.abstract %></p>
        <% end %>
      </li>
    <% end %>
    
    <% agencies.each do |agency| %>
      <li class="agency">
        <a class="showhide" href="#">Hide This Agencies Entries</a>        
        <h4><%= link_to agency.name, agency_path(agency) %> <span class="entry_count"><%= pluralize( parent_agency.entries.size ," entry") %></span></h4>
        <ul class="raquo indent clear">
          <% agency.entries.each do |entry| %> 
            <li>
              <a class="showhide" href="#">Hide This Agencies Entries</a>
              <%= link_to entry_title(entry), entry_path(entry) %>
              <p class="info"><span class="type"><%= entry.entry_type if entry.has_type? %></span> <span class="pages"><%= pluralize(entry.human_length," page") %></span></p>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
  <% if @entries_without_agency.size > 0 %>
  <li class="parent_agency open">
    <a class="showhide" href="#">Hide This Agencies Entries</a>    
    <h3>Other Entries <span class="entry_count"><%= pluralize( @entries_without_agency.size ," entry") %></span></h3>
    <ul class="">
    <% @entries_without_agency.each do |entry| %>
      <li><%= link_to entry_title(entry), entry_path(entry) %></li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<% content_for :sidebar do %>
  
  <% if @map.present? %>
    <h3>Locations Mentioned</h3>
    <% add_javascript { @map.to_js } %>
    <div id="map" class='small_map'></div>
  <% end %>
  
  <h3>Today's Entry Types</h3>
  <%= render :partial => 'entries/charts/by_type', :locals => {:entries => @entries} %>
  
  <h3>Top Agencies Reporting</h3>
  <%= render :partial => 'entries/charts/by_agency', :locals => {:agencies => @agencies, :entry_count => @entries.size} %>
<% end %>