<% feed_autodiscovery entries_url(:format => :rss), 'All Documents from the Federal Register', :search_conditions => {} %>

<% if controller.action_name == 'current_issue' %>
  <% description "Today's Federal Register issue, including notices, proposed and final rules, and presidential documents." %>
<% else %>
  <% description "Notices, proposed and final rules, and presidential documents published in the Federal Register on #{@publication_date.to_formatted_s(:pretty)}." %>
<% end %>

<% title "Documents for #{@publication_date.to_formatted_s(:pretty)}" %>
<div class="title"><span><%= @publication_date %> Issue</span></div>

<%= render :partial => "statistics_by_date", :locals => {:issue => @issue, :label => @publication_date, :other_dates => false, :url => entries_by_date_path(@publication_date)} %>

<div id="content_area">

<% @agencies.each do |agency| %>
  <div class="title_bar">
    <h2 id="<%= agency.slug %>"><%= link_to agency.name, agency_path(agency) %></h2>
    <a href="#entries" class="back_to_top">Back to Top</a>
  </div>
  
  <% if agency.children.present? %>
    <ul>
      <% agency.children.each do |sub_agency| %>
        <li><span class="see">See</span> <%= link_to sub_agency.name, '#' + sub_agency.slug %> <span class="count_pill"><%= sub_agency.entries.to_a.size %></span></li>
      <% end %>
    </ul>
  <% end %>
  
  <% agency.entries_by_type_and_toc_subject.each do |type, entries_by_toc_subject| %>
    <h3><%= type.pluralize %></h3>
    <dl>
    <% entries_by_toc_subject.each do |toc_subject, entries_by_toc_subject| %>
      <% if toc_subject.present? %>
        <dt><%= toc_subject %></dt>
        <% entries_by_toc_subject.each do |entry| %>
        <dd>
          <%= render :partial => 'entry_with_page_and_frdoc', :locals => {:entry => entry, :entry_title => entry.toc_doc || entry.title } %>
        </dd>
        <% end %>
      <% else %>
        <% entries_by_toc_subject.each do |entry| %>
        <dt>
          <%= render :partial => 'entry_with_page_and_frdoc', :locals => {:entry => entry, :entry_title => entry.toc_doc || entry.title } %>
        </dt>
        <% end %>
      <% end %>
    <% end %>
    </dl>
  <% end %>
<% end %>


<% if @entries_without_agencies.present? %>
  <div class="title_bar">
    <h2>Other Documents</h2>
  </div>
  <% @entries_without_agencies.group_by(&:agency_names).each do |agency_names, entries| %>
    <h3><%= agency_names.map(&:name).to_sentence %></h3>
    <dl>
    <% entries.each do |entry| %>
      <dt><%= render :partial => 'entry_with_page_and_frdoc', :locals => {:entry => entry, :entry_title => entry.title } %></dt>
    <% end %>
    </dl>
  <% end %>
<% end %>

</div> <!-- END CONTENT AREA -->



<%# TODO HELP-DESIGN move this to the top of the markup and then pull it over %>
<% aside_tag(:id => 'sidebar') do %>
  
  <% section_tag(:id => 'date_chooser') do %>
    <div id="calendar_wrapper">
      <%= render :esi => entries_by_month_path(@publication_date, :current_date => @publication_date.to_s(:iso)) %>
    </div>
    
    <% form_tag entries_date_search_path, :method => :get, :id => "date_selector" do %>
      <label>Go to a specific date:</label>
      <%= text_field_tag :search, '', :placeholder => 'MM/DD/YYYY' %>
      <%= submit_tag 'Go' %>
    <% end %>
  <% end -%>
  <div class='aside_box subscribe'> 
    <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {}}), :class => 'subscription subscription_action' %>
    <%= add_template('subscription_modal', 'subscription-modal') %>
  </div>
  <% section_tag(:id => 'meta_toc') do %>
    <div class="TOC aside_box">
      <% if @publication_date > Date.parse('1995-01-01') %>
      <div class="download_separator">
        <%= link_to 'Download PDF', issue_pdf_url(@publication_date), :class => 'button format list pdf' %>        
      </div>
      <% end %>
      <ul>
        <% @agencies.each do |agency| %>
          <li>
            <a href="#<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div>    
  <% end -%>
  
<% end -%>
