<div id="ticker">
  <span class="date">Entries for <%= @entries.first.publication_date.to_formatted_s(:pretty) %></span>        
  <div class="daily group">
    <ul class="items">
    <% @entries.each_with_index do |entry, i| %>
      <li>    
        <%= link_to truncate("##{i+1} - #{entry.title}", :length => 97), entry_path(entry), :class => "entry tip" %>          
        <div class="tip">
          <dl>
            <dt>Full Title:</dt>
            <dd><%= entry.title %></dd>
            <% if entry.agency %>
              <dt>Agency:</dt>
              <dd><%= entry.agency.name %></dd>
            <% end %>
              <dt>Date Entered:</dt>
              <dd><%= entry.publication_date.to_formatted_s(:pretty) %></dd>
          </dl>            
          <p class="entry">Entry <%= i + 1 %> of <%= @entries.size %></p>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="pulse left"></div>
  <div class="pulse right"></div>
</div>