<% title @search.term.blank? ? 'Search Articles' : "Search Results for '#{h @search.term}'" %>
<% form_for :conditions, @search, :url => entries_search_path, :html => {:method => :get} do |f| %>
  <%= f.text_field :term %>
  <%= f.submit 'Search' %>
<% end %>

<% if @search.entries.size > 0 %>
  <div class="search_info group">
    <p class="entries"><%= page_entries_info @search.entries %></p>
    <%= will_paginate @search.entries %>
  </div>
  
  <ul>
    <% EntrySearch::SUPPORTED_ORDERS.each do |order| %>
      <li class="<%= 'on' if @search.order == order.downcase %>">
        <%= link_to order, params.merge(:order => order.downcase) %>
      </li>
    <% end %>
  </ul>
  <h3>Other Formats</h3>

  <%= link_to 'Subscribe to an RSS Feed of these search results.', params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil), :class => 'icon_rss' %>
  
  <% feed_autodiscovery url_for(params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil)) %>
  
  <%= link_to 'Embed these results as a widget on your website', widget_instructions_path(params.except(:action, :controller)), :class => 'icon_widget spawn_modal', :id => 'widget' %>

  <ol class="results">
    <% @search.entries.each do |entry| %>
    <li>
      <h4 class="title"><%= link_to sanitize(entry.excerpts.title, :tags => %w(span), :attributes => %w(class)), entry_path(entry) %></h4>
    
      <div class="result_info">
        <span class="date"><%= entry.publication_date %></span>
        <span class="excepts"><%= 
          if @search.term.blank? || entry.excerpts.full_text.blank?
            sanitize entry.excerpts.abstract, :tags => %w(span), :attributes => %w(class)
          else
            sanitize entry.excerpts.full_text, :tags => %w(span), :attributes => %w(class)
          end %></span>
        <br />
        <span class="agency"><%= entry.agencies.map{|agency| link_to(agency.name, agency_path(agency))}.join(' :: ') %></span>
      </div>  
    </li>
    <% end %>
  </ol>
  <div class="search_info group">
    <%= will_paginate @search.entries %>
  </div>
<% else %>
  <p>No entries were found.</p>
<% end %>

<h3>Know what you're looking for?</h3>
  <ul>
    <li class="simple">
      <%= render :partial => 'citations/form', :locals => {:page => ''} %>
    </li>
  </ul>

<% unless @search.blank? %>
  <%= sparkline(:data => @search.date_distribution.to_a.sort_by{|date, count| date}.map{|date, count| count}, :alt => "Monthl Distribution" ) %>
  
  <h3>Limit the Results</h3>
  <%= render :partial => "search_facets", :locals => {:facets => @search.section_facets,  :name => "Section",  :attribute => :section_ids}%>
  <%= render :partial => "search_facets", :locals => {:facets => @search.agency_facets,   :name => "Agency",   :attribute => :agency_ids}%>
  <%= render :partial => "search_facets", :locals => {:facets => @search.topic_facets,    :name => "Topic",    :attribute => :topic_ids}%>
  
<% end %>

<% content_for :widget do %>
<div id="modal_widget" class="modal_box group">
  <div class="modal_box_content">
    <%= render :partial => 'widget_instructions', :locals => { :permalink => true } %>
    <a href="" class="cancel">Close Window</a>
  </div>
</div>
<% end %>