<%# TODO HELP-RUBY do this better? %>
<% content_for :search_form %>

<% title @search_term.blank? ? 'Search Entries' : "Search Results for '#{h @search_term}'" %>

<% if @search_term.blank? %>
  <% content_for :precolumn do %>
    <div class="infobox">
      <p class='copy'>
        The ability to search the Federal Register is an important feature. <span class='gray'>gov</span><span class='orange'>pulse</span> 
        has imported the entire digitalized version of the Federal Register (available since 1994) and indexed the full 
        text of the entries, some as long as 280 pages! All search parameters can be used simultaneously allowing the 
        contruction of powerful queries.
      <p class='copy'> 
        The basic search allows the exploration of entries by keywords (any word found in the text) and by agency. The 
        advanced search features in the right column allow more powerful searches. Entries can be searched by entering 
        a location and an optional distance from that location, for example within 50 miles of Ann Arbor, Michigan.
        Entries can also be searched by publication date ranges.
      </p>
      <p class='copy'> 
        Searches also possess the ability to be sorted by the date of the entries or by their relevance to the complete 
        search parameters. And finally because keyword searches really only make sense in context, any entry returned by 
        a keyword search contains a short snippet of the text surrounding the keyword so that you are better able to choose 
        which entries to view.
      </p>
    </div>
    
  <% end %>
<% end %>

<div class="header  group">
  <ul>
    <li class="simple"><label>Keywords:</label><%= text_field_tag :q, @search_term %></li>
    
    <li class="simple"><label>Agency:</label><%= select_tag 'agency_id', options_for_select([''] + @agencies.collect{ |agency| [agency.name, agency.id.to_s] }, :selected => params[:agency_id]) %></li>
    
    <li class="simple"><label>Citation:</label>
      <%= render :partial => 'citations/form' %></li>
  </ul>
  
  <%= submit_tag 'Search', :class => 'btn' %>
</div>


<% if @entries %>
  <% if @entries.size > 0 %>
  
  <div class="search_info group">
    <p class="entries"><%= page_entries_info @entries %></p>
    <%= will_paginate @entries %>
  </div>
  
  <ol class="results">
    <% @entries.each do |entry| %>
    <li>
      <h4 class="title"><%= link_to entry.excerpts.title, entry_path(entry) %></h4>
      
      <div class="result_info">
        <span class="date"><%= entry.publication_date %></span>
        <span class="excepts"><%= 
          if @search_term.blank? || entry.excerpts.full_text_raw.blank?
            entry.excerpts.abstract
          else
            entry.excerpts.full_text_raw
          end %></span>
        <br />
        <span class="agency"><%= entry.agency ? link_to(entry.agency.name, agency_path(entry.agency)) : entry.primary_agency_raw %></span>
      </div>  
    </li>
    <% end %>
  </ol>
  <div class="search_info group">
    <%= will_paginate @entries %>
  </div>
  <% else %>
    <p>No entries were found.</p>
  <% end %>
<% end %>

<% content_for :sidebar do %>
<% if @entries && @entries.size > 0 %>
    <h3>Other Formats</h3>
    <%# TODO: HELP-DESIGN: HELP-COPY: Need RSS icon, some text here %>
    <p>Subscribe to an <%= link_to 'RSS Feed', params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil) %> of these search results.</p>
    <% feed_autodiscovery url_for(params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil)) %>
<% end %>

<h3>Advanced Search</h3>
<ul>
    <% if @topic %>
      <li class="simple">
        <label>Topic:</label><%= @topic.name %>
        <%= hidden_field_tag :topic_id, params[:topic_id] %>
      </li>
    <% end %>
    
    <li class="<%= 'simple' unless params[:place_id].blank? && params[:near].blank? %>">
      <fieldset>
        <legend>Location</legend>
        <ul>
        <% if @place %>
          <li class="simple"><label>In:</label><%= @place.name %>
            <%= hidden_field_tag :place_id, params[:place_id] %>
          </li>
        <% else %>
          <li class="simple"><label>Near:</label> <%= text_field_tag :near, params[:near] %> <span>(eg '94118', 'Seattle', etc.)</span></li> 
          <li class="simple"><label>Within:</label> <%= text_field_tag :within, @within %>   <span>miles</span></li>
        <% end %>
      </ul>
    </li>
    
    <li class="<%= 'simple' unless params[:publication_date_greater_than].blank? && params[:publication_date_less_than].blank? %>">
      <fieldset>
        <legend>Publication Date</legend>
        <ul>
          <li class="simple"><label>From:</label><%= text_field_tag :publication_date_greater_than, @start_date.try(:to_date) %></li>
          <li class="simple"><label>To:</label><%= text_field_tag :publication_date_less_than, @end_date.try(:to_date) %><span> (eg '01/01/09', '1 year ago', 'yesterday', etc.)</span></li>
        </ul>
      </fieldset>
    </li>
    
    <li class="<%= 'simple' if params[:order] == 'relevance' %>">
      <fieldset>
        <legend>Options</legend>
        <ul>  
          <li class="simple"><label>Order:</label><%= select_tag 'order', options_for_select([['Date', 'date'], ['Relevance', 'relevance']], :selected => params[:order]) %> </li>
        </ul>
    </fieldset>
  </li>
</ul>
<% end %>


