<% title "Search Results for '#{h @search_term}'" %>

<%# TODO: HELP-DESIGN: style me! %>
<form method="get">
  
  Keywords: <%= text_field_tag :q, @search_term %><br />
  <% if @topic %>
  Topic: <%= @topic.name %><br />
  <% end %>
  <% if @place %>
  In: <%= @place.name %><br />
  <% else %>
  Near: <%= text_field_tag :near, params[:near] %> (eg '94118', 'San Francisco', etc) (Within: <%= text_field_tag :within, params[:within] %> miles)<br />
  <% end %>
  Agency: <%= select_tag 'agency_id', options_for_select([''] + @agencies.collect{ |agency| [agency.name, agency.id.to_s] }, :selected => params[:agency_id]) %><br />
  Publication Date From: <%= text_field_tag :publication_date_greater_than, params[:publication_date_greater_than] %>
    To: <%= text_field_tag :publication_date_less_than, params[:publication_date_less_than] %> (eg '01/01/09', 'a year ago', 'yesterday')<br />
  Order: <%= select_tag 'order', options_for_select([['Date', 'date'], ['Relevance', 'relevance']], :selected => params[:order]) %> <br />
  <%= submit_tag 'Search' %>
 </form>

<%= page_entries_info @entries %>

<%= will_paginate @entries %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Title</th>
      <th>Agency</th>
      <th>Extract</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.publication_date %></td>
      <td><%= entry.action %></td>
      <td><%= link_to entry.excerpts.title, entry_path(entry) %></td>
      <td><%= entry.agency ? link_to(entry.agency.name, agency_path(entry.agency)) : entry.primary_agency_raw %></td>
      <td><%= entry.excerpts.full_text_raw.blank? ? entry.excerpts.abstract : entry.excerpts.full_text_raw %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @entries %>

<% content_for :sidebar do %>
  <h3>Other Formats</h3>
  <%# TODO: HELP-DESIGN: HELP-COPY: Need RSS icon, some text here %>
  <p>Subscribe to an <%= link_to 'RSS Feed', params.merge(:format => :rss, :order => 'date') %> of these search results.</p>
<% end %>