<%# TODO HELP-RUBY do this better? %>
<% content_for :search_form %>

<% title @search_term.blank? ? 'Search Entries' : "Search Results for '#{h @search_term}'" %>

<div class="header  group">
  <ul>
    <li class="simple"><label>Keywords:</label><%= text_field_tag :q, @search.search_term %></li>
    
    <li class="simple"><label>Agency:</label><%= select_tag 'agency_id', options_for_select([''] + @agencies.collect{ |agency| [agency.name, agency.id.to_s] }, :selected => @search.agency.try(:id).try(:to_s)) %></li>
    
      <% if @search.topic %>
        <li class="simple">
          <label>Topic:</label><%= @search.topic.name %>
          <%= hidden_field_tag :topic_id, params[:topic_id] %>
          <%= link_to '[X]', params.except(:topic_id) %>
        </li>
      <% end %>

      <li class="<%= 'simple' unless params[:place_id].blank? && params[:near].blank? %>">
        <fieldset>
          <legend>Location</legend>
          <ul>
          <% if @place %>
            <li class="simple"><label>In:</label><%= @place.name %>
              <%= hidden_field_tag :place_id, params[:place_id] %>
            </li>
          <% else %>
            <li class="simple"><label>Near:</label> <%= text_field_tag :near, params[:near] %> <span>(eg '94118', 'Seattle', etc.)</span></li> 
            <li class="simple"><label>Within:</label> <%= text_field_tag :within, params[:within] %>   <span>miles</span></li>
          <% end %>
        </ul>
      </li>

      <li class="<%= 'simple' unless params[:publication_date_greater_than].blank? && params[:publication_date_less_than].blank? %>">
        <fieldset>
          <legend>Publication Date</legend>
          <ul>
            <li class="simple"><label>From:</label><%= text_field_tag :publication_date_greater_than, @search.start_date.try(:to_date) %></li>
            <li class="simple"><label>To:</label><%= text_field_tag :publication_date_less_than, @search.end_date.try(:to_date) %><span> (eg '01/01/09', '1 year ago', 'yesterday', etc.)</span></li>
          </ul>
        </fieldset>
      </li>

      <li class="simple"><label>Order:</label><%= select_tag 'order', options_for_select([['Date', 'date'], ['Relevance', 'relevance']], :selected => params[:order]) %></li>
  </ul>
  
  <%= submit_tag 'Search', :class => 'btn' %>
</div>


<% if @search.entries.size > 0 %>
  <div class="search_info group">
    <p class="entries"><%= page_entries_info @search.entries %></p>
    <%= will_paginate @search.entries %>
  </div>
  
  <ol class="results">
    <% @search.entries.each do |entry| %>
    <li>
      <h4 class="title"><%= link_to sanitize(entry.excerpts.title, :tags => %w(span), :attributes => %w(class)), entry_path(entry) %></h4>
      
      <div class="result_info">
        <span class="date"><%= entry.publication_date %></span>
        <span class="excepts"><%= 
          if @search_term.blank? || entry.excerpts.full_text.blank?
            sanitize entry.excerpts.abstract, :tags => %w(span), :attributes => %w(class)
          else
            sanitize entry.excerpts.full_text, :tags => %w(span), :attributes => %w(class)
          end %></span>
        <br />
        <span class="agency"><%= entry.agency ? link_to(entry.agency.name, agency_path(entry.agency)) : entry.primary_agency_raw %></span>
      </div>  
    </li>
    <% end %>
  </ol>
  <div class="search_info group">
    <%= will_paginate @search.entries %>
  </div>
<% else %>
  <p>No entries were found.</p>
<% end %>

<% content_for :sidebar do %>
  <h3>Know what you're looking for?</h3>
  <ul>
    <li class="simple"><label>Citation:</label>
      <%= render :partial => 'citations/form' %>
    </li>
  </ul>
  
  <% if @search.entries && @search.entries.size > 0 %>
    <h3>Other Formats</h3>
    <%# TODO: HELP-DESIGN: HELP-COPY: Need RSS icon, some text here %>
    <p>Subscribe to an <%= link_to 'RSS Feed', params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil) %> of these search results.</p>
    <% feed_autodiscovery url_for(params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil)) %>
  <% end %>
  
  <% part_name_facets = @search.facets[:part_name] %>
  <% agency_facets = @search.facets[:agencies] %>
  <% topic_facets = @search.facets[:topics] %>
  <% if part_name_facets || agency_facets || topic_facets %>
    <h3>Limit the Results</h3>
    <% if part_name_facets %>
      <h4>Type</h4>
      <ul>
      <% part_name_facets.each do |part_name, count| %>
        <li><%= link_to "#{part_name} (#{count})", params.merge(:part_name => part_name) %></li>
      <% end %>
      </ul>
    <% end %>
    
    <% if agency_facets %>
      <h4>Agency</h4>
      <ul>
      <% agency_facets.each do |agency, count| %>
        <li><%= link_to "#{agency.name} (#{count})", params.merge(:agency_id => agency.id) %></li>
      <% end %>
      </ul>
    <% end %>
    
    <% if topic_facets %>
      <h4>Topic</h4>
      <ul>
      <% topic_facets.each do |topic, count| %>
        <li><%= link_to "#{topic.name} (#{count})", params.merge(:topic_id => topic.id) %></li>
      <% end %>
      </ul>
    <% end %>
    
  <% end %>
<% end %>


