<% title "Search Results for '#{h @search_term}'" %>

<%# TODO: HELP-DESIGN: style me! %>
<form method="get">
  Keywords: <%= text_field_tag :q, @search_term %><br />
  Near: <%= text_field_tag :near, params[:near] %> (eg '94118', 'San Francisco', etc) (Within: <%= text_field_tag :within, params[:within] %> miles)<br />
  Agency: <%= select_tag 'agency_id', options_for_select([''] + @agencies.collect{ |agency| [agency.name, agency.id.to_s] }, :selected => params[:agency_id]) %><br />
  Topic: <%= select_tag 'topic_ids', options_for_select([''] + @topics.collect{ |topic| [topic.name, topic.id.to_s] }, :selected => params[:topic_ids]) %><br />
  Publication Date From: <%= text_field_tag :publication_date_greater_than, params[:publication_date_greater_than] %>
    To: <%= text_field_tag :publication_date_less_than, params[:publication_date_less_than] %> (eg '01/01/09', 'a year ago', 'yesterday')<br />
 </form>

<%= page_entries_info @entries %>

<%= will_paginate @entries %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Title</th>
      <th>Agency</th>
      <th>Extract</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.publication_date %></td>
      <td><%= entry.action %></td>
      <td><%= link_to truncate(entry.title, :length => 100), entry_path(entry) %></td>
      <td><%= link_to(entry.agency.try(:name), agency_path(entry.agency)) if entry.agency %></td>
      <td><%= entry.excerpts.full_text_raw %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @entries %>
