<%# TODO HELP-RUBY do this better? %>
<% content_for :search_form %>

<% title @search_term.blank? ? 'Search Entries' : "Search Results for '#{h @search_term}'" %>
<% form_for :search, :url => entries_search_path, :html => {:method => :get} do %>
<div class="header group">
  <ul class="searchform">
    <li class="simple"><label>Keywords:</label><%= text_field_tag :q, @search.search_term %></li>
    <li class="simple"><label>Type:</label><%= select_tag :granule_class, options_for_select([''] + Entry::ENTRY_TYPES.except('Unknown').map{|key, value| [value, key]}, :selected => @search.granule_class) %>
    <li class="simple"><label>Agency:</label><%= select_tag 'agency_id', options_for_select([''] + @agencies.collect{ |agency| [agency.name, agency.id.to_s] }, :selected => @search.agency.try(:id).try(:to_s)) %></li>
    
      <% if @search.topic %>
        <li class="simple clearfix">
          <label>Topic:</label>
          <%= hidden_field_tag :topic_id, params[:topic_id] %>
          <%= link_to @search.topic.name, params.except(:topic_id), :class => "topic", :title => "Remove this topic" %>
        </li>
      <% end %>

      <li class="<%= 'simple' unless params[:place_id].blank? && params[:near].blank? %>">
          <ul>
          <% if @place %>
            <li class="simple"><label>In:</label><%= @place.name %>
              <%= hidden_field_tag :place_id, params[:place_id] %>
            </li>
          <% else %>
            <li class="simple">
              <label>Near:</label> <%= text_field_tag :near, params[:near], :title => "(eg '94118', 'Seattle', etc.)" %>
              <label class="nextto">Within:</label> <%= text_field_tag :within, params[:within], :title => "Miles", :class => "miles" %>            
            </li> 
          <% end %>
        </ul>
      </li>

      <li class="<%= 'simple' unless params[:publication_date_greater_than].blank? && params[:publication_date_less_than].blank? %>">
          <ul>
            <li class="simple">
              <label>From:</label><%= text_field_tag :publication_date_greater_than, @search.start_date.try(:to_date) %>
              <label class="nextto">To:</label><%= text_field_tag :publication_date_less_than, @search.end_date.try(:to_date) %>
              <span class="under">(eg '01/01/09', '1 year ago', 'yesterday', etc.)</span>         
              </li>
          </ul>
      </li>

      <li class="simple"><label>Order By:</label><%= select_tag 'order', options_for_select([['Date', 'date'], ['Relevance', 'relevance']], :selected => params[:order]) %></li>
  </ul>
  
  <%= submit_tag 'Search', :class => 'btn' %>
</div>
<% end %>

<% if @search.present? %>
  <% if @search.entries.size > 0 %>
    <div class="search_info group">
      <p class="entries"><%= page_entries_info @search.entries %></p>
      <%= will_paginate @search.entries %>
    </div>
  
    <ol class="results">
      <% @search.entries.each do |entry| %>
      <li>
        <h4 class="title"><%= link_to sanitize(entry.excerpts.title, :tags => %w(span), :attributes => %w(class)), entry_path(entry) %></h4>
      
        <div class="result_info">
          <span class="date"><%= entry.publication_date %></span>
          <span class="excepts"><%= 
            if @search.search_term.blank? || entry.excerpts.full_text.blank?
              sanitize entry.excerpts.abstract, :tags => %w(span), :attributes => %w(class)
            else
              sanitize entry.excerpts.full_text, :tags => %w(span), :attributes => %w(class)
            end %></span>
          <br />
          <span class="agency"><%= entry.agency ? link_to(entry.agency.name, agency_path(entry.agency)) : entry.primary_agency_raw %></span>
        </div>  
      </li>
      <% end %>
    </ol>
    <div class="search_info group">
      <%= will_paginate @search.entries %>
    </div>
  <% else %>
    <p>No entries were found.</p>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <h3>Know what you're looking for?</h3>
    <ul>
      <li class="simple">
        <%= render :partial => 'citations/form' %>
      </li>
    </ul>
  
  <% unless @search.blank? %>
    <% if @search.entries && @search.entries.size > 0 %>
      <h3>Other Formats</h3>
      <%# TODO: HELP-DESIGN: HELP-COPY: Need RSS icon, some text here %>
      <p>Subscribe to an <%= link_to 'RSS Feed', params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil) %> of these search results.</p>
      <% feed_autodiscovery url_for(params.merge(:format => :rss, :order => 'date', :publication_date_less_than => nil)) %>
      
      <%# TODO: HELP-DESIGN: HELP-COPY: instructions etc? %>
      <p>Embed these results as a <%= link_to 'widget', entries_widget_path(params.except(:controller, :action)) %></p>
    <% end %>
  
    <% granule_class_facets = @search.facets[:granule_classes] %>
    <% agency_facets = @search.facets[:agencies] %>
    <% topic_facets = @search.facets[:topics] %>
    <% if granule_class_facets || agency_facets || topic_facets %>
  
      <h3>Limit the Results</h3>
      <% if granule_class_facets %>
        <h4>Type</h4>

        <ul class="raquo indent">
        <% granule_class_facets.each do |granule_class, count| %>
          <li><%= link_to "#{Entry::ENTRY_TYPES[granule_class]} (#{count})", params.merge(:granule_class => granule_class) %></li>
        <% end %>
        </ul>
      <% end %>
    
      <% if agency_facets %>
        <h4>Agency</h4>
        <ul class="raquo indent">
        <% agency_facets.each do |agency, count| %>
          <li><%= link_to "#{agency.name} (#{count})", params.merge(:agency_id => agency.id) %></li>
        <% end %>
        </ul>
      <% end %>
    
      <% if topic_facets %>
        <h4>Topic</h4>
        <ul class="raquo indent">
        <% topic_facets.each do |topic, count| %>
          <li><%= link_to "#{topic.name} (#{count})", params.merge(:topic_id => topic.id) %></li>
        <% end %>
        </ul>
      <% end %>
    
    <% end %>
  <% end %>
<% end %>


