<%# TODO HELP-DESIGN i know this needs to change %>
<%# title "Search Results for '#{h @search_term}'" %>

<div class="header group"><h1>Search</h1><a href="#" class="options icon arrow closed">Show Options</a></div>

<%# TODO: HELP-DESIGN: style me! %>
<form method="get">
  <ul>
    <li class="simple"><label>Keywords:</label><%= text_field_tag :q, @search_term %></li>
    
    <% if @topic %>
      <li class="simple"><label>Topic:</label><%= @topic.name %></li>
    <% end %>
    
    <li class="simple"><label>Agency:</label><%= select_tag 'agency_id', options_for_select([''] + @agencies.collect{ |agency| [agency.name, agency.id.to_s] }, :selected => params[:agency_id]) %></li>
    
    <li>
      <fieldset>
        <legend>Location</legend>
        <ul>
      <% if @place %>
          <li><label>In:</label><%= @place.name %></li>
        <% else %>
          <li><label>Near:</label> <%= text_field_tag :near, params[:near] %> (eg '94118', 'San Francisco', etc) (Within: <%= text_field_tag :within, params[:within] %> miles)</li>
      <% end %>
      </ul>
    </li>
    
    <li>
      <fieldset>
        <legend>Publication Date</legend>
        <ul>
          <li><label>From:</label><%= text_field_tag :publication_date_greater_than, params[:publication_date_greater_than] %></li>
          <li><label>To:</label><%= text_field_tag :publication_date_less_than, params[:publication_date_less_than] %> (eg '01/01/09', 'a year ago', 'yesterday')</li>
        </ul>
      </fieldset>
    </li>
    
    <li>
      <fieldset>
        <legend>Options</legend>
        <ul>  
    <li><label>Order:</label><%= select_tag 'order', options_for_select([['Date', 'date'], ['Relevance', 'relevance']], :selected => params[:order]) %> </li>
    </ul>
    </fieldset>
  </li>

  <%= submit_tag 'Search', :class => 'btn' %>
 </form>

<%= page_entries_info @entries %>

<%= will_paginate @entries %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Title</th>
      <th>Agency</th>
      <th>Extract</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.publication_date %></td>
      <td><%= entry.action %></td>
      <td><%= link_to entry.excerpts.title, entry_path(entry) %></td>
      <td><%= entry.agency ? link_to(entry.agency.name, agency_path(entry.agency)) : entry.primary_agency_raw %></td>
      <td><%= entry.excerpts.full_text_raw.blank? ? entry.excerpts.abstract : entry.excerpts.full_text_raw %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @entries %>

<% content_for :sidebar do %>
  <h3>Other Formats</h3>
  <%# TODO: HELP-DESIGN: HELP-COPY: Need RSS icon, some text here %>
  <p>Subscribe to an <%= link_to 'RSS Feed', params.merge(:format => :rss, :order => 'date') %> of these search results.</p>
<% end %>