<!-- title                :text
identifier           :string(255)
link                 :string(255)
genre                :string(255)
part_name            :string(255)
citation             :string(255)
granule_class        :string(255)
document_number      :string(255)
toc_subject          :string(255)
toc_doc              :string(255)
length               :integer(4)
start_page           :integer(4)
end_page             :integer(4)
publication_date     :date
effective_date       :date
created_at           :datetime
updated_at           :datetime
places_determined_at :datetime -->

<h2><%= @entry.title %></h2>
<ul class='meta'>
  <li><%= @entry.publication_date.to_formatted_s(:pretty) %></li>
  <li>
  <% @entry.agencies.each do |agency| %>
    <%= link_to(agency.name, agency_path(agency) ) %><% unless agency == @entry.agencies.last %> :: <% end %>
  <% end %>
  </li>
</ul>

<ul class='details'>
  <% if !@entry.dates.nil?         %><li>Dates:         <%= @entry.dates                   %></li><% end %>
  <% if !@entry.action.nil?        %><li>Action:        <%= @entry.action.titlecase        %></li><% end %>
  <% if !@entry.type.nil?          %><li>Type:          <%= @entry.type                    %></li><% end %>
  <% if !@entry.genre.nil?         %><li>Genre:         <%= @entry.genre.titlecase         %></li><% end %>
  <% if !@entry.part_name.nil?     %><li>Part Name:     <%= @entry.part_name               %></li><% end %>
  <% if !@entry.granule_class.nil? %><li>Granule Class: <%= @entry.granule_class.titlecase %></li><% end %>
</ul>

<% unless @entry.url_references.blank? %>
  <ul class='references'>
  <% @entry.url_references.group_by(&:active).each do |active, url_references| %>
    <li>
      <%= active ? 'Active' : 'Broken' %>
      <ul>
      <% url_references.each do |url_reference| %>  
        <li><% url_reference.url.name %></li>
      <% end %>
      </ul>
    </li>
  <% end  %>
  </ul>
<% end %>

<p class='abstract'><%= @entry.abstract %></p>

<div class='sidebar'>
  <% unless @entry.contact.blank? %>
    <h3>Contact:</h3>
    <p><%= @entry.contact %></p>
  <% end %>
  
  <% unless @entry.topics.blank? %>
    <h3>Topics:</h3>
    <p><%= @entry.topics.join(' ') %></p>
  <% end %>
</div>
