<%= add_template('select_cfr_citation', 'select-cfr-citation') %>

<% title @entry.title %>
<% description truncate_words(strip_tags(@entry.abstract), :length => 300) %>

<h1 class="title"><span><%= @entry.entry_type %></span></h1>

<% article_tag('data-internal-id' => @entry.id) do %>
  
  <div id="metadata_content_area">
      <%= render :partial => "header", :locals => {:entry => @entry} %>
      
      <% if (@entry.comments_close_on.present? && @entry.comments_close_on >= Time.current.to_date) %>
        <div id="flash_message" class="comment">
          <p>This article has a comment period that ends <%= days_remaining( @entry.comments_close_on ) %>
          (<%= @entry.comments_close_on %>)  <%= link_to "Submit a formal comment", @entry.comment_url || '#addresses', :class => 'button', :target => (@entry.comment_url ? '_blank' : '') %>
          </p>
        </div>
      <% end -%>      
  </div> <!-- end metadata_content_area -->
  
  <% aside_tag(:id => 'sidebar') do %>
    
    <a href="#content_area" title="Skip the metadata" class="skip_to_content">Skip the metadata and jump to content</a>
    
    <%= render :partial => 'special/legal_disclaimer' %>
    
    <% section_tag(:id => 'font_controls') do %>
      <%= render :partial => 'font_controls' %>
    <% end -%>
        
    <div class="aside_box">
      <%= render :partial => 'download', :locals => {:entry => @entry} %>
      <%= render :partial => "metadata", :locals => {:entry => @entry} %>
      <% if @entry.previous_entry %>
        <%= link_to "Previous Article", entry_path(@entry.previous_entry), :title => @entry.previous_entry.title%>
      <% end %>
      <% if @entry.next_entry %>
        <%= link_to "Next Article", entry_path(@entry.next_entry), :title => @entry.next_entry.title %>
      <% end %>
    </div>  
    
    <% if @entry.topics.present? %>
      <% section_tag(:id => 'related_topics') do %>
        <h1 class="title_bar">Related Topics</h1>
        <ul class="bullets">
          <% @entry.topics.each do |topic| %>
            <li><%= link_to topic.name, topic_path(topic) %></li>
          <% end %>
        </ul>
      <% end -%>
    <% end %>  
  <% end -%> <!-- end aside tag -->
  
  <div id="content_area">
    <% if RAILS_ENV == 'development' %>
      <%= render(:partial => 'abstract', :locals => {:entry => @entry}) %>
    <% else %>
      <%= render :esi => entry_abstract_path(@entry) %>
    <% end %>
    
    <%= render :partial => "unified_agena" %>
  
    <div id="fulltext_content_area">
      <% if RAILS_ENV == 'development' %>
        <%= render :partial => 'full_text', :locals => {:entry => @entry} %>
      <% else %>
        <%= render :esi => entry_full_text_path(@entry) %>
      <% end %>
    </div> <!-- end fulltext_content_area area -->  
  
  </div> <!-- content_area end -->
  
<% end %> <!-- end article tag -->