<% title @entry.title %>

<% content_for :head do %>
 <link rev="canonical" type="text/html" href="<%= short_entry_url(@entry) %>" />
<% end %>


<h1 class="title"><span><%= @entry.entry_type %></span></h1>

  
<% if (@entry.comments_close_on.present? && @entry.comments_close_on >= Date.today) %>
  <div id="flash_message">
    <p>This article has a comment period that ends in <%= pluralize (@entry.comments_close_date.date - Entry.latest_publication_date), 'day' %>
    (<%= @entry.comments_close_date.date %>)</p>
  </div>
<% end -%>

<% article_tag do %>
  
  <div id="metadata_content_area">
  
    <h1><%= @entry.title %></h1>
    <%= render :partial => "metadata", :locals => {:entry => @entry} %>
    <%= render :partial => 'download_and_share', :locals => {:entry => @entry} %>
    <%= render( :partial => "regulatory_plan", :object => @entry.most_recent_regulatory_plan ) if @entry.most_recent_regulatory_plan %>
    
  </div> <!-- end content area -->

  <%= render :partial => 'aside', :locals => {:entry => @entry} %>
  
  <div id="fulltext_content_area">
  
    <%= render :partial => 'full_text', :locals => {:entry => @entry} %>

  </div> <!-- end content area -->  
  
<% end %> <!-- end article tag -->

</div>


