<% title @entry.title %>

<% content_for :javascripts do %>
<script>
  $(document).ready(function() {
    $('#congress').load('/location/congress');
  });
</script>
<% end %>

<% if @entry.abstract %>
  <h3>Abstract</h3>
  <p class='abstract'>
    <%= text_with_links(@entry, @entry.abstract) %>
  </p>
<% end %>

<div class="mod group">
  <div class="details">
    <h3>Details</h3>
    <dl class='fixed details group'>
      <% if !@entry.publication_date.blank?    %><dt>Publication Date:</dt>                 <dd><%= link_to @entry.publication_date.to_formatted_s(:pretty), entries_by_date_path(@entry.publication_date) %></dd><% end %>
      <% if !@entry.document_number.blank?     %><dt>Federal Register Document Number:</dt>
        <dd><%= @entry.document_number %> (<% [:html, :text, :pdf].each do |format| %>
                                               <%= link_to format, @entry.source_url(format), :class => format %>
                                           <% end %><%= link_to( 'regulations.gov', "http://www.regulations.gov/search/Regs/home.html#documentDetail?R=#{@entry.regulationsdotgov_id}") unless @entry.regulationsdotgov_id.blank? %>)</dd><% end %>
      <% agency = display_agencies_for_entry(@entry) %>
      <% if !agency.blank?                     %><dt>Publishing Agency:</dt><dd><%= display_agencies_for_entry(@entry)              %></dd><% end %>
      <% if !@entry.dates.blank?               %><dt>Dates:</dt>            <dd><%= text_with_links(@entry, @entry.dates)           %></dd><% end %>
      <% if !@entry.effective_date.blank?      %><dt>Effective Date:</dt>   <dd><%= @entry.effective_date                           %></dd><% end %>
      <% if !@entry.comments_close_date.blank? %><dt>Comments Close:</dt>   <dd><%= @entry.comments_close_date                      %></dd><% end %>
      <% if !@entry.action.blank?              %><dt>Action:</dt>           <dd><%= @entry.action.titlecase                         %></dd><% end %>
      <% if !@entry.type.blank?                %><dt>Type: </dt>            <dd><%= @entry.type                                     %></dd><% end %>
      <% if !@entry.genre.blank?               %><dt>Genre:</dt>            <dd><%= @entry.genre.titlecase                          %></dd><% end %>
      <% if !@entry.part_name.blank?           %><dt>Part Name:</dt>        <dd><%= @entry.part_name                                %></dd><% end %>
      <% if !@entry.granule_class.blank?       %><dt>Granule Class:</dt>    <dd><%= @entry.granule_class.titlecase                  %></dd><% end %>
    </dl>
  </div>
</div>

<% unless @entry.url_references.blank? %>
  <h3>References</h3>
  <ul class='references'>
  <% urls = @entry.url_references.map{|ref| ref.url} %>
  <% urls.group_by(&:active).each do |active, urls| %>
    <li>
      <%= active ? 'Active' : 'Broken' %>
      <ul>
      <% urls.each do |url| %>  
        <li><%= link_to url.name, "#{url.name}" %></li>
      <% end %>
      </ul>
    </li>
  <% end  %>
  </ul>
<% end %>

<% if @entry.full_text_raw %>
<h3>Full text</h3>
<div class="fulltextWrapper span-16">
  <pre><%=
    # FIXME: move out of view!
    text = truncate(
      @entry.full_text_raw,
      :length => 120000,
      :omission => "<br /><br /><br />[ENTRY TRUNCATED: " + link_to('view full text', @entry.source_url(:text)) + "]</pre>"
    )
    
    text.sub!(/.*^-{71}$/m, '')
    text.gsub!(/<\/?INF>/, '')
    text.gsub!(/\[deg\]/, '&deg;')
    text.gsub!(/<A HREF="[^"]+">\s*([^<]+)<\/A>/, 'http://\1')
    text.gsub!(/^\[GRAPHIC\].*/, '')
    text.gsub!(/\s+\[\[Page \d+\]\]\s*/m, " ")
    # text.gsub!(/\n\n([A-Z].*(?:\n^\S.*)*)/, "\n\n<h3>\\1</h3>")
    # text.gsub!(/^    (.+(?:\n^\S.*)*)/, "<p>\\1</p>\n")
    text = add_citation_links(text)
    text.sub!(/<\/pre>.*/m, '')
    
    text.sub!(/\A\s+/, '')
    text.sub!(/\s+\Z/, '')
    text
  -%>
  </pre>
</div>
<% end %>


<% content_for :sidebar do %>
  <h3 class="hAction">
    Speak Up 
    <span class='small_link'>(<%= link_to 'change location', edit_location_path %>)</span>
  </h3> 
  
  <% if !@entry.comment_url.blank? && (@entry.comments_close_date.nil? || @entry.comments_close_date >= Date.today) %>
    <p><%= link_to "Submit a formal comment", @entry.comment_url %>. The agency is required to respond in a future FR entry.</p>
  <% end %>
  <div id="congress">
    <h5>Your Senators</h5>
    <p class="loading">Loading<img src="/images/ticker_loading.gif" alt="loading" /></p>
    <h5>Your Representative</h5>
    <p class="loading">Loading<img src="/images/ticker_loading.gif" alt="loading" /></p>
  </div>

  <h3>Gather a Crowd</h3>
  <ul class='social'>
    <li id='twitter'    ><%= link_to_twitter(@entry)         %></li>
    <li id='facebook'   ><%= link_to_facebook(@entry)        %></li>
    <li id='digg'       ><%= link_to_digg(@entry)            %></li>
    <li id='reddit'     ><%= link_to_reddit(@entry)          %></li>
  </ul>
  <p>
    Or share a tiny url:
    <span class='social' id='tiny_pulse'> 
      <%= link_to short_entry_url(@entry), short_entry_url(@entry) %> 
      <%= clippy(short_entry_url(@entry)) %>
    </span>
  </p>

  <% unless @entry.contact.blank? %>
    <!-- <h3 class="icon contact">Contact:</h3> -->
    <h3>Contact</h3>
    <p><%= auto_link @entry.contact %></p>
  <% end %>

  <% unless @entry.topics.blank? %>
    <h3>Topics:</h3>
    <ul>
      <% @entry.topics.each do |topic| %>
        <li><%= link_to topic.name, topic_group_path(topic.group_name) %></li>
      <% end %>
    </ul>  
  <% end %>

  
  <h3>Document</h3>
  <ul class='document'>
    <li>Length:     <%= @entry.human_length %></li>
    <li>Start Page: <%= @entry.start_page   %></li>
    <li>End Page:   <%= @entry.end_page     %></li>
  </ul>
  

  <% unless @entry.places.usable.blank? %>
    <h3>Places Mentioned</h3>
    <% add_javascript { @map.to_js } %>
    <div id="map" style="width: 230px; height: 350px"></div>
  <% end %>

  <% unless @entry.citations.blank? %>
    <h3>Citations</h3>
    <ul>
    <% @entry.citations.each do |citation| %>
      <li><%= link_to_if citation.url, citation.name, citation.url %><%= ": #{citation.cited_entry.title}" if citation.cited_entry%></li>
    <% end %>
    </ul>
  <% end %>
  
  <% unless @entry.referencing_entries.blank? %>
    <h3>Entries Referencing This</h3>
    <ul>
    <% @entry.referencing_entries.each do |entry| %>
      <li><%= link_to entry.citation, entry_path(entry) %>: <%= entry.title %> (<%= entry.publication_date %>)</li>
    <% end %>
    </ul>
  <% end %>
<% end %>
