<%= add_template('select_cfr_citation', 'select-cfr-citation') %>
<%= add_template('paragraph_citation_box', 'paragraph-citation-box') %>

<% title @entry.title %>
<% description truncate_words(strip_tags(@entry.abstract), :length => 300) %>

<div class="title"><span><%= @entry.entry_type %></span></div>

<% article_tag('data-internal-id' => @entry.id) do %>
  
  <div id="metadata_content_area">
      <%= render :partial => "header", :locals => {:entry => @entry} %>
      
      <% if (@entry.comments_close_on.present? && @entry.comments_close_on >= Time.current.to_date) || (@entry.comment_url.present? && @entry.publication_date.to_time > 4.months.ago) %>
        <% comment_date = @entry.comments_close_on %>
        <div id="flash_message"
          class="comment"
          data-document-number="<%= @entry.document_number %>"
          data-reggov-agency="<%= @entry.regulations_dot_gov_agency_id %>">
          <p>
            <% if comment_date && comment_date >= Date.current %>
              This document has a comment period that ends <%= days_remaining( comment_date) %>
              (<%= comment_date %>)
            <% else %>
              Comments on this document are being accepted at Regulations.gov
            <% end %>
            
            <% if @entry.comment_url.present? %>
              <%= link_to "Submit a formal comment",
                @entry.comment_url,
                :id => 'start_comment',
                :class => 'button formal_comment reg_gov_comment',
                :target => '_blank',
                :'data-comment' => 1 %>
            <% else %>
              <%= link_to "How To Comment",
                '#addresses',
                :id => 'start_comment',
                :class => 'button formal_comment how_to_comment' %>
            <% end %>
          </p>
        </div>
        <% if @entry.docket && @entry.docket.comments_count && @entry.docket.comments_count > 0 && ! @entry.docket.placeholder? %>
          <p id="comment_count">Read the <%= link_to pluralize(@entry.docket.comments_count, 'submitted public comment'), regulations_dot_gov_docket_comments_url(@entry.docket.id), :target => "_blank" %></p>
        <% end %>
      <% end -%>      

      <%= render :partial => "corrections", :locals => {:entry => @entry } %>

      <% unless @entry.should_have_full_xml? %>
        <div id="flash_message" class="pdf_only">
          <p>
            <% if @entry.publication_date > Date.new(1995,1,1) %>
              The full text of this document is currently only available in <%= link_to 'PDF format', @entry.source_url('pdf') %>.
              <%= link_to 'Download PDF', @entry.source_url('pdf'), :class => "button" %>
            <% else %>
              The full text of this document is currently only available in <%= link_to 'a basic text format', @entry.source_url('text') %>.
              <%= link_to 'View Text', @entry.source_url('text'), :class => "button" %>
            <% end %>
          </p>
        </div>
      <% end %>
  </div> <!-- end metadata_content_area -->
  
  <% aside_tag(:id => 'sidebar') do %>
    
    <a href="#content_area" title="Skip the metadata" class="skip_to_content">Skip the metadata and jump to content</a>

    <% section_tag(:id => 'navigation_controls') do %>
      <% if @entry.previous_entry %>
        <%= link_to "Previous Document", entry_path(@entry.previous_entry, :utm_source => 'Article', :utm_medium => 'PrevNext', :utm_content => 'previous'), :title => @entry.previous_entry.title, :class => 'prev'%>
      <% end %>
      <% if @entry.next_entry %>
        <%= link_to "Next Document", entry_path(@entry.next_entry, :utm_source => 'Article', :utm_medium => 'PrevNext', :utm_content => 'next'), :title => @entry.next_entry.title, :class => 'next' %>
      <% end %>
    <% end -%>    
    
    <%= render :partial => 'special/legal_disclaimer' %>

    <% section_tag(:id => 'font_controls') do %>
      <%= render :partial => 'font_controls' %>
    <% end -%>
        
    <div class="aside_box">
      <%= render :partial => 'download', :locals => {:entry => @entry} %>
      <%= render :partial => "metadata", :locals => {:entry => @entry} %>
    </div>  
    
    <% if @entry.topics.present? %>
      <% section_tag(:id => 'related_topics') do %>
        <h1 class="title_bar">Related Topics</h1>
        <ul class="bullets">
          <% @entry.topics.each do |topic| %>
            <li><%= link_to topic.name, topic_path(topic) %></li>
          <% end %>
        </ul>
      <% end -%>
    <% end %>  

    <%= render(:partial => "docket", :locals => {:docket => @entry.docket, :entry => @entry }) if @entry.docket && !@entry.docket.placeholder?%>
  <% end -%> <!-- end aside tag -->
  
  <div id="content_area">
    <% if @entry.should_have_full_xml? %>    
      <% if @entry.action.present? %>
        <div class="header_column">
          <h1>Action</h1>
        </div>
        <div class="body_column">
          <p><%= @entry.action.titlecase %></p>
        </div>
      <% end %>

      <% if RAILS_ENV == 'development' %>
        <%= render(:partial => 'abstract', :locals => {:entry => @entry}) %>
      <% else %>
        <%= render :esi => entry_abstract_path(@entry) %>
      <% end %>

      <%= render :partial => "unified_agena" %>
    
      <div id="fulltext_content_area">
        <% if RAILS_ENV == 'development' %>
          <%= render :partial => 'full_text', :locals => {:entry => @entry} %>
        <% else %>
          <%= render :esi => entry_full_text_path(@entry) %>
        <% end %>
      </div> <!-- end fulltext_content_area area -->  
    
    <% end %>
  </div> <!-- content_area end -->
  
<% end %> <!-- end document tag -->
