<% form_for :conditions, search, :html => {:method => :get} do |f| %>
<h4>Near</h4>
<ul>
  <li class="location">
    <% search.conditions.except("location", "within").each do |attr, vals| %>
      <% if vals.is_a?(Array)%>
        <% vals.each do |val| %>
          <%= f.text_field attr, :id => '', :value => val, :multiple => true %>
        <% end %>
      <% else%>
        <%= f.text_field attr, :id => '', :value => vals %>
      <% end %>
    <% end %>
    <%= f.text_field :location, :placeholder =>  "Zip Code", :class => 'zip' %>
    <%= f.select :within, %w(5 10 25 50 100 200).map{|n| ["#{n} miles", n]} %>
    <%= f.submit 'Go', :class => 'submit' %>
  </li>
</ul>
<% end %>