<% form_for :conditions, search, :html => {:method => :get} do |f| %>
<h4>Near</h4>
<ul>
  <li class="location">
    <% search.conditions.except("near").each do |attr, vals| %>
      <% if vals.is_a?(Array)%>
        <% vals.each do |val| %>
          <%= f.hidden_field attr, :id => '', :value => val, :multiple => true %>
        <% end %>
      <% else%>
        <%= f.hidden_field attr, :id => '', :value => vals %>
      <% end %>
    <% end %>
    <% f.fields_for :near, f.object.near  do |location_f| %>
      <%= location_f.text_field :location, :placeholder =>  "Zip Code", :class => 'zip' %>
      <%= location_f.select :within, [5, 10, 25, 50, 100, 200].map{|n| ["#{n} miles", n]}, :selected => location_f.object.try(:within) || ApplicationSearch::PlaceSelector::DEFAULT_WITHIN %>
    <% end %>
    <%= f.submit 'Go', :class => 'submit' %>
  </li>
</ul>
<% end %>