<ul class="tabs">
  <% if selected == :entries %>
    <li class="on"><%= link_to 'Documents', entries_search_path(:conditions => {:term => search.term}) %></li>
  <% else %>
    <li><%= link_to "Documents <span class=\"number_of_results\">#{number_with_delimiter search.entry_count}</span>", entries_search_path(:conditions => {:term => search.term}) %></li>
  <% end %>

  <% if selected == :public_inspection %>
    <li class="on"><%= link_to 'Public Inspection', public_inspection_search_path(:conditions => {:term => search.term}) %></li>
  <% else %>
    <li><%= link_to "Public Inspection <span class=\"number_of_results\">#{number_with_delimiter search.public_inspection_document_count}</span>", public_inspection_search_path(:conditions => {:term => search.term}) %></li>
  <% end %>
  
  <% if selected == :events %>
    <li class="on"><%= link_to 'Events', events_search_path(:conditions => {:term => search.term}) %></li>
  <% else %>
    <li><%= link_to "Events <span class=\"number_of_results\">#{number_with_delimiter search.event_count}</span>", events_search_path(:conditions => {:term => search.term}) %></li>
  <% end %>

  <% if selected == :regulatory_plans %>
    <li class="on"><%= link_to 'Unified Agenda Items', regulatory_plans_search_path(:conditions => {:term => search.term}) %></li>
  <% else %>
    <li><%= link_to "Unified Agenda Items <span class=\"number_of_results\">#{number_with_delimiter search.regulatory_plan_count}</span>", regulatory_plans_search_path(:conditions => {:term => search.term}) %></li>
  <% end %>
</ul>
