<li class="<%= event.type.sub(/\s+/, '_').downcase %> event" data-event-id="<%= event.id %>">
  <h4><%= link_to sanitize(event.excerpts.title, :tags => %w(span), :attributes => %w(class)), entry_path(event.entry) %></h4>

  <span class="excerpts"><%= 
    if event.excerpts.entry_full_text.present?
      sanitize event.excerpts.entry_full_text, :tags => %w(span), :attributes => %w(class)
    end %></span>

  <dl>
    <dt>Type</dt>
    <dd><%= event.type %></dd>
    <% if event.place %> <%# TODO HELP-DESIGN reconsider this when you find one with this %>
      <dt>Location</dt>
      <dd><%= event.place.name %></dd>
    <% end %>
    <dt>Agency</dt>
    <% event.entry.agencies.excluding_parents.each do |agency| %>
      <dd><%= link_to(agency.name, agency_path(agency)) %></dd>
    <% end -%>
    <% if event.entry.sections.size > 0 %>
      <dt>Sections</dt>
      <% event.entry.sections.each do |section| %>
        <dd class="icon <%= section.slug %> half_size icon_<%= section.slug %>_half_size"><%= section.title %></dd>
      <% end %>
    <% end -%>
  </dl>

  
  <div class="result_info">
    <ul class="actions">
      <li><%= link_to "Download Event", event_path(event, :format => :ics), :class => 'icon download', :title => 'Download Event' %></li>
      <li><%= link_to "Add to Calendar", event_path(event), :class => 'icon add_to_calendar', :title => 'Add to Calendar' %></li>
    </ul>
    
  </div>  
</li>