<li>
  <h4><%= event.type %>: <%= link_to sanitize(event.excerpts.title, :tags => %w(span), :attributes => %w(class)), entry_path(event.entry) %></h4>

  <div class="result_info">
    <% event.entry.sections.each do |section| %>
      <span class="icon <%= section.slug %>"><%= section.title %></span>
    <% end %>
    <span class="excepts"><%= 
      if event.excerpts.entry_full_text.present?
        sanitize event.excerpts.entry_full_text, :tags => %w(span), :attributes => %w(class)
      end %></span>
    <% if event.place %>
      <span class="location"><%= event.place.name %></span>
    <% end %>
    <br />
    <span class="agency"><%= event.entry.agencies.excluding_parents.map{|agency| link_to(agency.name, agency_path(agency))}.join(' :: ') %></span>
  </div>  
</li>