<li class="<%= event.type.sub(/\s+/, '_').downcase %>">
  <h4><%= link_to sanitize(event.excerpts.title, :tags => %w(span), :attributes => %w(class)), entry_path(event.entry) %></h4>

  <div class="result_info">
    <span class="excerpts"><%= 
      if event.excerpts.entry_full_text.present?
        sanitize event.excerpts.entry_full_text, :tags => %w(span), :attributes => %w(class)
      end %></span>
    <% if event.place %>
      <span class="location"><%= event.place.name %></span>
    <% end %>
    <span class="agency"><%= event.entry.agencies.excluding_parents.map{|agency| link_to(agency.name, agency_path(agency))}.join(' :: ') %></span>
    
    <div class="sections">
      <% event.entry.sections.each do |section| %>
        <span class="icon <%= section.slug %>"><%= section.title %></span>
      <% end %>
    </div>
    
    <ul class="actions">
      <li><%= link_to "Download Event", event_path(event, :format => :ics), :class => 'icon download' %></li>
      <li><%= link_to "Add to Calendar", event_path(event), :class => 'icon add_to_calendar' %></li>
    </ul>
    
  </div>  
</li>