<% unless @search.valid? %>
  <div class="errors">
    <p class="errors_header">The following errors were found with your search: </p>
    <ul class="bullets">
      <% @search.validation_errors.values.each do |err| %>
        <li class=""><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render :partial => "search/tabs", :locals => {:search => @search, :selected => :events}%>

<div class="search_bar">
  <% form_for :conditions, @search, :url => events_search_path, :html => {:method => :get} do |f| %>
    <label>Find</label>
    <%= f.text_field :term %>
    <%= f.submit 'Search', :title => 'Search' %>
  <% end %>
  
  <div class="actions">
    <%= link_to 'Subscribe', events_search_url(params.except(:action).merge(:format => :ics, :order => 'date')), :class => 'add_to_calendar' %>
  </div>
  
</div>
