<div class="result_set events">
  <%= render :partial => "search/filters", :locals => {:search => @search} %>
  
  <% if @search.results.present? %>
    <div class="search_info">
      <div class="article_count">
        <h2 class="title_bar"><span class="small_stack">Events <span>Found</span></span><%= number_with_delimiter @search.results.total_entries %></h2>
      </div>
      
      <ul class="actions">
        <% @search.supported_orders.each do |order| %>
          <li class="<%= 'on' if @search.order == order.downcase %>">
            <%= link_to order, params.merge(:order => order.downcase, :action => :show).except(:page), :class => '' %>
          </li>
        <% end %>
      </ul>
    </div>
    
    
    <% @search.results.group_by(&:date).each do |date, events| %>
      <div class="row">
        <h3><%= date %></h3>
      
        <ol class="results">
          <%= render :partial => 'result', :collection => events, :as => :event %>
        </ol>
      </div>
    <% end %>
    
    <%= will_paginate @search.results, :params => {:action => :show} %>
  <% else %>
    <p>No events were found.</p>
  <% end %>
</div>