<% title @search.term.blank? ? 'Event Search' : "Event Search Results for '#{h @search.term}'" %>
<%= feed_autodiscovery events_search_url(params.merge(:format => :rss, :order => 'date')) %>

<% if @search.blank? %>
  <% meta_robots("NOFOLLOW") %>
<% else %>
  <% meta_robots("NOINDEX, NOFOLLOW") %>
<% end %>

<% add_javascript :src => 'page_specific/search/search.js' %>
<% add_javascript :src => 'page_specific/search/jquery-ui-1.8.6.custom.min.js' %>

<div class="title"><span>Search Events</span></div>

<%= render :esi => event_search_header_path(params.except(:action)) %>

<div class="filters">
  <%= render :esi => event_search_facets_path(params.except(:action).merge(:facet => 'type')) %>
  <%= render :esi => event_search_facets_path(params.except(:action).merge(:facet => 'agency')) %>
  
  <%= render :partial => 'search/location_form', :locals => {:search => @search } %>
</div>

<%= render :esi => event_search_results_path(params.except(:action)) %>
