<% title "Email a friend: #{@entry.title}" %>
<h1 class="title"><span>E-Mail A Friend</span></h1>

<h1>Email a Friend: <%= link_to @entry.title, entry_path(@entry) %></h1>
<%# error_messages_for :entry_email %>
<% semantic_form_for(@entry_email, :url => entry_email_path(@entry)) do |f| %>
  <% f.inputs do %>
    <%= f.input :sender, :required => true %>
    <%= f.input :recipients, :required => true %>
    <%= f.input :message, :as => :text %>
  <% end %>
  
  <% if @entry_email.requires_captcha_with_message? || @entry_email.requires_captcha_without_message? %>
    <%= recaptcha_tags %>
  <% end %>
  
  <% f.buttons do %>
    <%= f.commit_button "Send" %>
  <% end %>
<% end %>