<% title "Topics starting with '#{@letter}'" %>

<h1 class="title"><span>Explore Topics</span></h1>

<div class="filters">
  <h4>Live Filter</h4>
  <ul>
    <li class="livesearch"><input title="Filter agencies"></li>  
  </ul>
</div>


<div class="result_set topic_list_container">
  
  
  <ul class="letter_list">
  <% @letters.each do |letter| %>
    <li class="<%='on' if letter == @letter %>"><%= link_to letter.upcase, topics_by_letter_path(letter) %></li>
  <% end %>
  </ul>  
  
  <div class="topic_count">
    <h2 class="title_bar"><span class="small_stack">Topics <span>Found</span></span> <span id="topic_count"><%= @topics.count %></span></h2>
  </div>



  <ul>
    <% @topics.each do |topic| %>
      <li><span class="count"><%= topic.entries_count %></span> <%= link_to topic.name, topic_path(topic) %></li>
    <% end %>
  </ul>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'topics_tagcloud', :locals => {:topics => @popular_topics, :title => 'Popular Topics'} %>
<% end %>
