<% title @topic.name %>
<% description "Browse Federal Register documents  tagged by agencies with the topic '#{@topic.name}'. Use this topic to learn more about your areas of interest and the regulations that affect the topic '#{@topic.name}'." %>

<% feed_autodiscovery topic_url(@topic, :format => :rss), "Documents in this topic", :search_conditions => {:topic_ids => [@topic.id]} %>
<% feed_autodiscovery significant_entries_topic_url(@topic, :format => :rss), "Significant Documents in this topic", :search_conditions => {:topic_ids => [@topic.id], :significant => '1'} %>

<div class="title"><span>Topic</span></div>

<div id="content_area">
<h1><%= @topic.name %></h1>

<%= render :partial => "entries/list", :locals => {:entries => @entries, :search_params => {:topic => @topic}} %>

</div>

<% aside_tag(:id => "sidebar") do %>
  
  <% section_tag(:class => 'TOC aside_box') do %>  
    <h1>On This Page</h1>
    <ul>
      <li><%= link_to 'Recent Documents', '#recent_articles' %></li>
    </ul>
  <% end -%>
  
  <div class='aside_box subscribe'>  
    <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {:topic_ids => [@topic.id]}}), :class => 'subscription' %>
    <%= add_template('subscription_modal', 'subscription-modal') %>
  </div>
  
  <%= render :partial => 'special/legal_disclaimer' %>
<% end -%>
