<% title @topic.name %>
<% description "Browse Federal Register articles tagged by agencies with the topic '#{@topic.name}'. Use this topic to learn more about your areas of interest and the regulations that affect the topic '#{@topic.name}'." %>

<% feed_autodiscovery topic_url(@topic, :format => :rss), "Articles in this topic", :search_conditions => {:topic_ids => [@topic.id]} %>
<% feed_autodiscovery significant_entries_topic_url(@topic, :format => :rss), "Significant Articles in this topic", :search_conditions => {:topic_ids => [@topic.id], :significant => '1'} %>

<h1 class="title"><span>Topic</span></h1>

<div id="content_area">
<h1><%= @topic.name %></h1>

<%= render :partial => "entries/list", :locals => {:entries => @entries, :search_params => {:topic => @topic}} %>

<%= render :partial => 'entries/most_cited', :locals => {:entries => @most_cited_entries} %>

</div>

<% aside_tag(:id => "sidebar") do %>
  
  <% section_tag(:class => 'TOC aside_box') do %>  
    <h1>On This Page</h1>
    <ul>
      <li><%= link_to 'Recent Articles', '#recent_articles' %></li>
      <li><%= link_to 'Most Cited Articles', '#most_cited' %></li>
    </ul>
  <% end -%>
  
  <div class='aside_box subscribe'>  
    <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {:topic_ids => [@topic.id]}}), :class => 'rss' %>
  </div>
  
  <%= render :partial => 'special/legal_disclaimer' %>
<% end -%>