<% title "Recent entries mentioning places within #{ pluralize(@dist, 'mile') } of the center of #{ @location.name } " %>

<% content_for :precolumn do %>
  <div class="infobox">
    <p class='copy'>
      Entries in the Federal Register are most often about activities or proposed activities in a variety of places. Here 
      you can explore entries within <%= pluralize(@dist, 'mile') %> of a given location. Using the tools below you can 
      see what agencies are active in a given location as well as search other locations.
    <p class='copy'>
      Additionally clicking on any pin in the map displays the locations name as well as a list of entries at that location. 
      The box displayed by clicking on a map pin enables the further exploration that location (click on the location name), or 
      a particular entry (click on the entry title).
    </p>
  </div>
<% end %>

<% if !@places.nil? %>
  <% add_javascript { @map.to_js } %>
  <% content_for :precolumn do %>
    <div class="widget_map large group">
      <div id="map" class='large_map'></div>
      <div class="location_search">
        <%= render :partial => 'maps/location_search_form', :locals => {:location => @location} %>
      </div>          
    </div>
  <% end %>
<% end %>

<% if !@places.nil? %>
  <%= render :partial => 'maps/entries_by_distance', :locals => {:entry_places => @places, :lat => @lat, :long => @long} %>
  
  <% content_for :sidebar do %>    
    
    <% unless @entries.blank? %>
      <h3>Agencies active within <%= pluralize(@dist, 'mile') %></h3>

      <ul>
        <% @active_agencies.each do |agency| %>
        <li>
          <%= link_to(agency.name, agency_path(agency) ) %>
        </li>
        <% end %>
      </ul>
    <% end %>
    
    <% unless @entry_type_values.blank? %>
      <h3>Recent Entry Types Near Here</h3>
       <div class='chart size_<%=@entry_type_values.size%>'><%= pie_3d_chart(:alt => 'Entry Type for Recent Entries', :legend => @entry_type_labels, :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :data => @entry_type_values, :size => ['230','200'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
    <% end %>
  <% end %>
<% else %>  
  <p>
    Unfortunately were were not able to find any entries within 
    <%= pluralize(@dist, 'mile') %> of <%= @location.city %>, <%= @location.region %>
  </p>
<% end %>