<li>
  <div class="rule_type doc_<%= entry.granule_class.downcase == "sunshine" ? "notice" : entry.granule_class.downcase %> tipsy"><%= image_tag 'icons/document_icons.png' %></div>

  <div class="search_result_wrapper">
    <h4><%= link_to entry.title, entry_path(entry) %></h4>

    <div class="metadata">
      <%= entry.entry_type.with_indefinite_article(true) %> by <%= agency_names(entry) %> on 
      <%= link_to date_tag(entry.publication_date, :datetime => entry.publication_date.to_s(:iso)), entries_by_date_path(entry.publication_date) %>
      <span class='pdf'><%= link_to "PDF - #{pluralize(entry.human_length, 'page')}", entry.source_url('pdf'), :class => 'button format pdf small' %></span>
    </div>
 
    <p class="result_info">
      <%= truncate_words(entry.abstract || entry.raw_text, :length => 350) %>
    </p>
  </div>
</li>
