<% title @canned_search.title %>

<div class="title"><span>Suggested Searches</span></div>

<h1><%= @canned_search.title %></h1>

<%= simple_format @canned_search.description %>

<%= sparkline(:data => @canned_search.search.date_distribution(:period => :weekly, :since => 1.year.ago), :alt => "Weekly Distribution") %> 
<%= sparkline(:data => @canned_search.search.date_distribution(:period => :monthly, :since => 5.years.ago), :alt => "Monthly Distribution") %> 
<%= sparkline(:data => @canned_search.search.date_distribution(:period => :quarterly), :alt => "Quarterly Distribution") %> 
<p><%= link_to "customize this search", entries_search_path(:conditions => @canned_search.search_conditions, :order => "newest", :skip_results => '1', :anchor => 'advanced') %></p>

<%= render :partial => 'result', :collection => @canned_search.search.results, :as => :entry, :locals => {:search => @canned_search.search} %>
