<% title @canned_search.title %>

<div class="title"><span>Suggested Searches</span></div>

<div id='search_description_box'>
  <h1><%= @canned_search.title %></h1>

  <hr /> 

  <p class='search_count'>32 results in last 30 days</p>

  <%= simple_format @canned_search.description %>

  <div id='frequency-wrapper'>
    <h4 id='frequency-header'>Result Frequency</h4>
    <ul id='frequency-spark-lines'>
      <li id='twelve-months'>Last year, weekly <%= tag(:img, :src => entries_search_activity_sparkline_path('weekly', :conditions => @canned_search.search.conditions), :alt => "Sparkline of Weekly Distribution") %></li>
      <li id='five-years'>Last 5 years, monthly <%= tag(:img, :src => entries_search_activity_sparkline_path('monthly', :conditions => @canned_search.search.conditions), :alt => "Sparkline of Monthly Distribution") %></li>
      <li id='all-years'>Since 1994, quarterly <%= tag(:img, :src => entries_search_activity_sparkline_path('quarterly', :conditions => @canned_search.search.conditions), :alt => "Sparkline of Quarterly Distribution") %> </li>
    </ul>
  </div>

  <p id='search-actions'>
    <%= link_to "Customize this search", entries_search_path(:conditions => @canned_search.search_conditions, :order => "newest", :skip_results => '1', :anchor => 'advanced'), :class => 'search' %>
    <%= link_to 'Subscribe', '#', :class => 'search_subscription' %>
  </p>
</div>

<ul id='suggested-search-list'>
  <%= render :partial => 'result', :collection => @canned_search.search.results, :as => :entry, :locals => {:search => @canned_search.search} %>
</ul>
