<% f.inputs :class => 'show_labels' do %>
  <% if js_known_to_be_enabled? %>
    <%# put hidden fields and stub for JS-variation here %>

    <li class="string optional agency">
      <label>Agency</label>
      <input placeholder="Agriculture Department" data-autocomplete="autocomplete" id="document-agency-search"/>

      <%= f.select :agency_ids,
                  Agency.all(:conditions => {:id => @search.agency_ids.to_a} ).map{|a| [a.name, a.id.to_s]},
                  {},
                  {:multiple => :multiple, :class => 'selected_agency_list'} %>
    </li>

  <% else %>
    <%= f.input :agency_ids,
                :as => :select,
                :label => "Agencies",
                :include_blank => false,
                :input_html => {:multiple => true},
                :value_method => Proc.new{|a| a.id.to_s},
                :collection => Agency.all,
                :wrapper_html => {:class => 'fallback_agency_list'} %>
  <% end %>
  <%= f.input :type,
              :label => "Document Category",
              :as => :check_boxes,
              :collection => EntrySearch::TYPES %>
  <%= f.input :special_filing,
              :as => :radio,
              :label => "Filing Type",
              :collection => [['All', ''],['Regular', '0'], ['Special', '1']] %>
  <%= f.input :docket_id,
              :label => "Agency Docket",
              :input_html => {:placeholder => "EPA-HQ-OPPT-2005-0049"},
              :wrapper_html => {:class => 'docket'} %>
<% end %>

<% f.buttons do %>
  <%= f.commit_button 'Search' %>
  <li>
    <%= link_to "Clear Form", entries_search_path, :class => "clear_form" %>
  </li>
<% end %>
