<li>
  <h4><%= link_to sanitize(document.excerpts.title.present? ? document.excerpts.title : document.title, :tags => %w(span), :attributes => %w(class)), entry_path(document) %></h4>

  <div class="result_info">
    <span class="excerpts"><%= sanitize document.excerpts.raw_text, :tags => %w(span), :attributes => %w(class) %></span>
  </div>
  <ul class="metadata">
    <li class="type"><%= document.category %></li>
    <% if document.publication_date %>
      <li class="pub_date"><%= document.publication_date %></li>
    <% end %>
    <li class="agency"><%= document.agencies.excluding_parents.map{|agency| link_to(agency.name, agency_path(agency))}.join(' :: ') %></li>
    <li><%= link_to 'PDF', document.pdf.url(:with_banner, false), :class => 'button format pdf small' %></li>
  </ul>  
</li>
