<% unless @search.valid? %>
  <div class="errors">
    <p class="errors_header">The following errors were found with your search: </p>
    <ul class="bullets">
      <% @search.validation_errors.values.each do |err| %>
        <li class=""><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render :partial => "search/tabs", :locals => {:search => @search, :selected => :public_inspection}%>

<div class="search_bar">
  <% semantic_form_for :conditions, @search, :url => public_inspection_search_path, :html => {:method => :get, :id => "public_inspection_search_form"} do |f| %>
    <div class="simple">
      <label>Find</label>
      <%= f.text_field :term, :placeholder => 'Search term' %>
      <%= f.submit 'Search' %>
      
      <div class="actions">
        <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => conditions_for_subscription(@search)}), :class => 'subscription' %>
        <%= add_template('subscription_modal', 'subscription-modal') %>
        <%# link_to 'Widget', widget_instructions_path(params.except(:action, :controller)), :class => 'button widget spawn_modal notext', :id => 'widget' %>
      </div>
      
      <div class="options">
        <%= link_to 'Show Advanced Search', '#advanced', :id => "toggle_advanced" %>
        <%= link_to 'Learn More', entries_search_help_path, :class => 'help_link' %>
      </div>
      
    </div>
    <div class="advanced">
      <%= render :partial => "advanced", :locals => {:f => f} %>
    </div>
  <% end %>
</div>

