<div class="result_set">
  <%= render :partial => "search/filters", :locals => {:search => @search} %>
  
  <% if @search.results.present? %>
    <div class="search_info">
      <div class="article_count">
        <h2 class="title_bar"><span class="small_stack">Public Inspection <span>Documents Found</span></span> <%= number_with_delimiter @search.count %></h2>
      </div>
    </div>
    
    <%= will_paginate @search.results, :params => {:action => :show} %>
    
    <ol class="results">
      <%= render :partial => 'result', :collection => @search.results, :as => :document, :locals => {:search => @search} %>
    </ol>
    
    <%= will_paginate @search.results, :params => {:action => :show} %>
  <% else %>
    <div class="errors">
      <p class="errors_header">No documents were found.</p>
    </div>  
  <% end %>
</div>
