<li>
  <h4><%= link_to sanitize(regulatory_plan.excerpts.title, :tags => %w(span), :attributes => %w(class)), regulatory_plan_path(regulatory_plan) %></h4>

  <div class="result_info">
    
    <% if regulatory_plan.agencies.excluding_parents.size > 0 %>
      <dl>
        <dt>Agency</dt>
        <% regulatory_plan.agencies.excluding_parents.each do |agency| %>
          <dd><%= link_to(agency.name, agency_path(agency)) %></dd>
        <% end -%>
      </dl>
    <% end -%>
    
    <span class="excerpts"><%= 
      if regulatory_plan.excerpts.abstract.present?
        sanitize regulatory_plan.excerpts.abstract, :tags => %w(span), :attributes => %w(class)
      else
        sanitize regulatory_plan.abstract, :tags => %w(span), :attributes => %w(class)
      end %></span>
    
    <% entries = regulatory_plan.entries.most_recent(5) %>
    <% if entries.present? %>
    <% num_entries = regulatory_plan.entries.count %>
    <div class="aside_box">
      <h5>Documents associated with this Unified Agenda</h5>
      <ul class="article_list">
        <% entries.each do |entry| %>
          <li class="<%= entry.entry_type.sub(/\s+/, '_').downcase %>">
            <%= link_to entry.title, entry_path(entry) %>
            
            <dl>
              <dt>Date</dt>
              <dd><%= time_tag(entry.publication_date, :datetime => entry.publication_date.to_s(:iso)) %></dd>
              <dt>Type</dt>
              <dd><%= entry.entry_type %></dd>
            </dl>            
          </li>
        <% end %>
      </ul>
      <% if num_entries > 5 %>
        <%= link_to "See all #{num_entries} documents with RIN #{regulatory_plan.regulation_id_number}.", entries_search_path(:conditions => {:regulation_id_number => regulatory_plan.regulation_id_number}) %>
      <% end %>
      </div>
    <% end %>
  </div>
</li>
