<% title @search.term.blank? ? 'Unified Agenda Search' : "Unified Agenda Search Results for '#{h @search.term}'" %>

<% if @search.blank? %>
  <% meta_robots("NOFOLLOW") %>
<% else %>
  <% meta_robots("NOINDEX, NOFOLLOW") %>
<% end %>

<div class="title"><span>Search the Unified Agenda</span></div>

<% unless @search.valid? %>
<ul class="errors">
  <% @search.errors.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>

<%= render :esi => regulatory_plan_search_header_path(params.except(:action)) %>

<div class="filters">
  <%= render :esi => regulatory_plan_search_facets_path(params.except(:action).merge(:facet => 'priority_category')) %>
  <%= render :esi => regulatory_plan_search_facets_path(params.except(:action).merge(:facet => 'agency')) %>
</div>

<%= render :esi => regulatory_plan_search_results_path(params.except(:action)) %>
