<%# TODO HELP-RUBY do this better %>
<article class="<%= 'with_photo' if entry.lede_photo %> <%= cycle('on_left','on_right') if entry.lede_photo %>">
  <div class="info">
    <h1><%= link_to entry.curated_title, entry_path(entry) %></h1>
    
    <p class="metadata">A <%= entry.entry_type %> by <%= entry.agencies_exluding_parents.map{|a| link_to a.name, agency_path(a) }.to_sentence %> on <time datetime="<%= entry.publication_date.to_s(:iso) %>"><%= entry.publication_date %></time></p>
    <p class="summary"><%= entry.curated_abstract %></p>
    <% if entry.comments_close_date && entry.comments_close_date.date.to_time < 30.days.from_now %>
      <p class="comments_close">
        Comment period ends in <%= pluralize (entry.comments_close_date.date - Date.today), 'day' %>
        (<%= entry.comments_close_date.date %>)
      </p>
    <% end %>
  </div>
  
  <div class="photo">
    <%= render(:partial => "sections/lede_photo", :object => entry.lede_photo) if entry.lede_photo %>
  </div>
  
</article>