<article>
  <h1><%= link_to entry.curated_title, entry_path(entry) %></h1>
  <%= image_tag(entry.lede_photo.photo.url(:small)) if entry.lede_photo %>
  <p class="metadata">A <%= entry.granule_class %> by <%= entry.agencies_exluding_parents.map{|a| link_to a.name, agency_path(a) }.to_sentence %> on <time datetime="<%= entry.publication_date.to_s(:iso) %>"><%= entry.publication_date %></time></p>
  <p class="summary"><%= entry.curated_abstract %></p>
</article>
