<% article_tag(:class => "#{'with_photo' if entry.lede_photo } #{ cycle('on_left','on_right') if entry.lede_photo }") do %>        
  <div class="info">
    <h1><%= link_to entry.curated_title, entry_path(entry) %></h1>
    
    <p class="metadata">A <%= entry.entry_type %> by <%= entry.agencies_exluding_parents.map{|a| link_to a.name, agency_path(a) }.to_sentence %> on 
    <%= link_to date_tag(entry.publication_date, :datetime => entry.publication_date.to_s(:iso)), entries_by_date_path(entry.publication_date) %>
    </p>
      
    <p class="summary"><%= truncate(entry.curated_abstract, 500) %></p>
    
    <% if entry.comments_close_date && entry.comments_close_date.date > @publication_date %>
      <p class="comments_close">
        Comment period ends in <%= pluralize (entry.comments_close_date.date - @publication_date), 'day' %>
        (<%= entry.comments_close_date.date %>)
      </p>
    <% end %>
  </div>
  
  <div class="photo">
    <%= render(:partial => "sections/lede_photo", :object => entry.lede_photo) if entry.lede_photo %>
  </div>
  
<% end -%>