<div id="articles_published_by_day-<%= index %>" data-date="<%= date %>" class="tabs-panel">
  <h2 class="title_bar"><span class="small_stack">Documents <span>published on</span></span> <span class="large_flow"><%= date %></span></h2>
  <% @section.entries.published_on(date).scoped(:include => [:agencies, :agency_names]).in_groups_of(2, false).each_with_index do |entries, index| %>
    <div class="row <%= index == 0 ? 'first' : '' %>">
      <% entries.each do |entry| %>
        <% article_tag do %>  
          <h1><%= link_to entry.title, entry_path(entry) %></h1>
          <%= entry.entry_type.with_indefinite_article(true) %> by <%= agency_names(entry) %>
        <% end -%>
      <% end %>
    </div>
  <% end %>
</div>
