<%= title @section.name %>

<h1 class="title"><span><%= @section.name %></span></h1>

<div id="content_area">

  <% if @highlighted_entries.present? %>
  <div id="top-articles" class="featured">
    <%#= render :partial => 'sections/primary_entry', :object => @highlighted_entries.first %>
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[0,3], :as => :entry %>
  </div>

  <div id="fading-articles" class="featured">
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[3,100], :as => :entry %>
  </div>

  <% else %>
    <p>No articles highlighted.</p>
  <% end %>

</div>

<aside>
  
  
  <section class="share">
    <a href="#" class="button rss">Subscribe</a>
  
  </section>
  
  <section class="info">
        
    <p><strong>Science and Technology</strong>... A description of what this section is and why it is important. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
  </section>
  
  <section class="stats">
    <h1><span>Stats</span></h1>
    <ul>
      <li><strong>1000</strong> Something</li>
      <li><strong>200</strong> Something</li>
      <li><strong>32</strong> Something</li>
      <li><strong>43</strong> Something</li>
    </ul>  
  </section>
  
  <section>
    <h1><span>What's Hot</span></h1>
  </section>
  
</aside>

  <%# TODO HELP-RUBY i want a doubly nested grouping. the date should only appear once. i tried and failed.  %>
  
  <div class="comment_period_list">
    <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Closing Soon</span></h2>
    <% @section.entries.comments_closing.group_by(&:toc_subject).each do |toc_subject, entries| %>
        <h3 class="grid_4 alpha"><%= toc_subject || 'Other' %></h3>
        <ul class="comments grid_12 omega">
        <% entries.each do |entry| %>
          <li>
              <div class="grid_2 alpha date"><date><%= entry.comments_close_date.date %></date></div>
              <%= link_to (entry.toc_doc || entry.curated_title), entry_path(entry), :class => 'grid_9 omega' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <%# TODO HELP-RUBY i want a doubly nested grouping below. the date should only appear once. i tried and failed.  %>
  
  <div class="comment_period_list">
    <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Opening</span></h2>
    <% @section.entries.comments_opening.group_by(&:toc_subject).each do |toc_subject, entries| %>
      <h3 class="grid_4 alpha "><%= toc_subject || 'Other' %></h3>
      <ul class="comments grid_12 omega">
        <% entries.each do |entry| %>
          <li>
              <div class="grid_2 alpha date"><date><%= entry.comments_close_date.date %></date></div>
              <%= link_to (entry.toc_doc || entry.curated_title), entry_path(entry), :class => 'grid_9 omega' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
<h2 class="title_bar"><span class="small_stack">Articles <span>published on</span></span> <span class="large_flow"><%= @publication_date %></span></h2>

<% @section.entries.published_on(@publication_date).each do |entry| %>
  <article>
    <h1><%= link_to entry.title, entry_path(entry) %></h1>
    <dl>
      <dt>Length</dt>
      <dd><%= pluralize(entry.human_length, "page") %></dd>
      <dt>Type</dt>
      <dd><%= entry.entry_type if entry.has_type? %></dd>
      <dt>Agency</dt>
      <dd><%= link_to entry.agency.name, agency_path(entry.agency) %></dd>
    </dl>  
  </article>
<% end %>
