<% add_javascript :src => 'page_specific/iscroll.js' %>
<% add_javascript :src => 'page_specific/carousel.js' %>

<%= title @section.title %>
<% description description_for_section(@section) %>

<%= feed_autodiscovery significant_entries_section_url(@section, :format => :rss), "Significant Documents in #{@section.title}", :search_conditions => {:section_ids => [@section.id], :significant => 1} %>
<%= feed_autodiscovery section_url(@section, :format => :rss), "All Documents in #{@section.title}", :search_conditions => {:section_ids => [@section.id]} %>

<div class="title">
  <div class='title_icon' id="<%= @section.slug %>"></div>
  <span><%= @section.title %></span>
  <%= link_to '', new_subscription_path(:subscription => {:search_conditions => {:section_ids => [@section.id]}}), :class => 'subscription tipsy', :title => 'Subscribe by Email or RSS' %>
  <%= add_template('subscription_modal', 'subscription-modal') %>
</div>

<%= render(:partial => "special/preview_warning") if @preview %>

<div id="content_area">

  <% if @highlighted_entries.present? %>
    <%= render :partial => 'sections/carousel', :locals => {:entries => @highlighted_entries, :image_size => :large} %>
  <% end %>

  <%= render :partial => "sections/canned_searches", :locals => {:section => @section, :canned_searches => @canned_searches} %>

  <% section_tag(:class => 'TOC aside_box') do %>
    <h3>Also On This Page:</h3>
    <ul>
      <li><%= link_to 'Comment Periods Closing Soon ', '#comment-period-closing' %></li>
      <li><%= link_to 'Comment Periods Recently Opened ', '#comment-period-opening' %></li>
      <li class='omega'><%= link_to 'Documents published in the past 5 days ', '#articles_published_by_day' %></li>
    </ul>
  <% end -%>
    
  <% section_tag(:id => 'popular-things') do %>
    <div id="most-popular" class="alpha">
      <%= render :esi => popular_entries_section_path(@section) %>
    </div>
  
    <div id="most-emailed">
      <%= render :esi => most_emailed_entries_section_path(@section) %>
    </div>
  <% end %>

  <div id="comments-closing-opening">
    
    <div class="header-nav">
      <h2 class="title_bar"><span class="small_stack"><span>Documents</span>With</span> Comments Requested</h2>
      
      <ul id="comments-closing-opening-links" class="actions tabs-nav">
        <li class="tab" id="tabs-opening"><a href="#comment-period-closing">Closing Soon</a></li>
        <li class="tab" id="tabs-closing"><a href="#comment-period-opening">Newly Opened</a></li>       
      </ul>
    </div>
      
    <div id="comments-closing-opening-body" class="tabs-body">
      <div class="closing tabs-panel" id='comment-period-closing'>
        <% section_tag(:class => 'three_col_list comments') do %>  
          <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Closing Soon</span></h2>
          <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @section.entries.comments_closing } %>
        <% end -%>
      </div>
      
      <div class="opening tabs-panel" id='comment-period-opening'>
        <% section_tag(:class => 'three_col_list comments') do %>  
          <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Opening</span></h2>
          <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @section.entries.comments_opening } %>
        <% end -%>
      </div>
    </div>
  </div>

  <% section_tag(:class => 'articles_published_by_day',:id=> 'articles_published_by_day') do %>  
    <h2 class="title_bar"><span class="small_stack"><span>Browse</span>The</span> Last Five Days</h2>
    
    <ul id="articles_published_by_day-links" class="tabs-nav">
      <% @dates_to_show.each_with_index do |date, index| %>
        <%# TODO HELP-RUBY instead of index we will probably want the href to be the data, but it didn't like -09/27/10 at the end  %>
        <li class="tab" id="bydate-<%= index %>"><a href="#articles_published_by_day-<%= index %>"><%= date %></a></li>   
      <% end %>
      <li class="search"><%= link_to 'Search to see older documents.', entries_search_path(:conditions => {:section_ids => @section.id}) %></li>
    </ul>
        
    <div id="articles_published_by_day-body" class="tabs-body">
      <% @dates_to_show.each_with_index do |date, index| %>
        <%= render :partial => "sections/entries_on_date", :locals => { :date => date, :index => index } %>
      <% end -%>    
    </div>
  <% end -%>
</div>

