<%= title @section.title %>

<%= feed_autodiscovery highlighted_entries_section_path(@section, :format => :rss), "Featured Articles in #{@section.title}"%>
<%= feed_autodiscovery significant_entries_section_path(@section, :format => :rss), "Significant Articles in #{@section.title}"%>
<%= feed_autodiscovery section_path(@section, :format => :rss), "All Articles in #{@section.title}"%>

<h1 class="title"><span><%= @section.title %></span></h1>

<%# HELP-DESIGN: make this a (little) better %>
<% if @preview %>
<h1 id="preview_alert" style="background-color: pink; border: 2px solid red; align: center">This is only a preview!</h1>
<% end %>

<div id="content_area">

  <% if @highlighted_entries.present? %>
  <div id="top-articles" class="featured">
    <%#= render :partial => 'sections/primary_entry', :object => @highlighted_entries.first %>
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[0,3], :as => :entry %>
  </div>

  <div id="fading-articles" class="featured">
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[3,100], :as => :entry %>
  </div>

  <% else %>
    <p>No articles highlighted.</p>
  <% end %>

</div>

<% aside_tag(:id => 'sidebar') do %>  
       
  <% section_tag(:class => 'TOC aside_box') do %>
    <h1>On This Page</h1>
    <ul>
      <li><%= link_to 'Comment Periods Closing Soon ', '#comment-period-closing' %></li>
      <li><%= link_to 'Comment Periods Recently Opened ', '#comment-period-opening' %></li>
      <li><%= link_to 'Articles published in the past 7 days ', '#articles_published_by_day' %></li>
    </ul>
  <% end -%>  
  
  <div class='aside_box subscribe'>  
    <%= link_to 'Subscribe', highlighted_entries_section_path(@section, :format => :rss), :class => 'rss' %>
  </div>
  
  <%= render :esi => popular_entries_section_path(@section) %>
  <%= render :esi => popular_topics_section_path(@section) %>
  
  <%= render :esi => featured_agency_section_path(@section) %>
  
  <% section_tag(:class => 'info') do %>
    <h1 class="title_bar">About this section</h1>
    <p>
      <%= @section.description %>
      <%= link_to "Learn more about this section", about_section_path(@section) %>
    </p>
  <% end -%>
  
<% end -%>

<div id="comments-closing-opening">
  
  <div class="header-nav">
    <h2 class="title_bar"><span class="small_stack"><span>Articles</span>With</span> Comments Requested</h2>
    
    <ul id="comments-closing-opening-links" class="tabs-nav">
      <li class="tab" id="tabs-opening"><a href="#comment-period-closing">Closing Soon</a></li>
      <li class="tab" id="tabs-closing"><a href="#comment-period-opening">Newly Opened</a></li>       
    </ul>
  </div>
    
  <div id="comments-closing-opening-body" class="tabs-body">
    <div class="closing tabs-panel" id='comment-period-closing'>
      <% section_tag(:class => 'three_col_list comments') do %>  
        <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Closing Soon</span></h2>
        <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @section.entries.comments_closing } %>
      <% end -%>
    </div>
    
    <div class="opening tabs-panel" id='comment-period-opening'>
      <% section_tag(:class => 'three_col_list comments') do %>  
        <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Opening</span></h2>
        <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @section.entries.comments_opening } %>
      <% end -%>
    </div>
  </div>
</div>

<% section_tag(:class => 'articles_published_by_day',:id=> 'articles_published_by_day') do %>    
  <%= render :partial => "sections/entries_on_date", :collection => @dates_to_show, :as => :date %>
  <p><%= link_to 'Search', entries_search_path(:conditions => {:section_ids => @section.id}) %> to see older articles.</p>
<% end -%>