<%= title @section.name %>

<h1 class="title"><span><%= @section.name %></span></h1>

<div id="content_area">

  <% if @highlighted_entries.present? %>
  <div id="top-articles" class="featured">
    <%#= render :partial => 'sections/primary_entry', :object => @highlighted_entries.first %>
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[0,3], :as => :entry %>
  </div>

  <div id="fading-articles" class="featured">
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[4,100], :as => :entry %>
  </div>

  <% else %>
    <p>No articles highlighted.</p>
  <% end %>

</div>

<aside>
  
  <section>
    <p><strong>Science and Technology</strong>... A description of what this section is and why it is important. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </section>
  
  <section>
    <h1><span>Stats</span></h1>
    <ul>
      <li><strong>1000</strong> Something</li>
      <li><strong>200</strong> Something</li>
      <li><strong>32</strong> Something</li>
      <li><strong>43</strong> Something</li>
    </ul>  
  </section>
  
  <section>
    <h1><span>What's Hot</span></h1>
  </section>
  
  <h2>Comment Period</h2>
  <h3>Closing Soon</h3>
  <ul>
    <% @section.entries.comments_closing.each do |entry| %>
    <li><%= link_to entry.title, entry_path(entry) %></li>
    <% end %>
  </ul>

  <h3>Opening</h3>
  <ul>
    <% @section.entries.comments_opening.each do |entry| %>
    <li><%= link_to entry.title, entry_path(entry) %></li>
    <% end %>
  </ul>
  
</aside>

<h2 class="clear"><%= @publication_date %> Entries</h2>

<% @section.entries.published_on(@publication_date).each do |entry| %>
  <article>
    <h1><%= link_to entry.title, entry_path(entry) %></h1>
    <dl class="group">
      <dt>Type</dt>
      <dd><%= entry.entry_type if entry.has_type? %></dd>
      
      <dt>Length</dt>
      <dd><%= pluralize(entry.human_length, "page") %></dd>
      
      <% if entry.agency %>
        <dt>Agency</dt>
        <dd><%= link_to entry.agency.name, agency_path(entry.agency) %></dd>
      <% end %>
    </dl>
  </article>
<% end %>
