<%= title @section.title %>

<h1 class="title"><span><%= @section.title %></span></h1>

<div id="content_area">

  <% if @highlighted_entries.present? %>
  <div id="top-articles" class="featured">
    <%#= render :partial => 'sections/primary_entry', :object => @highlighted_entries.first %>
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[0,3], :as => :entry %>
  </div>

  <div id="fading-articles" class="featured">
    <%= render :partial => 'sections/entry_with_abstract', :collection => @highlighted_entries[3,100], :as => :entry %>
  </div>

  <% else %>
    <p>No articles highlighted.</p>
  <% end %>

</div>

<% aside_tag(:id => 'sidebar') do %>  
      
  <% section_tag(:class => 'subscribe') do %>  
    <%= link_to 'Subscribe', section_path(@section, :format => :rss), :class => 'button rss' %>
  <% end -%>
  
  <% section_tag(:class => 'TOC pull_out') do %>  
    <h1>Table of Contents</h1>
    <ul>
      <li><%= link_to 'Comment Periods Closing Soon ', '#comment-period-closing' %></li>
      <li><%= link_to 'Comment Periods Recently Opened ', '#comment-period-opening' %></li>
      <li><%= link_to 'Articles published in the past 7 days ', '#articles_published_by_day' %></li>
    </ul>
  <% end -%>  
  
  <% section_tag(:class => 'whats_hot') do %>  
    <h1 class="title_bar">What's Hot</h1>
    <ol>
      <% @popular_entries.each do |entry| %>
        <li><%= link_to entry.title, entry_path(entry) %></li>
      <% end %>
    </ol>
  <% end -%>
  
  <% if @agency %>
    <% section_tag(:class => 'featured_agency') do %>  
      <h1 class="title_bar">Featured Agency</h1>
      <% if @agency.logo_file_name.present? %>
        <%= image_tag @agency.logo.url(:thumb), :style => "float:left; margin-right: 1em; margin-bottom: 10px;" %>
      <% end %>
      <h2><%= link_to @agency.name, agency_path(@agency) %></h2>
      <p class="metadata">
        <%= link_to "#{@agency.entry_counts_since('month')} '#{ @section.title }' entries this month", entries_search_path(:conditions => {:agency_ids => @agency.id, :start_date => 1.month.ago.to_s(:db)}) %>
      </p>
    <% end -%>
  <% end %>
  
  <% section_tag(:class => 'info') do %>
    <h1 class="title_bar">About this section</h1>
    <p>
      <%= @section.description %>
      <%= link_to "Learn more about this section", about_section_path(@section) %>
    </p>
  <% end -%>
  
<% end -%>

<div id="comments-closing-opening">
  
  <div class="header-nav">
    <h2 class="title_bar"><span class="small_stack"><span>Articles</span>With</span> Comments Requested</h2>
    
    <ul id="comments-closing-opening-links" class="tabs-nav">
      <li class="tab" id="tabs-opening"><a href="#comment-period-closing">Closing Soon</a></li>
      <li class="tab" id="tabs-closing"><a href="#comment-period-opening">Newly Opened</a></li>       
    </ul>
  </div>
    
  <div id="comments-closing-opening-body" class="tabs-body">
    <div class="closing tabs-panel" id='comment-period-closing'>
      <% section_tag(:class => 'three_col_list comments') do %>  
        <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Closing Soon</span></h2>
        <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @section.entries.comments_closing } %>
      <% end -%>
    </div>
    
    <div class="opening tabs-panel" id='comment-period-opening'>
      <% section_tag(:class => 'three_col_list comments') do %>  
        <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Opening</span></h2>
        <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @section.entries.comments_opening } %>
      <% end -%>
    </div>
  </div>
</div>

<% section_tag(:class => 'articles_published_by_day',:id=> 'articles_published_by_day') do %>    
  <h2 class="title_bar"><span class="small_stack">Articles <span>published on</span></span> <span class="large_flow"><%= @publication_date %></span></h2>
  <% @section.entries.published_with_last_week.each do |entry| %>
    <% article_tag do %>  
      <h1><%= link_to entry.title, entry_path(entry) %></h1>
      A <%= entry.entry_type %> by <%= agency_names(entry) %>
    <% end -%>
  <% end %>
<% end -%>