<% super_title "Executive Order #{@executive_order.presidential_document_number}" %>


<%= semantic_form_for @search, :url => admin_executive_orders_path, :method => :get do |f| %>
  <%= f.inputs do %>
    <%= f.input :presidential_document_number_cont, label: 'Search By EO Number', required: false %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => 'Search', :button_html => {:class => "btn btn-large btn-success"} %>
  <% end %>
<% end %>

<div id="eo-attributes">
  <table class='table table-bordered'>
    <tbody>
        <tr>
          <th><%= link_to "Edit", edit_admin_executive_order_path(@executive_order) %></th>
          <td></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:title).titleize %></th>
          <td><%= simple_format(add_eo_links(@executive_order.title, true)) %></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:citation) %></th>
          <td><%= @executive_order.citation %></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:document_number).titleize %></th>
          <td><%= @executive_order.document_number %></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:signing_date).titleize %></th>
          <td><%= @executive_order.signing_date %></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:publication_date).titleize %></th>
          <td><%= @executive_order.publication_date %></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:president_id) %></th>
          <td><%= @executive_order.president&.full_name %></td>
        </tr>
        <tr>
          <th>Received for Publication</th>
          <td><%= @executive_order.not_received_for_publication ? "No" : "Yes" %></td>
        </tr>
        <tr>
          <th><%= Entry.human_attribute_name(:executive_order_notes).titleize %></th>
          <td><%= simple_format(add_eo_links(@executive_order.executive_order_notes, true)) %></td>
        </tr>
    </tbody>
  </table>
  Click <%= link_to "here", edit_admin_executive_order_path(@executive_order) %> to edit
</div>

