<div class="group" id="public_inspection">
  <h2 class="title_bar"><span class="small_stack">Public <span>Inspection</span></span> Documents Pending Publication</h2>
  <div class="section three_col_list">
  <% @public_inspection_documents.reject{|e| e.publication_date.nil?}.group_by{|e| e.publication_date.to_s(:year_month)}.sort_by{|date,entries| date}.reverse.each do |unused, public_inspection_documents| %>
      <h3><%= public_inspection_documents.first.publication_date.to_s(:month_year) %></h3>
      <div class="grouped_by_date">
      <% public_inspection_documents.group_by{|doc| doc.publication_date}.sort_by{|date, docs| date}.reverse.each do |pub_date, docs| %>  
        <div class="date"><%= link_to pub_date.to_formatted_s(:day_date), entries_by_date_path(pub_date) %></div>
        <ul class="comments">
          <% docs.sort_by{|doc| doc.title.present? ? doc.title : "#{doc.toc_subject} #{doc.toc_doc}"}.each do |doc| %>  
            <li>
              <div class="rule_type doc_<%= doc.granule_class.downcase == "sunshine" ? "notice" : doc.granule_class.downcase %> tipsy mini">
                <%= image_tag 'icons/document_icons/document_icons_mini.png' %>
              </div>
              <%= link_to doc.title.present? ? doc.title : "#{doc.toc_subject} #{doc.toc_doc}", entry_path(doc) %>
            </li>
          <% end %>
        </ul> 
      <% end %>
      </div>
  <% end %>
  </div>
</div>
