<h3>Departmental Pulse</h3>

<ul id='featured_agency_buttons' class="group btn">
  <li class="on" id='entries_1_year_weekly' ><%= link_to '12 months by week', '#0' %></li>
  <li id='entries_5_years_monthly'          ><%= link_to '5 years by month',  '#1' %></li>
  <li id='entries_all_years_quarterly'      ><%= link_to 'All by quarter',    '#2' %></li>
</ul>


<div class='featured_agencies'>
  <ul class="entry_counts">
    <% @featured_agencies.each do |agency| %>
      <li>
        <%= link_to agency.sidebar_name, agency_path(agency) %>
        <div class='viewport'>
          <ul class='counts'>
          <% %w(entries_1_year_weekly entries_5_years_monthly entries_all_years_quarterly).each do |range_type| %>
            <li><%= sparkline(:data => agency.send(range_type.to_sym).map(&:to_i), :alt => "#{human_range(range_type)} for #{agency.name}" ) %></li>
          <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>