<%# title @agency.name %>

<% content_for :precolumn do %>
  <div class="span-23 prepend-1">
    <h1 class="icon agency"><%= @agency.name %></h1>
  </div>
<% end %>

<% feed_autodiscovery agency_path(@agency, :format => :rss) %>

<h2>Entries since <%= @year_range %></h2>
<p><%= pluralize(@agency.entries.count, 'entry') %></p>

<ul>
<% @agency.entries.group_by(&:month_year).each do |mnth_year, entries| %>
  <li>
    <% year  = entries.first.publication_date.strftime("%Y") %>
    <% month = entries.first.publication_date.strftime("%m") %>
    <%= link_to mnth_year, "/entries/#{year}/#{month}" %>
    <ul>
    <% entries.group_by(&:publication_date).each do |pub_date, entries| %>  
      <li>
        <%= pub_date.to_formatted_s(:day_date) %>
        <ul>
          <% entries.each do |entry| %>  
            <li><%= link_to truncate(entry.title, :length => 100), entry_path(entry) %></li>
          <% end %>
        </ul> 
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>

<% content_for :sidebar do %>
  <h3>Maybe those word graphs</h3>
  
  <% unless @places.blank? %>
  <h3>Places Mentioned</h3>
    <% add_javascript { @map.to_js } %>
    <div id="map" class="small_map"></div>
  <% end %>
<% end %>