<h2><%= @agency.name %></h2>

<p><%= @agency.entries.count %> entries</p>
<ul>
<% @agency.entries.group_by(&:month_year).each do |mnth_year, entries| %>
  <li>
    <% year  = entries.first.publication_date.strftime("%Y") %>
    <% month = entries.first.publication_date.strftime("%m") %>
    <%= link_to mnth_year, "/entries/#{year}/#{month}" %>
    <ul>
    <% entries.each do |entry| %>  
      <li>
        <%= entry.publication_date.to_formatted_s(:day_date) %> 
        <%= link_to truncate(entry.title, :length => 100), entry_path(entry) %>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>