<% title @agency.name %>
<% description description_for_agency(@agency) %>

<div class="title"><span>Agency</span></div>

<% feed_autodiscovery agency_url(@agency, :format => :rss), "All Documents by #{@agency.name}", :search_conditions => {:agency_ids => [@agency.id]} %>
<% feed_autodiscovery significant_entries_agency_url(@agency, :format => :rss), "Significant Documents by #{@agency.name}", :search_conditions => {:agency_ids => [@agency.id], :significant => 1} %>

<div class="group">
  

  <% section_tag(:id => 'agency_description') do %>
    
    <div class="header group <%= @agency.logo_file_name.present? ? 'with_image' : 'without_image' %>">
      <h1><%= @agency.name %></h1>
      <% if @agency.logo_file_name.present? %>
        <%= image_tag @agency.logo.url(:thumb), :class => 'agency_seal' %>
      <% end %>
    </div>

    <%= render :partial => 'embedded_search', :locals => {:search => @search, :agency => @agency} %>

    <%= content_tag(:p, "Agency URL: " + link_to(@agency.url, @agency.url)) if @agency.url.present? %>

    <div id="agency-description-wrapper">
      <% if @agency.description.present? %>
        <%= add_citation_links(auto_link(simple_format(@agency.description))) %>
      <% else %>
        <p>Description coming soon.</p>
      <% end %>
    </div>

    <% if @entries.present?%>
      <p>
        This agency has published 
        <%= link_to pluralize(number_with_delimiter(@entries.total_entries), 'document'), entries_search_path(:conditions => {:agency_ids => [@agency.id]}, :skip_results => 1, :anchor => 'advanced') %>
        since 1994.
      </p>
    <% end %>

    
  <% end %>  
    
  <% aside_tag(:id => 'sidebar') do %>
    <% if @significant_entries.present? || @entries.present? || @comments_closing.present? || @comments_opening.present? %>
      <% section_tag(:class => 'TOC aside_box') do %>  
        <h1>On This Page</h1>
        <ul>
          <% if @public_inspection_documents.present? %>
            <li><%= link_to 'Documents Pending Publication', '#public_inspection' %></li>
          <% end %>

          <% if @significant_entries.present? %>
            <li><%= link_to 'Most Recent Significant Regulations', '#significant_regulations' %></li>
          <% end %>
          
          <% if @entries.present? %>
            <li><%= link_to 'Recent Documents', '#recent_articles' %></li>
          <% end %>
          
          <% if @comments_closing.present? %>
            <li><%= link_to 'Comment Periods Closing', '#comment-period-closing' %>
          <% end %>
          
          <% if @comments_opening.present? %>
            <li><%= link_to 'Comment Periods Opening', '#comment-period-opening' %>
          <% end %>
        </ul>
      <% end -%>
    <% end %>  
    <div class='aside_box subscribe'>  
      <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {:agency_ids => [@agency.id]}}), :class => 'subscription' %>
      <%= add_template('subscription_modal', 'subscription-modal') %>
    </div>
    
    <%= render :partial => 'special/legal_disclaimer' %>
    
    <% if @agency.parent %>
      <% section_tag(:class => 'parent_agencies') do %>  
        <h1 class="title_bar">Parent Agency</h1>
        <ul class="bullets">
          <li><%= link_to @agency.parent.name, agency_path(@agency.parent) %></li>
        </ul>
      <% end -%>
    <% end %>
    
    <% if @agency.children.present? %>
      <% section_tag(:class => 'sub_agencies') do %>  
        <h1 class="title_bar">Sub-<%= @agency.children.size > 1 ? 'agency'.pluralize : 'agency' %></h1>
        <ul class="bullets">
          <% @agency.children.each do |agency| %>
            <li><%= link_to agency.name, agency_path(agency) %></li>
          <% end %>
        </ul>
      <% end -%>
    <% end %>
    
  <% end -%>

</div>    

<% if @public_inspection_documents.present? %>
  <%= render :partial => "public_inspection" %>
<% end %>

<% if @significant_entries.present? %>
  <div class="group" id="significant_regulations">
    <h2 class="title_bar"><span class="small_stack">Most <span>Recent</span></span> Significant Regulations</h2>
    <%= render :partial => 'entries/grouped_by_date', :locals => {:entries => @significant_entries}%>
  </div>
  <% if @significant_entries.total_entries > 40 %>
    <%= link_to "See More", entries_search_path(:conditions => {:agency_ids => [@agency.id], :significant => 1}, :page => 3, :order => "newest"), :class => 'action_button' %>
  <% end %>
<% end %>

<% if @entries.present?%>
  <%= render :partial => 'entries/list', :locals => {:list_type => 'agency', :entries => @entries, :search_params => {:agency_id => @agency.id}} %>
  <% if @entries.total_entries > 40 %>
    <%= link_to "See More", entries_search_path(:conditions => {:agency_ids => [@agency.id]}, :page => 3, :order => "newest"), :class => 'action_button' %>
  <% end %>
<% end %>

<% if @comments_opening.present? || @comments_closing.present? %>
  <div id="comments-closing-opening-body" class="tabs-body">
    <% if @comments_closing.present? %>
    <div class="closing tabs-panel" id='comment-period-closing'>
      <% section_tag(:class => 'three_col_list comments') do %>  
        <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Closing Soon</span></h2>
        <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @comments_closing } %>
      <% end -%>
    </div>
    <% end %>
  
    <% if @comments_opening.present? %>
    <div class="opening tabs-panel" id='comment-period-opening'>
      <% section_tag(:class => 'three_col_list comments') do %>  
        <h2 class="title_bar"><span class="small_stack">Comment <span>Period</span></span><span class="large_flow">Opening</span></h2>
        <%= render :partial => "sections/grouped_by_toc_subject_and_comment_date", :locals => {:entries => @comments_opening } %>
      <% end -%>
    </div>
    <% end %>
  </div>
<% end %>
