<% title @agency.name %>
<h1 class="title"><span><%= @agency.name %></span></h1>

<% feed_autodiscovery agency_path(@agency, :format => :rss) %>

    
    <div class="group">
        
        <div class="grid_9 alpha suffix_1">
          <% if @agency.logo_file_name.present? %>
            <%= image_tag @agency.logo.url(:medium), :width => 100, :height => 100, :style => "float:left; margin-right: 1em; margin-bottom: 10px;" %>
          <% end %>
          
          <%= simple_format @agency.description %>
          <% if @agency.parent %>
            <p>Parent agency: <%= link_to @agency.parent.name, agency_path(@agency.parent) %></p>
          <% end %>
          <% if @agency.children.present? %>
            <h3>Sub-<%= @agency.children.size > 1 ? 'agency'.pluralize : 'agency' %></h3>
            <ul>
              <% @agency.children.each do |agency| %>
                <li><%= link_to agency.name, agency_path(agency) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      
        <div class="grid_6 omega">
          <% unless @entry_type_values.blank? %>
            <div class='chart size_<%=@entry_type_values.size%>' style="margin-top: -50px"><%= pie_3d_chart(:alt => 'Entry Type for Recent Entries', :legend => @entry_type_labels, :truncate_legend => '30', :counts => true, :legend_location => 'right', :data => @entry_type_values, :size => ['300','200'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
          <% end %>
          
          <ul id='agency_activity' class='pulse_list'>
          <% %w(entries_1_year_weekly entries_5_years_monthly entries_all_years_quarterly).each do |range_type| %>
            <li>
              <%= human_range(range_type) %>
              <%= sparkline(:data => @agency.send(range_type).map(&:to_i), :alt => "counts of number of articles" ) %>
            </li>
          <% end %>
          </ul>
          
        </div>
    
    </div>



<% if @significant_entries.present? %>
  <div class="group">
    <h2 class="title_bar"><span class="small_stack">Most <span>Recent</span></span> Significant Regulations</h2>
    <%= render :partial => 'entries/grouped_by_date', :locals => {:entries => @significant_entries}%>
  </div>
<% end %>

<%= render :partial => 'entries/list', :locals => {:list_type => 'agency', :entries => @entries, :search_params => {:agency_id => @agency.id}} %>

<%= render :partial => 'entries/most_cited', :locals => {:entries => @most_cited_entries} %>


