<% title @agency.name %>
<% description description_for_agency(@agency) %>

<h1 class="title"><span>Agency</span></h1>

<% feed_autodiscovery agency_url(@agency, :format => :rss), "All Articles by #{@agency.name}", :search_conditions => {:agency_ids => [@agency.id]} %>

<div class="group">
  

  <% section_tag(:id => 'agency_description') do %>
    
    <div class="header group <%= @agency.logo_file_name.present? ? 'with_image' : 'without_image' %>">
      <% if @agency.logo_file_name.present? %>
        <%= image_tag @agency.logo.url(:medium), :class => 'agency_seal' %>
      <% end %>
      <h1><%= @agency.name %></h1>
    </div>

    <%= link_to(@agency.url) if @agency.url %>
    <% if @agency.description.present? %>
      <%= add_citation_links(auto_link(simple_format(@agency.description))) %>
    <% else %>
      <p>Description coming soon.</p>
    <% end %>

  <% end %>  
    
  <% aside_tag(:id => 'sidebar') do %>
    
    <% section_tag(:class => 'TOC aside_box') do %>  
      <h1>On This Page</h1>
      <ul>
        <% if @significant_entries.present? %>
          <li><%= link_to 'Most Recent Significant Regulations', '#significant_regulations' %></li>
        <% end %>
        
        <% if @entries.present?%>
          <li><%= link_to 'Recent Articles', '#recent_articles' %></li>
        <% end %>
        
        <% if @most_cited_entries.present? %>
          <li><%= link_to 'Most Cited Articles', '#most_cited' %></li>
        <% end %>
      </ul>
    <% end -%>
    
    <div class='aside_box subscribe'>  
      <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {:agency_ids => [@agency.id]}}), :class => 'subscription' %>
    </div>
    
    <%= render :partial => 'special/legal_disclaimer' %>
    
    <% if @agency.parent %>
      <% section_tag(:class => 'parent_agencies') do %>  
        <h1 class="title_bar">Parent Agency</h1>
        <ul class="bullets">
          <li><%= link_to @agency.parent.name, agency_path(@agency.parent) %></li>
        </ul>
      <% end -%>
    <% end %>
    
    <% if @agency.children.present? %>
      <% section_tag(:class => 'sub_agencies') do %>  
        <h1 class="title_bar">Sub-<%= @agency.children.size > 1 ? 'agency'.pluralize : 'agency' %></h1>
        <ul class="bullets">
          <% @agency.children.each do |agency| %>
            <li><%= link_to agency.name, agency_path(agency) %></li>
          <% end %>
        </ul>
      <% end -%>
    <% end %>
    
  <% end -%>

</div>    



<% if @significant_entries.present? %>
  <div class="group" id="significant_regulations">
    <h2 class="title_bar"><span class="small_stack">Most <span>Recent</span></span> Significant Regulations</h2>
    <%= render :partial => 'entries/grouped_by_date', :locals => {:entries => @significant_entries}%>
  </div>
<% end %>

<% if @entries.present?%>
  <%= render :partial => 'entries/list', :locals => {:list_type => 'agency', :entries => @entries, :search_params => {:agency_id => @agency.id}} %>
<% end %>
<%= render :partial => 'entries/most_cited', :locals => {:entries => @most_cited_entries} %>


