<% content_tag  :li,
                :id => document_grouping.identifier,
                :class => "#{document_grouping.needs_attention? ? 'new_item' : ''} #{document_grouping.top_level? ? 'top_level' : ''}",
                :"data-form-data" => { 
                        :subject_form => false,
                        :form_url => "/admin/index/#{agency_year.year}/#{agency_year.agency.slug}",
                        :form_class => document_grouping.top_level? ? 'top_level' : '', 
                        :granule_class => document_grouping.granule_class,
                        :max_date => params[:max_date],
                        :entry_ids => document_grouping.entries.map{|e| e.id},
                        :fr_index_subject => document_grouping.fr_index_subject,
                        :fr_index_doc =>  document_grouping.header,
                        :unapproved_only => params[:unapproved_only].present?
                      }.to_json do %>

  <a class="wrapper" href="#">
    <span class="title" data-header-attribute="<%= document_grouping.header_attribute %>" data-original-title='<%= document_grouping.header %>'>
      <%= spell_checker.highlight_spelling_errors(document_grouping.header) %>
    </span><%= count_pill(document_grouping.entry_count) %>
  </a>

  <%= link_to 'Edit', '#', :class => "edit btn #{document_grouping.top_level? ? '' : 'btn-mini'}" %>

  <ul class="entry_details">
    <% document_grouping.entries.each do |entry| %>
      <li class="with_ajax_popover" data-document-number=<%= entry.document_number %>>
        <a href="<%= entry.public_path %>" class="document_number", target="_blank"><%= entry.document_number %></a>
        page <%= entry.start_page %>, 
        published <a href="<%= entry.public_path %>" target="_blank"><%= entry.publication_date %></a> 
        <a href="<%= entry.pdf_url %>" class="button format list pdf small" target="_blank">PDF</a>
      </li>
    <% end %>
  </ul>
<% end %>
