<li id="<%= document_grouping.identifier %>"
  class="<%= 'new_item' if document_grouping.needs_attention? %> <%= 'top_level' if document_grouping.top_level? %>">
  <a class="wrapper" href="#">
    <span class="title"><%= document_grouping.header %></span><%= count_pill(document_grouping.entry_count) %>
  </a>

  <%= link_to 'Edit', '#', :class => "edit btn #{document_grouping.top_level? ? '' : 'btn-mini'}" %>

  <ul class="entry_details">
    <% document_grouping.entries.each do |entry| %>
      <li class="with_ajax_popover" data-document-number=<%= entry.document_number %>>
        <%= link_to entry.document_number, short_entry_path(entry), :target => "_blank"%>
        page <%= entry.start_page %>, 
        published <%= link_to entry.publication_date, short_entry_path(entry), :target => "_blank" %>
        <%= link_to 'PDF', entry.pdf_url, :class => "button format list pdf small", :target => "_blank" %>
      </li>
    <% end %>
  </ul>

  <% form_tag({}, :method => :put, :class => "#{'top_level' if document_grouping.top_level?}") do %>
    <%= hidden_field_tag(:granule_class, document_grouping.granule_class) %>
    <% document_grouping.entries.each do |entry| %>
      <%= hidden_field_tag(:'entry_ids[]', entry.id) %>
    <% end %>
    <%= text_field_tag('entry[fr_index_subject]', document_grouping.fr_index_subject, :class => "fr_index_subject", :autocomplete => "off") %>
    <%= text_field_tag('entry[fr_index_doc]', document_grouping.header, :class => "fr_index_doc", :autocomplete => "off") %>
    <%= submit_tag("Save") %>
  <% end %>
</li>
