<div id='title_page'>
  <div class='logo'><img src="<%= "#{Settings.services.fr.web.base_url}/images/admin/nara1985.svg" %>" /></div>

  <h1>FEDERAL REGISTER INDEX</h1>

  <p>
    <%= date_description %><br />
    Volume <%= fr_index_presenter.volume_number %> &mdash; Numbers 1-<%= fr_index_presenter.max_issue_number %>
  </p>

  <p>Pages 1-<%= fr_index_presenter.max_page_number %></p>

  <p class="ofr">OFFICE OF THE FEDERAL REGISTER<p>
</div>
