<% super_title "#{@agency_year.year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => @years}) %>

<% add_javascript(:src => 'admin/fr_index.js') %>

<%= add_template('admin/fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_template('admin/fr_index_entry_popover_content', 'fr-index-entry-popover-content') %>

<div class="page_summary">
  <h1 class="agency_name"><%= @agency_year.name %></h1>

  <hr />

  <%= link_to 'PDF Preview', {:format => :pdf}, :class => "btn pdf_preview", :style => "margin-top: 10px" %>
</div>

<% @agency_year.document_types.each do |document_type| %>
  <div class="title_bar">
    <h3>
      <%= document_type.name.pluralize %>
    </h3>
  </div>

  <ul id="<%= document_type.name.downcase %>" class="entry_type">
    <%= render :partial => "grouping",
      :collection => document_type.groupings,
      :locals => {:granule_class => document_type.granule_class} %>
  </ul>
<% end %>