<% super_title "#{@fr_index.year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => @years}) %>

<%= link_to 'PDF Preview', {:format => :pdf}, :class => "btn btn-mini pdf_preview" %>

<ul>
  <% @fr_index.agencies.each do |agency| %>
    <li><%= link_to agency.name, admin_index_year_agency_path(@fr_index.year, agency) %> <span class="count_pill"><%= agency.entry_count %></span>
    <% if agency.children.present? %>
      <ul>
        <% agency.children.each do |sub_agency| %>
          <li>
            <span class="see">See</span> 
            <%= link_to sub_agency.name, admin_index_year_agency_path(@fr_index.year, sub_agency) %>
            <span class="count_pill"><%= sub_agency.entry_count %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
    </li>
  <% end %>
</ul>
