<% super_title "#{@year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => [2010]}) %>

<% add_javascript(:src => 'admin/fr_index.js') %>

<%= add_template('admin/fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_template('admin/fr_index_entry_popover_content', 'fr-index-entry-popover-content') %>

<h1 class="agency_name"><%= @agency.name %></h1>

<%= link_to 'PDF Preview', {:format => :pdf}, :class => "btn", :style => "margin-top: 10px" %>

<% @entries_by_type.each do |type, entries_by_subject| %>
  <div class="title_bar">
    <h2><%= Entry::ENTRY_TYPES[type].pluralize %></h2>
  </div>
  <ul id="<%= type.downcase %>" class="entry_type">
    <% entries_by_subject.each do |subject, entries_by_title| %>
      <%= render :partial => "subject_and_children", :locals => {:subject => subject, :entries_by_title => entries_by_title, :type => type} %>
    <% end %>
  </ul>
<% end %>
