<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<% max_date = agency_years.find{|x| x.respond_to?(:max_date)}.max_date %>
<% date_description = max_date.month == 1 ? max_date.to_s(:month_year) : "January&ndash;#{max_date.to_s(:month_year)}".html_safe %>
<% date_description_without_year = max_date.month == 1 ? max_date.strftime("%B") : "January&ndash;#{max_date.strftime("%B")}".html_safe %>
<style>
  @page {
    size: "US-Letter";
    margin-left: 0.63in; 
    margin-right: 0.63in; 
    margin-bottom: 0.83in;
    margin-top: 0.613in;
    <% if is_preview %> 
    @prince-overlay { 
      font-family: 'Open Sans';  
      font-weight: bold;  
      content: "Preview";  
      font-size: 80pt;  
      color: rgba(255,192,203,50%); 
      transform: rotate(-45deg); 
    } 
    <% end %> 
  }
  @page :left {
    @top-left {
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 0.75em;
      margin-top: 0.14in;
      content: string(agency_short_name, first);
    }

    @bottom-left {
      content: counter(page);
      font-family: 'Open Sans';
      font-weight:600; /* semibold */
      font-size: 0.65em;
    }
    @bottom-right {
      content: flow(footer_dateline-right);
      font-family: 'Open Sans';
      font-weight:600; /* semibold */
      font-size: 0.65em;
    }
  }
  @page :right {
    @top-right {
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 0.75em;
      margin-top: 0.14in;
      content: string(agency_short_name, last)
    }

    @bottom-left {
      content: flow(footer_dateline-left);
    }
    @bottom-right {
      content: counter(page);
      font-family: 'Open Sans';
      font-weight:600; /* semibold */
      font-size: 0.65em;
    }
  }

  @page index_pages:nth(<%= agency_years.size > 1 ? 3 : 1 %>) {
    @top-right { content: normal; }
    @top-left { content: normal; }
  }

  @page title_page {
    @top-right { content: normal; }
    @top-left { content: normal; }
    @bottom-right { content: normal; }
    @bottom-left { content: normal; }
    }

  @page front_matter {
    @top-left {
      font-size: 1.1em;
      font-weight: normal;
      content: counter(page, upper-roman);
      margin-top: 0.4in;
      margin-left: 0.4in;
      }
    @bottom-right { content: normal; }
    @bottom-left { content: normal; }
    }

  *[data-agency-name] {
    string-set: agency_short_name attr('data-agency-name');
  }

  body {
    font-family: 'Open Sans';
    font-size: 1em;
    counter-reset: page 1;
  }

  #title_page { page: title_page; }

  #index_pages { 
    counter-reset: page 1;
    page: index_pages;
    page-break-after: always;
    }

  #footer_dateline {
    font-family: 'Open Sans';
    font-weight:600; /* semibold */
    font-size: 0.65em;
    }
  #footer_dateline.left { 
    flow: static(footer_dateline-left);
    }
  #footer_dateline.right { 
    flow: static(footer_dateline-right);
    float: right;
    }


  h1 {
    margin-top: 0.75in;
    margin-bottom: 0.5in;
    font-size: 1.4em;
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.05em;
    padding: 0;
    margin-top: 6pt;
    margin-bottom: 1.5pt;
    margin-left: 0.5em;
    text-indent: -0.5em;
  }


  p {
    padding: 0;
    margin: 0;
  }

  div.index {
    font-size: 0.75em;
    columns: 2;
    column-rule: black solid 0.5pt;
    column-gap: 2em;
  }

  h3 {
    font-weight: bold;
    font-size: 0.85em;
    margin: 0;
    margin-top: 1pt;
  }

  div.index ul {
    margin: 0;
    margin-left: 2em;
    line-height: 1.3em;
    font-style: 'Open Sans';
    font-size: 0.8em;
  }

  div.index ul.no_header { margin-top: 0.5em; }

  div.index ul ul {
    margin-left: 1em;
    font-size: 0.98em;
  }

  div.index li {
    list-style-type: none;
    text-indent: -2em;
    line-height: 1.2em%;
  }
  .page_break {
    page-break-before: always;
  }
  .item {
    font-style: italic;
    page-break-inside: avoid;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .day {
    font-size: 0.97em;
    white-space: nowrap;
  }

  #title_page {
    position: relative;
    top: 109px;
    left: 228px;
    }
  
  #title_page .logo {
    width: 216px;
    height: 216px;
    }
  #title_page .logo img {
    width: 216px;
    height: 216px;
    }
  #title_page h1 {
    text-align: left;
    font-size: 1.75em;
    margin-top: 1.27in;
    margin-bottom: 0.1in;
    padding-bottom: 0.2in;
    width: 360px;
    border-bottom: 1px solid #000;
    }
  #title_page .horizontal_rule { border-bottom: 1px solid #000; }
  #title_page p { 
    margin: 10px 0;
    font-size: 1.2em;
    line-height: 1.7em;
    }
  #title_page p.ofr { 
    font-size: 1em;
    margin-top: 0.45in;
    }

  #front_matter {
    page: front_matter;
    font-size: 0.75em;
    margin-left: 0.35in;
    margin-right: 0.35in;
    }
  #front_matter .left_column,
  #front_matter .right_column {
    columns: 1;
    width: 48%;
    float: left;
    border-top: 1px solid black;
    }
  #front_matter .right_column {
    float: right;
    }
  #front_matter .left_column p,
  #front_matter .right_column p,
  #front_matter .right_column ol {
    margin: 10px 0;
    }

  #front_matter .header {
    border-top: 4px solid black;
    padding-top: 2px;
    }
  #front_matter .header .inner {
    border-top: 1px solid black;
    padding: 5px;
    }
  #front_matter .logo img {
    width: 75px;
    height: 75px;
    }
  #front_matter .right_column li {
    list-style: none;
    }
  a.agency_reference:after {
    content: " (on page " target-counter(attr(href), page) ")"
    }
</style>
</head>
<body>
  <% if agency_years.size > 1 %>
  <div id="footer_dateline" class='left'>FEDERAL REGISTER INDEX, <%= date_description %></div>
  <div id="footer_dateline" class='right'>FEDERAL REGISTER INDEX, <%= date_description %></div>

  <%= render :partial => 'admin/indexes/title_page', :locals => {:date_description => date_description, :fr_index_presenter => fr_index_presenter}, :formats => [:pdf] %>

  <%= render :partial => 'admin/indexes/front_matter', :locals => {:date_description_without_year => date_description_without_year}, :formats => [:pdf] %>
  <% end %>

  <div id='index_pages'>
    <h1>
      FEDERAL REGISTER INDEX<br>
      <%= date_description %>
    </h1>

    <div class="index">
      <%= render :partial => "admin/indexes/agency_year", :collection => agency_years, :locals => {:generated_file => generated_file}, :formats => [:pdf] %>
    </div>
  </div>
</body>
</html>
