<% super_title "#{@fr_index.year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => @years, :current_year => @fr_index.year, :max_date => @max_date}) %>

<div id="fr-index-metadata" class="page_summary">
  <h1><%= @fr_index.year %> Federal Register Index</h1>

  <hr />

  <p id="agency-jump-nav">
    Jump to Agencies: <%= @fr_index.agencies_by_letter.map{|letter,agencies| "<a href='##{letter}' class='letter_link'>#{letter}</a>"}.join(' | ') %>
  <p>

  <div class="agency_index_actions">
    <% form_tag(url_for(:max_date => @fr_index.last_issue_published), :method => :get, :class => 'max_date') do %>
      <%= max_date_select(@fr_index) %>
    <% end %>
    <%= link_to 'Preview PDF', {:format => :pdf, :max_date => @max_date}, :class => "btn pdf_preview", :target => "_blank" %>
    <% if @max_date.present? %>
      <%= link_to "(Re)generate PDFs for Public Site", admin_publish_index_year_path(:max_date => @max_date), :class => "btn publish_pdfs", :confirm => "Are you sure you wish to (re)publish the #{@fr_index.max_date.to_s(:month_year)} issue to the public site?", :method => :post %>
    <% end %>
  </div>
</div>

<div class="index_agencies">
  <% @fr_index.agencies_by_letter.each do |letter, agencies| %>
    <h3 id="<%= letter %>">
      <%= letter %>
      <a href="#fr-index-metadata">back to top</a>
    </h3>

    <ul>
      <% agencies.each do |agency| %>
        <% if agency.respond_to?(:see_instead) %> 
          <li>
            <%= agency.name %>
            <ul>
              <li>
                <em class="see">see</em> 
                <%= link_to "#{agency.see_instead.name} ", "#agency_#{agency.see_instead.id}", :class => "agency_reference"  %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= render :partial => "agency_name", :locals => {:agency => agency, :max_date => @max_date} %>

            <% if agency.children.present? %>
              <ul>
                <% agency.children.each do |sub_agency| %>
                  <% if sub_agency.respond_to?(:see_instead) %>
                    <li>
                      <em class="see">See</em> 
                      <%= link_to "#{sub_agency.see_instead.name} ", "#agency_#{sub_agency.see_instead.id}", :class => "agency_reference"  %>
                    </li>
                  <% else %>
                    <li>
                      <span class="see">See</span> 
                      <%= render :partial => "agency_name", :locals => {:agency => sub_agency, :max_date => @max_date} %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
