<% super_title "#{@agency_year.year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => @years, :current_year => @agency_year.year}) %>

<% add_javascript(:src => 'admin/fr_index.js') %>

<%= add_template('admin/fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_template('admin/fr_index_entry_popover_content', 'fr-index-entry-popover-content') %>

<div class="page_summary">
  <h1 class="agency_name"><%= @agency_year.name %></h1>

  <hr />

  <div class="agency_index_actions">
    <%= link_to 'Mark As Reviewed', admin_index_year_agency_completion_path(:last_completed_issue => @agency_year.max_date), :method => :put, :class => "btn mark_as_complete" %>
    <% if @agency_year.last_completed_issue %>
      <div class="last_completed">Last issue marked complete:
        <%= @agency_year.last_completed_issue.strftime("%b. #{@agency_year.last_completed_issue.day.ordinalize}") %>
      </div>
    <% end %>
    <%= link_to 'Preview PDF', {:format => :pdf}, :class => "btn pdf_preview" %>
  </div>
</div>

<% @agency_year.document_types.each do |document_type| %>
  <div class="title_bar">
    <h3>
      <%= document_type.name.pluralize %>
    </h3>
  </div>

  <ul id="<%= document_type.name.downcase %>" class="entry_type">
    <% document_type.groupings.each do |grouping| %>
      <%= case grouping
          when FrIndexPresenter::SubjectGrouping
            render :partial => "subject_grouping", :locals => { :subject_grouping => grouping }
          when FrIndexPresenter::DocumentGrouping
            render :partial => "document_grouping", :locals => { :document_grouping => grouping }
          end %>
    <% end %>
  </ul>
<% end %>
