<% super_title "#{@agency_year.year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => @years, :current_year => @agency_year.year, :max_date => @max_date, :include_agency_nav => true, :agency_year => @agency_year}) %>

<%= add_template('admin/fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_template('admin/fr_index_entry_popover_content', 'fr-index-entry-popover-content') %>
<%= add_template('admin/fr_index_form', 'fr-index-form') %>
<%= add_template('admin/spelling_error_menu', 'spelling-error-menu') %>
<%= add_template('admin/spelling_error_loading_menu', 'spelling-error-loading-menu') %>

<ul class="agency_index_nav_tabs page_summary">
  <li>
    <%= link_to "New Documents Since Last Approval (#{@last_approved_date})",
                {:action => :year_agency_unapproved_documents},
                :class => '' %>
  </li>
  <li class='active'>
    <%= link_to "All #{@agency_year.year} Agency Documents",
                admin_index_year_agency_path(@agency_year.year, @agency_year.agency, :max_date => @max_date),
                :class => ''  %>
  </li>
</ul>

<div class="page_summary">
  <h1 class="agency_name"><%= @agency_year.name %></h1>

  <hr />

  <div class="agency_index_actions">
    <% form_tag(url_for(:max_date => @agency_year.last_issue_published), :method => :get, :class => 'max_date') do %>
      <%= max_date_select(@agency_year) %>
    <% end %>

    <%= link_to 'Preview PDF', {:format => :pdf, :max_date => @max_date}, :class => "btn pdf_preview", :target => "_blank" %>
  </div>
</div>

<% @agency_year.document_types.each do |document_type| %>
  <%= render :esi => admin_index_year_agency_type_path(@agency_year.year, @agency_year.agency, document_type.granule_class, :max_date => @max_date) %>
<% end %>

<%= render :partial => "autocompleter_data", :locals => {:agency_year => @agency_year} %>
