<% super_title "#{@fr_index.year} FR Index" %>

<% sidebar(render :partial => 'nav', :locals => {:years => @years, :current_year => @fr_index.year}) %>

<div id="fr-index-metadata" class="page_summary">
  <h1><%= @fr_index.year %> Federal Register Index</h1>

  <hr />

  <p id="agency-jump-nav">
    Jump to Agencies: <%= @fr_index.agencies_by_letter.map{|letter,agencies| "<a href='##{letter}' class='letter_link'>#{letter}</a>"}.join(' | ') %>
  <p>

  <div class="agency_index_actions">
    <%= link_to 'PDF Preview', {:format => :pdf}, :class => "btn pdf_preview" %>
  </div>
</div>

<div class="index_agencies">
  <% @fr_index.agencies_by_letter.each do |letter, agencies| %>
    <h3 id="<%= letter %>">
      <%= letter %>
      <a href="#fr-index-metadata">back to top</a>
    </h3>

    <ul>
      <% agencies.each do |agency| %>
        <li>
          <%= link_to agency.name, admin_index_year_agency_path(@fr_index.year, agency) %>
            <%= needs_attention_pill(agency.needs_attention_count) %>

          <% if agency.children.present? %>
            <ul>
              <% agency.children.each do |sub_agency| %>
                <li>
                  <span class="see">See</span> 
                  <%= link_to sub_agency.name, admin_index_year_agency_path(@fr_index.year, sub_agency) %>
                  <%= needs_attention_pill(sub_agency.needs_attention_count) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
