<% if regulatory_plan.try(:events).present? %>
<div class="header_column">
  <h1>Timeline</h1>
  
  <span>
    <%= regulatory_plan.events.size %> 
    <%= regulatory_plan.events.first.date %> - 
    <%= regulatory_plan.events.last.date %>
  </span>
  
</div>

<div class="body_column">
  <div id="timeline">
    <ul class="timeline_list handle">
    <% regulatory_plan.events.each do |event| %>
      <li class="timeline_item">
        <div class="date"><%= fuzzy_date_formatter event.date %></div>
        <ul>
          <% if event.action? %>
            <li><div class="action"><%= add_citation_links(event.action) %></div></li>
          <% end -%>
          <% if event.fr_citation? %>
            <li><div class="citation"><%= add_citation_links(event.fr_citation) %></div></li>
          <% end -%>
        </ul>  
      </li>
    <% end %>
    </ul>
    
    
    
  </div>
</div>  
<% end %>