<% title @regulatory_plan.title %>
<% feed_autodiscovery regulatory_plan_url(@regulatory_plan, :format => :rss), "Documents associated with RIN #{@regulatory_plan.regulation_id_number}", :search_conditions => {:regulation_id_number => @regulatory_plan.regulation_id_number} %>

<div class="title"><span>Unified Agenda <%= @regulatory_plan.regulation_id_number %></span></div>

<% article_tag do %>
  <div id="metadata_content_area">
    <h1><%= @regulatory_plan.title %></h1>
    
      <div class="metadata_share_bar">
        
        <p class="metadata">Unified Agenda current as of <%= issue_season(@regulatory_plan) %></p>
        
        <div class="share">
          <ul>
            <li><%= link_to_twitter("#{short_regulatory_plan_url(@regulatory_plan)} #gov20") %></li>
            <li><%= link_to_facebook(short_regulatory_plan_url(@regulatory_plan), @regulatory_plan.title) %></li>
          <%# TODO HELP-RUBY make this real %>
          <%# <a href="#" class="button list social email">E-Mail</a> %>
          </ul>
        </div>
      </div>
      
  </div>
  
  <div id="content_area">
    
    <% if RAILS_ENV == 'development' %>
      <%= render :partial => "full_text", :locals => {:regulatory_plan => @regulatory_plan} %>
    <% else %>
      <%= render :esi => regulatory_plan_full_text_path(@regulatory_plan) %>
    <% end %>
  
    <div class="header_column">
      <h1>Timeline</h1>
    </div>
    <div class="body_column">
      <%= render :esi => regulatory_plan_timeline_path(@regulatory_plan)%>
    </div>
    
    <% if RAILS_ENV == 'development' %>
      <%= render :partial => "contacts", :locals => {:regulatory_plan => @regulatory_plan} %>
    <% else %>
      <%= render :esi => regulatory_plan_contacts_path(@regulatory_plan) %>
    <% end %>
    
    <% if @entry_count > 0 %>
      <div class="header_column">
        <h1>Federal Register Activity</h1>
      </div>
      <div class="body_column">
        <p><%= link_to "#{pluralize(@entry_count, "document")} found", entries_search_path(:conditions => {:regulation_id_number => @regulatory_plan.regulation_id_number})%></p>
      </div>
    <% end %>
  
  </div> <!-- CONTENT_AREA END -->
  
  <% if RAILS_ENV == 'development' %>
    <%= render :partial => "sidebar", :locals => {:regulatory_plan => @regulatory_plan} %>
  <% else %>
    <%= render :esi => regulatory_plan_sidebar_path(@regulatory_plan) %>
  <% end %>
  
<% end -%> <!-- end article tag -->
