<% title @regulatory_plan.title %>

<h1 class="title"><span>Regulation <%= @regulatory_plan.regulation_id_number %></span></h1>

<article>
  <h1><%= @regulatory_plan.title %></h1>
  
  <ul>
    <li><%= link_to "Official home", @regulatory_plan.source_url(:html) %></li>
    <li><%= link_to "XML", @regulatory_plan.source_url(:xml) %></li>
  </ul>
  
  <ul>
  <% @regulatory_plan.agencies.each do |agency| %>
    <li><%= link_to agency.name, agency_path(agency) %></li>
  <% end %>
  </ul>
  
  <p>Regulatory plan current as of <%= issue_season(@regulatory_plan) %>
  <dl>
    <% %w(abstract statement_of_need legal_basis alternatives costs_and_benefits risks ).each do |attribute| %>
      <% value = @regulatory_plan.send(attribute) %>
      <% if value.present? %>
        <dt><%= attribute.humanize %></dt><dd><%= add_citation_links(value) %></dd>
      <% end %>
    <% end %>
  </dl>
  
  <%= render :partial => 'regulatory_plans/timeline', :locals => {:regulatory_plan => @regulatory_plan} %>
  
  <h3>Federal Register Activity</h3>
  
  <p class="entries"><%= page_entries_info @entries, :entry_name => 'article' %></p>
  
  <%= will_paginate @entries %>
  <ul>
    <% @entries.each do |entry| %>
    <li><%= entry.publication_date %>: <%= entry.entry_type %> <%= link_to entry.title, entry_path(entry) %></li>
    <% end %>
  </ul>
  <%= will_paginate @entries %>
</article>