<% super_title 'Agency Names' %>
<% title 'All Agency Names' %>

<% sidebar(render :partial => 'nav') %>

<% semantic_form_for @search do |f| %>
  <% f.inputs do %>
    <%= f.input :name_contains %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Search' %>
  <% end %>
<% end %>

<%= will_paginate @agency_names %>

<table class='center_content'>
  <thead>
    <tr>
      <th>Agency Name</th>
      <th>Processed?</th>
      <th>Assigned Agency</th>
      <th># Documents</th>
    </tr>
  </thead>
  <tbody>
    <% @agency_names.each do |agency_name| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= link_to agency_name.name, edit_admin_agency_name_path(agency_name) %></td>
        <td><%= agency_name.unprocessed? ? 'NO' : 'yes' %></td>
        <td><%= link_to(agency_name.agency.name, edit_admin_agency_path(agency_name.agency)) if agency_name.agency %></td>
        <td><%= agency_name.entries.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @agency_names %>
