<% super_title 'Agency Name Assignment' %>
<% title 'All Agencies' %>

<% nav_secondary(render :partial => 'nav') %>

<table class='grid_10 push_2 sortable'>
  <thead>
    <tr>
      <th>Agency Name</th>
      <th>Processed?</th>
      <th>Assigned Topics</th>
      <th># Articles</th>
    </tr>
  </thead>
  <tbody>
    <% @agency_names.each do |agency_name| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= link_to agency_name.name, edit_admin_agency_name_path(agency_name) %></td>
        <td><%= agency_name.processed? ? 'NO' : 'yes' %></td>
        <td><%= agency_name.agency.try(:name) %></td>
        <td><%= agency_name.entries_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>