<% title "Explore Events by Date" %>

<% content_for :precolumn do %>
  <div class="infobox">
    <p class='copy'>
      Entries in the Federal Register often contain information regarding the dates that final rules become effective 
      as well when the comment period for proposed rules end. Using the tools below you move between months and click
      on any date in the calendar to see the events for that day.
    <p class='copy'> 
      Note that calendar events extend into the future, so don't forget to look there! Summaries are also provided 
      to see which agencies and entry types are generation events.
    </p>
  </div>
<% end %>


<div class='header group'>
  <h2>
    Events for <%= @referenced_dates.first.date.to_formatted_s(:month_year) %>
    <span>(<%= pluralize(@entries.size, 'entry') %> with events)<span>
  </h2>
  
  <% if @prev_date %>
    <%= link_to 'Prev', events_path(@prev_date), :class => "icon arrow prev floatLeft" %>
  <% end %>

  <% if @next_date %>
    <%= link_to 'Next', events_path(@next_date), :class => "icon arrow next floatRight" %>
  <% end %>
  
</div>

<% if @day.nil? %>
  <%= dates_calendar_view(@referenced_dates, @year, @month) %>
  <% add_javascript(:src => 'calendar') %>
<% end %>

<% type_limit = 5 %>
<ul>
<% @referenced_dates.group_by(&:date).each do |date, referenced_dates| %>
  <li id='date_<%= date.to_s(:db) %>' class='calendar_date'>
    <h2 class='clear'><%= date.to_formatted_s(:pretty) %></h2>
    <% referenced_dates.group_by(&:date_type).each do |date_type, referenced_dates| %>
      <ul>
        <li>
          <% entry_count = referenced_dates.size.to_i %>
          <h4><%= show_date_type(date_type, entry_count) %></h4>
          <% if entry_count > type_limit %> 
            <span class='more'>(<%= link_to 'view all', "##{date_type}_#{date.to_s(:db)}" %>)</span>
          <% end %>
          <ul class="raquo indent">
            <div>
              <% referenced_dates[0..4].each do |referenced_date| %>
                <li><%= link_to(referenced_date.entry.title, entry_path(referenced_date.entry) ) %></li>
              <% end %>
            </div>
            <% if entry_count > 5 %>
              <div id="<%= date_type %>_<%= date.to_s(:db) %>" class='extra'>
                <% referenced_dates[4..entry_count].each do |referenced_date| %>
                  <li><%= link_to(referenced_date.entry.title, entry_path(referenced_date.entry) ) %></li>
                <% end %>
              </div>
            <% end %>
          </ul>
        </li>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>

<% content_for :sidebar do %>
  <% unless @agency_values.blank? %>
    <h3>Event counts by Agency</h3>
    <div class='chart size_<%=@agency_values.size%>'><%= pie_3d_chart(:alt => 'Agencies using this Topic Group', :legend => @agency_labels, :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :data => @agency_values, :size => ['230','350'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
  
  <% unless @granule_values.blank? %>
    <h3>Entry Types With Events</h3>
     <div class='chart size_<%=@granule_values.size%>'><%= pie_3d_chart(:alt => 'Entry Type for Recent Entries', :legend => @granule_labels, :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :data => @granule_values, :size => ['230','200'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
<% end %>