<% super_title 'Agencies' %>

<% sidebar(render :partial => 'nav') %>

<%= semantic_form_for @search, :url => admin_agencies_path, :method => :get do |f| %>
  <%= f.inputs do %>
    <%= f.input :name_cont, label: 'Search By Name' %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => 'Search', :button_html => {:class => "btn btn-large btn-success"} %>
  <% end %>
<% end %>

<%= page_entries_info @agencies %>

<%= will_paginate @entries, renderer: BootstrapPagination::Rails %>
<table class="<%= table_css_class %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @agencies.each do |agency| %>
    <tr>
      <td><%= agency.name %></td>
      <td><%= agency.parent.try(:name) %></td>
      <td><%= link_to 'Edit', edit_admin_agency_path(agency) %></td>
      <td><%= link_to 'Delete', delete_admin_agency_path(agency) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @entries, renderer: BootstrapPagination::Rails %>
