<% super_title 'Reprocessed Issues' %>

<% title "Reprocessings for #{@presenter.date} Issue" %>
<% sidebar(render :partial => 'reprocessed_issues_nav') %>

<div class="reprocess-issue"
  data-status='<%= @presenter.reprocessed_issue_in_progress_status %>'>


    <% if @presenter.display_loading_message? %>
      <p>Reprocessing...</p>

      <%= simple_format(@presenter.reprocessed_issue_in_progress.message) %>
    <% else %>
      <p>Most recent MODS changes:</p>

      <div class="well">
        <%= simple_format(h @presenter.most_recent_diff) ||
          "No changes identified." %>
      </div>
    <% end %>

  <p>
    <% if @presenter.show_reprocessing_buttons? %>
      <div class="row">
        <% form_tag(
          admin_reprocessed_issue_path(@presenter.reprocessed_issue_in_progress),
          :method => :put, :class => "pull-right"
        ) do %>
          <%= submit_tag 'Reprocess', :class => 'btn btn-primary btn-large' %>
        <% end %>

        <% form_tag(
          admin_update_mods_path(@presenter.reprocessed_issue_in_progress),
          :method => :put, :class => "pull-right"
        ) do %>
          <%= submit_tag 'Update MODS', :class => 'btn btn-info btn-large' %>
        <% end %>
      </div>
    <% end %>
  </p>

  <div class="reprocessed_issue-history">
    <h3>Reprocessing History</h3>

    <table class="table-striped table-condensed">
      <thead>
        <tr>
          <th>Initiated</th>
          <th>Completed</th>
          <th>Initiated By</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.reprocessed_issues.each do |reprocessed_issue| %>
          <tr>
            <td class="span3">
              <%= reprocessed_issue.created_at.to_s(:mdy_short_year_then_time) %>
            </td>
            <td class="span3">
              <%= reprocessed_issue.status == "complete" ?
                reprocessed_issue.updated_at.to_s(:mdy_short_year_then_time) :
                reprocessed_issue.status %>
            </td>
            <td class="span3"><%= reprocessed_issue.user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
