<% title 'New Subscription' %>
<div class="title"><span>Subscriptions</span></div>

<div class="errors">
  <p class="errors_header">Are you sure you wish to subscribe to <strong><%= link_to h(@subscription.mailing_list.title), entries_search_path(:conditions => @subscription.mailing_list.search_conditions) %></strong>?</p>
</div>

<h3>Subscription Options</h3>

<ul class="horizontal icons">
	<% if params[:subscription].nil? || params[:subscription][:email].nil? %>
    <% feed_url = entries_search_url(:search => {:conditions => @subscription.search_conditions}, :format => :rss) %>
    <li class="header"><h5>Via RSS:</h5></li>
		<li class="google"><a href="http://fusion.google.com/add?feedurl=<%= CGI.escape(feed_url) %>" title="Add feed to Google">Google Reader</a></li>
		<li class="yahoo"><a href="http://add.my.yahoo.com/rss?url=<%= CGI.escape(feed_url)  %>" title="Add feed to Yahoo">My Yahoo</a></li>
		<li class="rss_link"><a href="<%= feed_url %>" title="RSS 2.0 Link">RSS 2.0 Link</a></li>
  <% end %>
  <li class="header email"><h5>Via Email:</h5></li>
  <li class="email">
		<% semantic_form_for @subscription, :url => subscriptions_path do |f| %>
			<%# Serialize the parameters; note that this doesn't recurse %>
			<% f.fields_for :search_conditions do |cond_f| %>
				<% (@subscription.search_conditions || []).each do |attr, vals| %>
					<% if vals.is_a?(Array)%>
						<% vals.each do |val| %>
							<%= cond_f.hidden_field(attr, :id => '', :value => val, :multiple => true) unless val.blank? %>
						<% end %>
					<% elsif vals.is_a?(Hash) %>
						<% vals.each_pair do |key,val| %>
							<% cond_f.fields_for attr do |custom_f| %>
								<%= custom_f.hidden_field(key, :id => '', :value => val) unless val.blank? %>
							<% end %>
						<% end %>
					<% else%>
						<%= cond_f.hidden_field(attr, :id => '', :value => vals) unless vals.blank? %>
					<% end %>
				<% end %>
			<% end %>

      <% f.inputs do %>
        <%= f.input :email,
                    :input_html => { :placeholder => 'Subscribe via E-Mail' } %>
        <%= f.input :search_type,
                    :as => :radio,
                    :collection => [['Published', 'Entry'], ['Filed on Public Inspection', 'PublicInspectionDocument']],
                    :label => "Notify when" %>
      <% end %>

			<% f.buttons do %>
				<%= f.commit_button "Subscribe" %>
			<% end %>
		<% end %>
	</li>  
</ul>
