<div style="margin-left:<%= margin_left %>">
<h6 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:12px;margin: 10px 0 5px 0;"><%= link_to entry.curated_title, short_entry_url(entry.document_number) %></h6>
          
<p style="color:#7A838A;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:12px;margin: 0 0 5px 0;">A <%= entry.entry_type %> by <%= agency_names(entry, :no_links => true) %></p>
    
<p style="color:#363636;font-family:Georgia, 'Times New Roman',serif;font-size:13px; line-height:1.5;margin:0px 0 15px;"><%= truncate_words(entry.curated_abstract || entry.raw_text, :length => 500) || "[No abstract available]" -%></p>

<%- if entry.comments_close_on && entry.comments_close_on > Date.current %>
  <p style="background:#eeeeee;color:#363636;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:bold;padding:3px 3px 5px 3px;text-transform:uppercase;"><img src="http://www.federalregister.gov/images/icons/icon_comment.png" style="margin:3px 5px 0 5px;vertical-align:sub" />Comment period ends in <%= pluralize (entry.comments_close_on - Date.current), 'day' %> (<%= entry.comments_close_on %>)</p>
<%- end %>
</div>
