<div style="margin-left:<%= margin_left %>">
<h6 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:12px;margin: 10px 0 5px 0;"><%= link_to title.reject(&:blank?).join(' - '), short_entry_url(document.document_number) %> (<%= document.document_number %>)</h6>
          
<p style="color:#7A838A;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:12px;margin: 0 0 5px 0;">A <%= document.entry_type %> by <%= agency_names(document, :no_links => true) %> to be published on <%= document.publication_date %></p>
</div>
