<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% light_gray = "background-color: #ddd;" %>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table border="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <img src="<%= root_url %>images/logotype.png" />
        </td>
        <td style="text-align:right;">
          <img src="<%= root_url %>images/seal_email.jpg" />
        </td>
      </tr>
    </table>
    <div>

      <h2 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 25px;">
        FederalRegister.gov Daily Import Update for <%= @date %>
      </h2>

      <% if @problematic_document_presenter.documents_scheduled_but_unpublished.present? %>
        <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
          Public Inspection Documents that Failed to Publish
        </h3>

        <table>
          <thead>
            <tr>
              <th>Document Number</th>
              <th>Document Title</th>
            </tr>
          </thead>
          <tbody>
            <% @problematic_document_presenter.documents_scheduled_but_unpublished.each do |document| %>
              <tr style="<%= cycle(nil, light_gray) %>">
                <td style="width: 300px;" align="left">
                  <%= link_to(document.document_number, short_entry_url(document.document_number)) %>
                </td>
                <td style="width: 600px;" align="left">
                  <%= document.title %>
                </td>
              </tr>
            <% end %>
            <% reset_cycle %>
          </tbody>
        </table>
      <% end %>

      <% if @problematic_document_presenter.revoked_and_published_documents.present? %>
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
        Revoked Public Inspection Documents that Published
      </h3>

      <table>
        <thead>
          <tr>
            <th>Document Number</th>
            <th>Document Title</th>
          </tr>
        </thead>
        <tbody>
          <% @problematic_document_presenter.revoked_and_published_documents.each do |document| %>
            <tr style="<%= cycle(nil, light_gray) %>">
              <td style="width: 300px;" align="left"><%= link_to document.document_number, short_entry_url(document.document_number) %></td>
              <td style="width: 600px;" align="left">
                <%= document.title %>
              </td>
            </tr>
          <% end %>
          <% reset_cycle %>
        </tbody>
      </table>

      <% end %>

      <% if @problematic_document_presenter.documents_published_without_public_inspection.present? %>
        <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
          Documents Published Without Appearing on Public Inspection
        </h3>

        <table>
          <thead>
            <tr>
              <th>Document Number</th>
              <th>Document Title</th>
            </tr>
          </thead>
          <tbody>
            <% @problematic_document_presenter.documents_published_without_public_inspection.each do |document| %>
              <tr style="<%= cycle(nil, light_gray) %>">
                <td style="width: 300px;" align="left"><%= link_to document.document_number, short_entry_url(document.document_number) %></td>
                <td style="width: 600px;" align="left">
                  <%= document.title %>
                </td>
              </tr>
            <% end %>
            <% reset_cycle %>
          </tbody>
        </table>

      <% end %>

      <% if @problematic_document_presenter.special_documents.present? %>
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
        Documents with Problematic Document Numbers
      </h3>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Document Number</th>
            <th>Rule Type</th>
          </tr>
        </thead>
        <tbody>
          <% @problematic_document_presenter.special_documents.each do |document| %>
            <tr style="<%= cycle(nil, light_gray) %>">
              <td style="width: 300px;" align="left"><%= document.title %></td>
              <td style="width: 300px;" align="left"><%= link_to document.document_number, short_entry_url(document.document_number) %></td>
              <td style="width: 300px;" align="left"><%= document.entry_type %></td>
            </tr>
          <% end %>
          <% reset_cycle %>
        </tbody>
      </table>
      <% end %>

      <% if @problematic_document_presenter.rules_with_date_text.present? %>
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
        Rules
      </h3>
      <table>
        <thead>
          <tr>
            <th>Document Number</th>
            <th>Effective Date</th>
            <th>Dates</th>
          </tr>
        </thead>
        <tbody>
          <% @problematic_document_presenter.rules_with_date_text.each do |doc_num, date_text| %>
          <% document = Entry.find_by_document_number(doc_num) %>
          <tr style="<%= cycle(nil, light_gray) %>">
            <td style="width: 150px;" align="left">
              <%= link_to doc_num, short_entry_url(document.document_number) %>
            </td>
            <% if document.effective_on %>
              <td style="width: 150px;" align="left">
            <% else %>
              <td style="width: 150px; background-color: #FCC;" align="left">
            <% end %>
                <%= document.effective_on %>
              </td>
            <td style="width: 600px;" align="left">
              <%= date_text.present? ? date_text : '<em>No date text available</em>' %>
            </td>
          </tr>
          <% end %>
          <% reset_cycle %>
        </tbody>
      </table>
      <% end %>

      <% if @problematic_document_presenter.multiple_comment_dates.present? %>
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
        Documents with Multiple Comment Dates
      </h3>
      <table>
        <thead>
          <tr>
            <th>Document Number</th>
            <th>Comment Date</th>
            <th>Dates</th>
          </tr>
        </thead>
        <tbody>
          <% @problematic_document_presenter.multiple_comment_dates.each do |doc_num, dates| %>
            <% document = Entry.find_by_document_number(doc_num) %>
            <tr style="<%= cycle(nil, light_gray) %>">
              <td style="width: 150px;" align="left">
                <%= link_to doc_num, short_entry_url(document.document_number) %>
              </td>
              <td style="width: 150px;" align="left"><%= document.comments_close_on %></td>
              <td style="width: 600px" align="left"><%= dates %></td>
            </tr>
          <% end %>
          <% reset_cycle %>
        </tbody>
      </table>
      <% end %>

      <% if @problematic_document_presenter.missing_gpo_graphics.present? %>
        <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
          Missing Images
        </h3>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <th>Document</th>
            <th>Image Identifiers</th>
          </thead>
          <tbody>
            <% @problematic_document_presenter.missing_gpo_graphics.documents.each do |doc| %>
              <tr style="<%= cycle(nil, light_gray) %>">
                <td style="width: 300px;" align="left"><%= link_to doc.document_number, short_entry_url(doc.document_number) %></td>
                <td style="width: 300px;" align="left"><%= doc.image_identifiers.map{|id| id}.join(', ')%></td>
              </tr>
            <% end %>
            <% reset_cycle %>
          </tbody>
        </table>
      <% end %>

      <% if @agency_name_presenter.complex_remappings.present? %>
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
        Complex Agency Name Remappings
      </h3>

      <table>
        <thead>
          <tr>
            <th>Original Name</th>
            <th>Remapped Name</th>
            <th>Documents</th>
          </tr>
        </thead>
        <tbody>
          <% @agency_name_presenter.complex_remappings.each do |remapping| %>
              <tr style="<%= cycle(nil, light_gray) %>">
                <td style="width: 300px;"><%= remapping.original_name %></td>
                <td style="width: 300px;">
                  <% if remapping.agency_name.agency %>
                    <%= link_to remapping.agency_name.agency.name, edit_admin_agency_name_url(remapping.agency_name) %>
                  <% else %>
                    <em>not remapped</em>
                  <% end %>
                </td>
                <td style="width: 255px;padding: 20px 0;" align="left"><%= remapping.entries.map{|e| link_to e.document_number, short_entry_url(e.document_number)}.join(', ') %>
              </tr>
          <% end %>
          <% reset_cycle %>
        </tbody>
      </table>
      <% end %>

      <% if @agency_name_presenter.basic_remappings.present? %>
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;font-size: 20px;border-bottom: 1px solid #000;">
        Basic Agency Name Remappings
      </h3>
      <table>
        <thead>
          <tr>
            <th>Original Name</th>
            <th>Remapped Name</th>
            <th>Documents</th>
          </tr>
        </thead>
        <tbody>
          <% @agency_name_presenter.basic_remappings.each do |remapping| %>
            <tr style="<%= cycle(nil, light_gray) %>">
              <td style="width: 300px;"><%= remapping.original_name %></td>
              <td style="width: 300px;">
                <% if remapping.agency_name.agency %>
                  <%= link_to remapping.agency_name.agency.name, edit_admin_agency_name_url(remapping.agency_name) %>
                <% else %>
                  <em>not remapped</em>
                <% end %>
              </td>
              <td style="width: 255px;padding: 20px 0;"><%= remapping.entries.map{|e| link_to e.document_number, short_entry_url(e.document_number)}.join(', ') %>
            </tr>
          <% end %>
          <% reset_cycle %>
        </tbody>
      </table>
      <% end %>
    </div>

  </body>
</html>
