<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
     <table border="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <img src="<%= root_url %>images/logotype.png" />
        </td>
        <td style="text-align:right;">
          <img src="<%= root_url %>images/seal_email.jpg" />
        </td>
      </tr>
    </table>  
          
    <div style="width: 600px;">
      
      <h3 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;">You've been sent a document from the Federal Register by <%= h @sender %>
  
    <% if @message.present? %>
       with the message:</h3>
       
       <p><%= h @message %></p>
    <% else %>
    .</h3>
    <% end %>
    
      <h2 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin: 25px 0 5px;"><%= link_to @entry.title, short_entry_url(@entry.document_number) %> </h2>
      
      <p style="color:#7A838A;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:12px;margin: 0 0 10px;"><%= @entry.citation %> - <%= @entry.entry_type.with_indefinite_article(true) %> by <%= agency_names(@entry, :no_links => true) %> published on <%= @entry.publication_date %></p>
      
    <p style="color:#363636;font-family:Georgia, 'Times New Roman',serif;font-size:13px; line-height:1.5;margin-bottom: 25px;"><%= truncate_words(@entry.curated_abstract, :length => 500) || "[No abstract available]" -%></p>

    <hr />
    <p style="color:#787878;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;">
      <a href="https://www.federalregister.gov/policy/privacy#endorsement_disclaimer">Disclaimer</a> | 
      <a href="https://www.federalregister.gov/policy/privacy">Policy</a> | 
      </p> 

    <h3 style="color:#999999;font-size:13px;margin:5px 0;">Privacy</h3>
    <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">Welcome to our free E-mail subscription service. FederalRegister.gov uses your e-mail address to enable you to receive e-mail notifications according to your preferences. We retain only the personally identifiable information minimally necessary to operate the subscription service. We do not retain any information about third parties who receive “email a friend” notifications through the subscription service. For more information, please read our <a href="https://www.federalregister.gov/policy/privacy">Privacy and Security Policy</a>.</p>

    <h3 style="color:#999999;font-size:13px;margin:5px 0;">Legal Status</h3>
    <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">The documents received via our E-mail subscriptions service originate from FederalRegister.gov, which displays an unofficial “Web 2.0” version of the daily Federal Register. The official electronic version in PDF format is also available as a link from FederalRegister.gov or directly from GPO’s <a href="https://www.fdsys.gov/">Federal Digital System website</a>. For more information, please read our <a href="https://www.federalregister.gov/policy/legal-status">Legal Status page</a>.</p>

  </div>
  </body>
</html>
