<h1><%= link_to @entry.title, short_entry_url(@entry.document_number) %></h1>

<p><%= short_entry_url(@entry.document_number) %></p>

<p><%= truncate_words(@entry.curated_abstract, :length => 500) || "[No abstract available]" -%></p>

<% if @message.present? %>
  <p><%= h @sender %> wrote: <%= @message %></p>
<% end %>