<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <table border="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <img src="http://federalregister.gov/images/logotype.png">
          <h1 style="background:none repeat scroll 0 0 #FFFFFF;color:#5697CF;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin:30px0 15px 0;padding:0;">
            <%=h @mailing_list.title %>
          <span style="color:#363636;font-size: 12px;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-style:italic;font-weight: normal;">(<%= pluralize @results.size, "matching article" %>)</span>
         </h1>
        </td>
        <td style="text-align:right;">
          <img src="http://federalregister.gov/images/seal_email.gif" />
        </td>
      </tr>
    </table>  
 
    <h2 style="color:#464646;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:18px;text-transform: uppercase;border-bottom: 2px solid #464646;margin: 0 0 10px;">Table of Contents:</h2>
    
    <% @agencies.each_with_index do |agency, index| %>
      <a name="<%= agency.slug %>"></a>
      <h3 style="color:#464646;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:16px;margin-bottom:5px;text-decoration:underline;"><%= agency.name %></h3>      
      <% if agency.children.present? %>
      <ul style="padding-left:5px;">
        <% agency.children.each_with_index do |sub_agency, index| %>
            <li style="list-style:none;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;">
              <i>See</i>
              <a href="#<%= sub_agency.slug %>" style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;"><%= sub_agency.name %></a> 
              <span style="font-size: 11px;">(<%= pluralize(sub_agency.entries.to_a.size, 'article') %>)</span>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% agency.entries_by_type_and_toc_subject.each do |type, entries_by_toc_subject| %>
        <ul style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;padding-left:0;">
          <li style="list-style:none;">
            <h4 style="color:#464646;font-size:14px;text-transform:uppercase;margin:5px 0;"><%= type.pluralize %></h4>
            <ul style="color:#464646;list-style:none;margin-top:5px;padding-left:5px;">
              <% entries_by_toc_subject.each do |toc_subject, entries_by_toc_subject| %>
                <% if toc_subject.present? %>
                  <li>
                    <h5 style="color:#464646;font-size:13px;margin:5px 0;"><%= toc_subject %></h5>
                    <ul style="list-style:none;padding-left: 0;">
                      <% entries_by_toc_subject.each do |entry| %>
                        <li><a href="#<%= entry.slug %>" name="toc_<%= entry.slug %>"><%= entry.title %></a></li>
                      <% end %>  
                    </ul>
                  </li>
                <% else %>
                  <% entries_by_toc_subject.each do |entry| %>
                    <li><a href="#<%= entry.slug %>" name="toc_<%= entry.slug %>"><%= entry.title %></a></li>
                  <% end %>
                <% end %>
              <% end %>  
            </ul>
          </li>
        </ul>
      <% end %>
    <% end %>
    
    <hr />
        
    <% @results.each do |entry| %>
      <a name="<%= entry.slug %>" />
      
      <h2 style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;margin-bottom: 5px;"><%= link_to entry.curated_title, short_entry_url(entry.document_number) %></h2>
            
      <p style="color:#7A838A;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:12px;margin: 0 0 10px; 0">A <%= entry.entry_type %> by <%= agency_names(entry, :no_links => true) %></p>
      
      <p style="color:#363636;font-family:Georgia, 'Times New Roman',serif;font-size:13px; line-height:1.5;margin-bottom: 15px;"><%= truncate_words(entry.curated_abstract, :length => 500) || "[No abstract available]" -%></p>

      <%- if entry.comments_close_on && entry.comments_close_on > Date.current %>
        <p style="background:#eeeeee;color:#363636;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:bold;padding:3px 3px 5px 3px;text-transform:uppercase;"><img src="http://www.federalregister.gov/images/icons/icon_comment.png" style="margin:3px 5px 0 5px;vertical-align:sub" />Comment period ends in <%= pluralize (entry.comments_close_on - Date.current), 'day' %> (<%= entry.comments_close_on %>)</p>
      <%- end %>
      
      <a href="#toc_<%= entry.slug %>">Back to Top</a>
      
    <% end %>
    
    <hr />
      
    <p style="color:#787878;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;">
      <a href="http://www.federalregister.gov/policy/privacy#endorsement_disclaimer">Disclaimer</a> | 
      <a href="http://www.federalregister.gov/policy/privacy">Policy</a> | 
      <%= link_to "Unsubscribe from these results", unsubscribe_subscription_url('(((token)))') %>
    </p> 
    
    <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">The articles posted on this site are XML renditions of published Federal Register documents. Each document posted on the site includes a link to the corresponding official PDF file on FDsys.gov. This prototype edition of the daily Federal Register on FederalRegister.gov will remain an unofficial informational resource until the Administrative Committee of the Federal Register (ACFR) issues a regulation granting it official legal status. For complete information about, and access to, our official publications and services, go to the OFR.gov website.</p>

    <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">The OFR/GPO partnership is committed to presenting accurate and reliable regulatory information on FederalRegister.gov with the objective of establishing the XML-based Federal Register as an ACFR-sanctioned publication in the future. While every effort has been made to ensure that the material on FederalRegister.gov is accurately displayed, consistent with the official SGML-based PDF version on FDsys.gov, those relying on it for legal research should verify their results against an official edition of the Federal Register. Until the ACFR grants it official status, the XML rendition of the daily Federal Register on FederalRegister.gov does not provide legal notice to the public or judicial notice to the courts.</p>
      
  </body>
</html>

