<% super_title 'Presidential Documents' %>
<% title 'Document Updates' %>

<%= semantic_form_for :upload,
  url: admin_presidential_documents_path,
  html: {
    class: 'presidential-documents',
    multipart: true
  } do |f| %>

  <p>Uploaded files need to be in CSV format (.csv)</p>

  <%= f.inputs do %>
    <%= f.input :csv_file, label: 'Executive Orders:', as: :file %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Upload', button_html: {class: 'btn btn-primary btn-large'} %>
  <% end %>
<% end %>
