<% super_title 'Presidential Documents' %>
<% title 'Document Updates' %>

<%= semantic_form_for :upload,
  url: admin_presidential_documents_path,
  html: {
    class: 'presidential-documents',
    multipart: true
  } do |f| %>

  <p>Uploaded files need to be in CSV format (.csv).  Click <%= link_to "here", "/api/v1/documents.csv?fields[]=executive_order_number&fields[]=document_number&fields[]=html_url&fields[]=publication_date&fields[]=signing_date&per_page=2000&order=executive_order_number&conditions[presidential_document_type][]=executive_order&conditions[correction]=0" %> to download existing executive orders.</p>

  <%= f.inputs do %>
    <%= f.input :csv_file, label: 'Executive Orders:', as: :file %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Upload', button_html: {class: 'btn btn-primary btn-large'} %>
  <% end %>
<% end %>
