<h1><%= @section.title %></h1>

<p>
  <%= link_to 'Add a canned search', new_admin_canned_search_path(:canned_search => {:section_id => @section.id }) %>
</p>

<table id="canned_searches">
  <thead>
    <tr>
      <th>Title</th>
      <th>Active</th>
      <th>Frequency</th>
      <th>Max</th>
      <th>Avg</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @canned_searches.each do |canned_search| %>
    <tr id="canned_search_<%= canned_search.id %>" data-canned-search-id="<%= canned_search.id %>">
      <td><%= canned_search.title %></td>
      <td><%= canned_search.active? ? link_to('Yes', canned_search_path(canned_search)) : 'No' %>
      <% counts = canned_search.search.date_distribution(:period => :monthly, :since => 5.years.ago) %>
      <td><%= sparkline(:data => counts, :alt => "Monthly Distribution", :max => 100 ) %></td>
      <td><%= counts.max %>/mo</td>
      <td><%= counts.average.to_i %>/mo</td>
      <td><%= link_to 'Edit', edit_admin_canned_search_path(canned_search) %></td>
      <td><%= link_to 'Delete', delete_admin_canned_search_path(canned_search) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% add_javascript do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#canned_searches tbody").sortable({
    stop: function(event, ui) {
      var canned_search_id = ui.item.attr('data-canned-search-id');
      var position = ui.item.prevAll('tr').size() + 1;
      $.ajax({
        url: '/admin/canned_searches/' + canned_search_id,
        type: 'PUT',
        data: "canned_search[new_position]=" + position,
        success: function() {
          $('#canned_search_' + canned_search_id).effect('highlight', {}, 3000);
          show_separator();
        }
      })
    }
  });
  
  function show_separator() {
    $('#canned_searches tbody tr').removeClass('separator');
    $('#canned_searches tbody tr:eq(3)').addClass('separator');
  }
  show_separator();
});
</script>
<% end %>
