<span class="pdf small"></span><%= link_to document_title, document.pdf.url, :class => "pdf small" %>
<p class="details">
  [<%- if document.docket_numbers.present? %><span class="docket_id"><%= document.docket_numbers.map(&:number).join('; ') %>;</span> <% end %>
  <span class="filed_at">Filed on: <%= document.filed_at %>;</span>
  <span class="document_number">
    FR DOC #: 
      <%= link_to_if document.document_number.present? && document.publication_date && Date.today >= document.publication_date, document.document_number, "/a/#{document.document_number}" %>
    ;
  </span>
  <span class="publication_date">Publication Date:
    <% if document.publication_date.present? %> 
      <%= Issue.find_by_publication_date(document.publication_date) ? link_to(document.publication_date, entries_by_date_path(document.publication_date) ) : document.publication_date  %>;
    <% end %>
  </span>
  <span>
    <%= number_to_human_size document.pdf_file_size %>; <%= pluralize document.num_pages, 'page' %>
  </span>]
</p>

<% if document.editorial_note.present? %>
<p class="editorial_note"><strong>Editorial Note:</strong> <%= document.editorial_note %></p>
<% end %>
