<%= link_to document_title, entry_path(document) %>
<div class="details">
  <div class="column file_info">
    <%= link_to '<span class="pdf small">PDF</span>'.html_safe, document.pdf.url(:with_banner, false) %> - <%= number_to_human_size document.pdf_file_size %>; <%= pluralize document.num_pages, 'page' %>
    <%= link_to '<span class="permalink">Permalink</span>', entry_path(document)%>
  </div>
  <div class="column dates">
    <%- if date && document.filed_at.to_date == date %>
      <span class="new_document"></span>
    <%- end %>
    <span class="filed_at">Filed on: <%= document.filed_at.to_s(:short_date_then_time) %></span>
    <%- if document.publication_date.present? %> 
    <span class="publication_date">Publication Date:
        <%= Issue.find_by_publication_date(document.publication_date) ? link_to(document.publication_date, entries_by_date_path(document.publication_date, :anchor => document.document_number) ) : document.publication_date  %>
    </span>
    <%- end %>
  </div>

  <div class="column doc_numbers">
    <span class="document_number">
      FR Document: <%= link_to document.document_number, short_entry_path(document) %>
    </span>

    <%- document.docket_numbers.each do |docket_number| %>
        <span class="docket_id"><%= docket_number.number %></span>
    <%- end %>
  </div>
</div>

<% if document.editorial_note %>
  <div class="editorial_note">
    <strong>Editorial Note: <%= document.editorial_note %></strong>
  </div>
<% end %>
