<% title = document.title.present? ? document.title : "#{document.toc_subject} #{document.toc_doc}" %>
<h1><%= title %></h1>

<div class="metadata_share_bar">
  <p class="metadata">An <strong>unpublished</strong> <%= document.entry_type %> by <%= agency_names(document) %>
    <% if document.publication_date %>
      on <%= date_tag(document.publication_date, :datetime => document.publication_date.to_s(:iso)) %>
    <% end %>
  </p>

  <div class="share">
    <ul>
      <li><%= link_to_twitter("#{short_entry_url(document)} #gov20") %></li>
      <li><%= link_to_facebook(short_entry_url(document), title) %></li>
    </ul>
  </div>
</div>

<% if document.pdf_displayable? %>
  <div id="flash_message" class="pdf_only">
    <p>
      This document has not been published and is only available in <%= link_to 'PDF format', document.pdf.url(:with_banner, false) %>.
      <%= link_to 'Download PDF', document.pdf.url(:with_banner, false), :class => "button" %>
    </p>
  </div>
<% end %>
