<html>
  <head>
    <style>
      body { margin-top: 0; padding-top: 10px; }
      div.banner {
        background-color: #E5E5E5;
        border-radius: 5px;

        width: 460px;
        height: 55px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
      }

      div.logo {
        width: 75px;
        height: 75px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content:url('<%= "#{Settings.services.fr.web.base_url}/images/admin/nara1985.svg" %>');
        top: 8px;
        left: 127px;
        position: absolute;
        display: block;
        opacity: 1;
      }

      div.banner p {
        margin-left: 116px;
        width: 350px;
        font-family: 'Open Sans';
        margin-top: 4px;
        line-height: 1.4em;
        font-size: 10px;
      }

      a {
        color: #000;
        font-weight: bold;
      }

      @page {
        size: <%= document_size %>;
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div class='banner'>
      <p>
        <% if document.publication_date %>
          This document is scheduled to be published in the<br />
          Federal Register on <%= document.publication_date %> and available online at
        <% else %>
          More information can be found at
        <% end %>
        <br />
        <%= link_to nil, short_document_url(document) %>,
        and on <%= link_to 'https://govinfo.gov', 'https://govinfo.gov' %>
      </p>
      <div class='logo'></div>
    </div>
  </body>
</html>
