<% feed_autodiscovery entries_url(:format => :rss), 'All Articles from the Federal Register', :search_conditions => {} %>

<% title "Public Inspect Documents for #{@date.to_formatted_s(:pretty)}" %>
<div class="title"><span><%= @date %> Public Inspection</span></div>

<div id="content_area">

<h2 id="special-filing">Special Filing</h2>
<%= render :partial => "documents", :locals => {:documents_without_agencies => @special_documents.entries_without_agencies, :agencies => @special_documents.agencies, :pi_type => 'special'} %>

<h2 id="regular-filing">Regular Filing</h2>
<%= render :partial => "documents", :locals => {:documents_without_agencies => @regular_documents.entries_without_agencies, :agencies => @regular_documents.agencies, :pi_type => 'regular'} %>

</div> <!-- END CONTENT AREA -->


<% aside_tag(:id => 'sidebar') do %>
  
  <% section_tag(:id => 'date_chooser') do %>
    <div id="calendar_wrapper">
      <%= render :esi => public_inspection_documents_by_month_path(@date, :current_date => @date.to_s(:iso)) %>
    </div>
  <% end -%>

  <% section_tag(:id => 'meta_toc') do %>
    <div class="TOC aside_box">
      <h5><a href="#special-filing">Special Filing</a></h5>
      <ul>
        <% @special_documents.agencies.each do |agency| %>
          <li>
            <a href="#special-filing-<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div> 

    <div class="TOC aside_box">
      <h5><a href="#regular-filing">Regular Filing</a></h5>
      <ul>
        <% @regular_documents.agencies.each do |agency| %>
          <li>
            <a href="#regular-filing-<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div>    
  <% end -%>
  
<% end -%>
