<% feed_autodiscovery public_inspection_documents_url(:format => :rss), 'All Public Inspection Documents', :search_conditions => {} %>

<% title "Public Inspection Documents for #{@date.to_formatted_s(:pretty)}" %>
<div class="title"><span><%= @date %> Public Inspection</span></div>

<div id="content_area">

  <h2 id="special-filing">
    Special Filing 
    <span class="updated_at">updated at <%= @issue.special_filings_updated_at.to_s(:time_then_date) %></span>
  </h2>
  <%= render :partial => "documents", :locals => {:documents_without_agencies => @special_documents.entries_without_agencies, :agencies => @special_documents.agencies, :pi_type => 'special'} %>

  <h2 id="regular-filing">
    Regular Filing 
    <span class="updated_at">updated at <%= @issue.regular_filings_updated_at.to_s(:time_then_date) %></span>
  </h2>
  <%= render :partial => "documents", :locals => {:documents_without_agencies => @regular_documents.entries_without_agencies, :agencies => @regular_documents.agencies, :pi_type => 'regular'} %>

</div> <!-- END CONTENT AREA -->


<% aside_tag(:id => 'sidebar') do %>
  
  <% section_tag(:id => 'date_chooser') do %>
    <div id="calendar_wrapper">
      <%= render :esi => public_inspection_documents_by_month_path(@date, :current_date => @date.to_s(:iso)) %>
    </div>
  <% end -%>

  <% section_tag(:id => 'meta_toc') do %>
    <div class="TOC aside_box">
      <h5><a href="#special-filing">Special Filing</a></h5>
      <ul>
        <% @special_documents.agencies.each do |agency| %>
          <li>
            <a href="#special-filing-<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div> 

    <div class="TOC aside_box">
      <h5><a href="#regular-filing">Regular Filing</a></h5>
      <ul>
        <% @regular_documents.agencies.each do |agency| %>
          <li>
            <a href="#regular-filing-<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div>    
  <% end -%>
   
  <div class='aside_box subscribe'> 
    <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {}}), :class => 'subscription subscription_action' %>
  </div>
<% end -%>
