<% feed_autodiscovery public_inspection_documents_url(:format => :rss), 'All Public Inspection Documents', :search_conditions => {}, :subscription_default => 'PublicInspectionDocument' %>

<% if params[:action] == 'index' %>
  <% title "Current Public Inspection Documents" %>
  <% description "The following are a preview of unpublished Federal Register documents scheduled to appear on the dates listed. Special filings: #{ @special_documents.entry_count } Regular filings: #{ @regular_documents.entry_count }" %>
<% else %>
  <% title "Public Inspection Documents for #{@date.to_formatted_s(:pretty)}" %>
  <% description "On #{@date.to_formatted_s(:pretty)}, the following documents appeared on the Public Inspection Desk. Special filings: #{ @special_documents.entry_count } Regular filings: #{ @regular_documents.entry_count }" %>
<% end %>

<div class="title"><span><%= @date %> Public Inspection</span></div>

<div id="current_issue" class="public_inspection">
  <span class="issue">Public Inspection</span>
  <ul class='statistics'>
    <li><strong>Special Filing:</strong> <%= link_to pluralize(@special_documents.entry_count, 'document'), "#special-filing" %>/ <%= pluralize(@special_documents.agencies.count, 'agency') %></li>
    <li><strong>Regular Filing:</strong> <%= link_to pluralize(@regular_documents.entry_count, 'document'), "#regular-filing" %>/ <%= pluralize(@regular_documents.agencies.count, 'agency') %></li>
  </ul>
</div>

<div id="content_area" class="public_inspection">
  <div class="info_box">
    <p>
      The following documents are on file at the Office of the Federal Register (OFR) 
      and will be published in the Federal Register on the dates listed. Regular Filing 
      documents are routinely placed on file at 8:45 a.m. Eastern Time, for publication 
      in the next day’s Federal Register. Special Filing documents are filed at other 
      times and/or dates prior to publication. See 
      <%= link_to 'About Public Inspection', "/learn/public-inspection-desk"%> for more 
      information.
    </p>
  </div>

  <h2 id="special-filing">
    Special Filing 
    <span class="updated_at">updated at <%= @issue.special_filings_updated_at.to_s(:time_then_date) %></span>
  </h2>
  <%= render :partial => "documents", :locals => {:documents_without_agencies => @special_documents.entries_without_agencies, :agencies => @special_documents.agencies, :pi_type => 'special', :date => @date} %>

  <h2 id="regular-filing">
    Regular Filing 
    <span class="updated_at">updated at <%= @issue.regular_filings_updated_at.to_s(:time_then_date) %></span>
  </h2>
  <%= render :partial => "documents", :locals => {:documents_without_agencies => @regular_documents.entries_without_agencies, :agencies => @regular_documents.agencies, :pi_type => 'regular', :date => nil} %>

</div> <!-- END CONTENT AREA -->


<% aside_tag(:id => 'sidebar') do %>
  
  <% section_tag(:id => 'date_chooser') do %>
    <div id="calendar_wrapper" class="public_inspection">
      <%= render :esi => public_inspection_documents_by_month_path(@date, :current_date => @date.to_s(:iso)) %>
    </div>
  <% end -%>
  
  <div class='aside_box subscribe'> 
    <%= link_to 'Subscribe', new_subscription_path(:subscription => {:search_type => 'PublicInspectionDocument'}), :class => 'subscription subscription_action' %>
    <%= add_template('subscription_modal', 'subscription-modal') %>
  </div>

  <% section_tag(:id => 'meta_toc') do %>
    <div class="TOC aside_box">
      <h5><a href="#special-filing">Special Filing</a></h5>
      <ul>
        <% @special_documents.agencies.each do |agency| %>
          <li>
            <a href="#special-filing-<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div> 

    <div class="TOC aside_box">
      <h5><a href="#regular-filing">Regular Filing</a></h5>
      <ul>
        <% @regular_documents.agencies.each do |agency| %>
          <li>
            <a href="#regular-filing-<%= agency.slug %>"><%= agency.name %></a> 
            <span class="count_pill"><%= agency.entry_count %></span>
          </li>
        <% end -%>
      </ul>
    </div>    
  <% end -%>
  
<% end -%>
