<% super_title 'Users' %>
<% title 'All' %>

<% nav_secondary(render :partial => 'nav') %>

<table class='center_content sortable' summary="All Users">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.active? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
