<% title 'Users' %>

<%= link_to "New User", new_admin_user_path %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.active? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>