<% super_title 'Topic Name Assignment' %>
<% title 'Unprocessed Topics' %>

<% sidebar(render :partial => 'nav') %>

<%= semantic_form_for @search, url: unprocessed_admin_topic_names_path, method: :GET do |f| %>
  <%= f.inputs do %>
    <%= f.input :name_cont, :label => "Topic name contains" %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :label => 'Search', :button_html => {:class => "btn btn-large btn-success"} %>
  <% end %>
<% end %>

<%= will_paginate @topic_names, renderer: BootstrapPagination::Rails %>

<% if @topic_names.present? %>
  <table class='sortable table table-bordered table-striped table-condensed' summary="Topics">
    <thead>
      <tr>
        <th><%= sort_link(@search, :name, "Name") %></th>
        <th>Processed?</th>
        <th>Assigned Topics</th>
        <th># Documents</th>
      </tr>
    </thead>
    <tbody>
      <% @topic_names.each do |topic_name| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><%= link_to topic_name.name, edit_admin_topic_name_path(topic_name) %></td>
          <td><%= topic_name.processed? ? 'Yes' : 'No' %></td>
          <td><%= topic_name.topics.map{|t| link_to t.name, topic_path(t)}.to_sentence %></td>
          <td><%= topic_name.topic_name_assignments.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No unprocessed topic names</p>
<% end %>

<%= will_paginate @topic_names, renderer: BootstrapPagination::Rails %>
