<% title @topic_group.name %>
<% feed_autodiscovery topic_group_path(@topic_group, :format => :rss) %>

<%= render :partial => "entries/list", :locals => {:entries => @entries, :search_params => {:topic_group => @topic_group}} %>

<%= render :partial => 'entries/most_cited', :locals => {:entries => @most_cited_entries} %>

<% content_for :sidebar do %>
  <%# TODO HELP-DESIGN make wrappers and slide these up %>
  <% related_agencies = @topic_group.related_agencies_cache %>
  <% unless related_agencies.blank? %>
    <h3>Agencies Using this Topic</h3>
    <div class='chart size_<%=related_agencies.size%>'><%= pie_3d_chart(:alt => 'Agencies using this Topic Group', :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :records => related_agencies, :value_method => 'entries_count', :legend_method => 'name', :max => 10, :size => ['230','350'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
  
  <% if @granule_classes.present? %>
    <h3>Entry Types for Topic</h3>
     <div class='chart size_<%=@granule_classes.size%>'><%= pie_3d_chart(:alt => 'Entry Types', :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :records => @granule_classes, :value_method => :count, :legend_method => :granule_class, :size => ['230','200'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
  
  <% if @topic_group.topics.size > 1 %>
    <h3>This topic summarizes the following topics from the Federal Register:</h3>
    <ul>
    <% @topic_group.topics.each do |topic| %>
      <li><%= topic.name %></li>
    <% end %>
    </ul>
  <% end %>
  
  <%= render :partial => 'topics_tagcloud', :locals => {:topic_groups => @topic_group.related_topics_cache, :title => 'Related Topics'} %>
<% end %>