<% title @topic_group.name %>
<% feed_autodiscovery topic_group_path(@topic_group.name, :format => :rss) %>

<%= render :partial => "entries/list", :locals => {:entries => @entries, :search_params => {:topic_group => @topic_group.group_name}} %>

<% content_for :sidebar do %>
  <%# TODO HELP-DESIGN make wrappers and slide these up %>
  <% unless @agency_values.blank? %>
    <h3>Agencies Using this Topic</h3>
    <div class='chart size_<%=@agency_values.size%>'><%= pie_3d_chart(:alt => 'Agencies using this Topic Group', :legend => @agency_labels, :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :data => @agency_values, :size => ['230','350'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
  
  <% unless @granule_values.blank? %>
    <h3>Entry Types for Topic</h3>
     <div class='chart size_<%=@granule_values.size%>'><%= pie_3d_chart(:alt => 'Entry Type for Recent Entries', :legend => @granule_labels, :truncate_legend => '30', :counts => true, :legend_location => 'bottom', :data => @granule_values, :size => ['230','200'], :color_range => ['005073','84cedb'], :transparent_bg => true) %></div>
  <% end %>
  
  <% if @topic_group.topics.size > 1 %>
    <h3>This topic summarizes the following topics from the Federal Register:</h3>
    <ul>
    <% @topic_group.topics.each do |topic| %>
      <li><%= topic.name %></li>
    <% end %>
    </ul>
  <% end %>
  
  <%= render :partial => 'topics_tagcloud', :locals => {:topic_groups => @related_topic_groups, :title => 'Related Topics'} %>
  
<% end %>