<h1>Top News per Section</h1>
<div class="aside_box">
  <ul class="section_nav">
    <% sections.each do |section| %>
      <li class="<%= 'one_word' if section.title.split(' ').count == 1 %> <%= section.slug %>">
          <%= link_to section.title, "#promo_#{section.slug}" %>
      </li>  
    <% end -%>
  </ul>


  <div id="slideshow" class="dragdealer">
    <div class="container handle">
      <% sections.each do |section| %>
        <div id="promo_<%= section.slug %>">
            <% entry = section.highlighted_entries(publication_date).first %>
            <% if entry %>
              <%= render :partial => 'special/entry_with_abstract', :locals => {:entry => entry} %>  
              <%= render :partial => 'special/stats', :locals => {:section => section, :publication_date => publication_date}  %>
            <% end %>
        </div>  
      <% end -%>
    </div>
  </div>
</div>