<% feed_autodiscovery entries_url(:format => :rss), "Recent Articles from the Federal Register" %>
<% feed_autodiscovery highlighted_entries_url(:format => :rss), "Featured Articles from the Federal Register" %>
<% add_column_class('home') %>

<% description "Search, browse and learn about the Federal Register. Federal Register 2.0 is the unofficial daily publication for rules, proposed rules, and notices of Federal agencies and organizations, as well as executive orders and other presidential documents." %>

<h1 class="title"><span><%= @current_issue.publication_date.try(:to_s, :wday_and_pretty_date) %></span></h1>

<%= render(:partial => "special/preview_warning") if @preview %>


<% if Issue.current_issue_is_late? %>
  <%= render :partial => "special/issue_late" %>
<% else %>
  <%= render :partial => "entries/statistics_by_date", :locals => {:issue => @current_issue, :label => "Current Issue", :other_dates => true} %>
<% end %>

<div class="row">
  <% section_tag(:id => 'top_news_promo') do %>
    <%= render :partial => 'special/promo', :locals => {:sections => @sections, :publication_date => @approved_issue.publication_date}  %>
  <% end -%>

  <% section_tag(:id => 'news') do %>
    <%= render :partial => 'special/celebrating_75_years' %>
  <% end -%>
  
  <%= render :partial => 'special/legal_disclaimer' %>
</div>

<div class="row">
  <% section_tag(:id => 'fr_movie', :class => 'with_icon') do %>
    <div class="header_with_icon ">
      <h1>About Federal Register 2.0</h1>
    </div>  
    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="420" height="266" src="http://www.youtube.com/embed/ADhP0KSmjkQ?hd=1" frameborder="0"></iframe>
  <% end -%>

  <% section_tag(:id => 'popular', :class => 'with_icon') do %>
    <%= render :esi => popular_entries_path %>
  <% end -%>
</div>

<div class="row">
  <% section_tag(:id => 'learn', :class => 'with_icon') do %>
    <%= render :partial => 'special/about_fr_articles' %>
  <% end -%>
  <% section_tag(:id => 'tools', :class => 'with_icon') do %>
    <%= render :partial => 'special/fr2_tools' %>
  <% end -%>
</div>

<div class="row">
  <%= render :partial => 'special/section_news', :locals => {:sections => @sections, :publication_date => @approved_issue.publication_date} %>
</div>
