<% feed_autodiscovery entries_path(:format => :rss), "Recent Articles from the Federal Register" %>
<% feed_autodiscovery highlighted_entries_path(:format => :rss), "Featured Articles from the Federal Register" %>
<% add_column_class('home') %>

<h1 class="title"><span><%= @issue.publication_date.try(:to_s, :wday_and_pretty_date) %></span></h1>

<%= render(:partial => "special/preview_warning") if @preview %>

<%= render :partial => "entries/statistics_by_date", :locals => {:issue => @issue, :label => "Current Issue", :other_dates => false} %>

<div class="row">
  <% section_tag(:id => 'top_news_promo') do %>
    <%= render :partial => 'special/promo', :locals => {:sections => @sections, :publication_date => @issue.publication_date}  %>
  <% end -%>

  <% section_tag(:id => 'news') do %>
    <%= render :partial => 'special/celebrating_75_years' %>
  <% end -%>
  
  <%= render :partial => 'special/legal_disclaimer' %>
  
</div>

<div class="row">
  <% section_tag(:id => 'agency_highlight', :class => 'with_icon') do %>
    <%= render :esi => agency_highlight_path %>
  <% end -%>

  <% section_tag(:id => 'popular', :class => 'with_icon') do %>
    <%= render :esi => popular_entries_path %>
  <% end -%>
</div>

<div class="row">
  <% section_tag(:id => 'learn', :class => 'with_icon') do %>
    <%= render :partial => 'special/about_fr_articles' %>
  <% end -%>
</div>

<div class="row">
  <%= render :partial => 'special/section_news', :locals => {:sections => @sections, :publication_date => @issue.publication_date} %>
</div>
