<% content_for :precolumn do %>
          
    <div class="infobox">
      <p class="fed">The Federal Register at your fingertips.</p>
      <p class="fed alt">A million pages finally accessible.</p>      
    </div>
    
    <div class="ornament" />
<% end %>

<h3>The Pulse of Government Near <%= @location.name %> (<%= link_to 'change', edit_location_path %>)</h3>

<% if !@closing_soon.empty? %>
  <div class="clear marginTop">
    <h2>Comments Closing Soon</h2>
    <ul class="indent">
    <% @closing_soon.each do |date| %>
      <li><%= link_to date.entry.title, entry_path(date.entry) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if !@recently_opened.empty? %>
  <div class="clear marginTop">
    <h2>Comments Recently Opened</h2>
    <ul class="indent">
    <% @recently_opened.each do |date| %>
      <li><%= link_to date.entry.title, entry_path(date.entry) %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% content_for :sidebar do %>
  <h3>View Entries Near</h3>
  <%= render :partial => 'maps/location_search_form', :locals => {:location => nil} %>
  
  <%= render :partial => 'agencies/featured', :locals => {:featured_agencies => @featured_agencies} %>
<% end %>

