<% feed_autodiscovery entries_path(:format => :rss), "Recent Articles from the Federal Register" %>
<% feed_autodiscovery highlighted_entries_path(:format => :rss), "Featured Articles from the Federal Register" %>
<% add_column_class('home') %>

<h1 class="title"><span><%= IssueApproval.latest_publication_date.try(:to_s, :wday_and_pretty_date) %></span></h1>

<%= render :partial => "entries/statistics_by_date", :locals => {:issue => @issue} %>

<div class="row">
  <% section_tag(:id => 'top_news_promo') do %>
    <%= render :partial => 'promo', :locals => {:sections => @sections}  %>
  <% end -%>

  <% section_tag(:id => 'news') do %>
    <%= render :partial => 'celebrating_75_years' %>
  <% end -%>
</div>

<div class="row">
  <% section_tag(:id => 'agency_highlight', :class => 'with_icon') do %>
    <%= render :esi => agency_highlight_path %>
  <% end -%>

  <% section_tag(:id => 'popular', :class => 'with_icon') do %>
    <%= render :esi => popular_entries_path %>
  <% end -%>
</div>

<div class="row">
  <% section_tag(:id => 'learn', :class => 'with_icon') do %>
    <%= render :partial => 'about_fr_articles' %>
  <% end -%>
</div>

<div class="row">
  <%= render :partial => 'section_news', :locals => {:sections => @sections} %>
</div>
