<% feed_autodiscovery entries_path(:format => :rss) %>
<% add_column_class('home') %>

<% content_for :precolumn do %>
  <h1>The Federal Register at your fingertips.</h1>
<% end %>

<% if !@closing_soon.empty? %>
  <div class="clear marginTop widget">
    <h2 class="header">Comments Closing In Next 7 Days (<%= @closing_soon.map{|a,e| e.size}.sum %>)</h2>
    <ul class="indent marginTop recent_prorule">
    <% @closing_soon.each do |agency, entries| %>
      <li>
        <%= link_to agency.name, agency_path(agency) %> <span class='details'>(<%= entries.size %>)</span>
        <ul class="raquo">
          <% entries.each do |entry| %>
            <li><%= link_to entry.title, entry_path(entry) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </div>
<% end %>

<% if !@recently_opened.empty? %>
  <div class="clear marginTop widget">
    <h2 class="header">Comments Opened in Last 7 Days (<%= @recently_opened.map{|a,e| e.size}.sum %>)</h2>
    <ul class="indent marginTop recent_prorule">
    <% @recently_opened.each do |agency, entries| %>
      <li>
        <%= link_to agency.name, agency_path(agency) %> <span class='details'>(<%= entries.size %>)</span>
        <ul class="raquo">
          <% entries.each do |entry| %>
            <li><%= link_to entry.title, entry_path(entry) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </div>
<% end %>


<% if !@effective_this_week.empty? %>
  <div class="clear marginTop widget">
    <h2 class="header">Rules Taking Effect In Next 7 Days (<%= @effective_this_week.map{|a,e| e.size}.sum %>)</h2>
    <ul class="indent marginTop recent_prorule">
    <% @effective_this_week.each do |agency, entries| %>
      <li>
        <%= link_to agency.name, agency_path(agency) %> <span class='details'>(<%= entries.size %>)</span>
        <ul class="raquo">
          <% entries.each do |entry| %>
            <li><%= link_to entry.title, entry_path(entry) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </div>
<% end %>

<% if !@recent_proposed_rules_by_agency.empty? %>
<div class="clear marginTop widget">
  <h2 class="header">Rules Proposed in Last 7 Days (<%= @recent_proposed_rules_by_agency.map{|a,e| e.size}.sum %>)</h2>
  <ul class="indent marginTop recent_prorule">
  <% @recent_proposed_rules_by_agency.each do |agency, entries| %>
    <li>
      <%= link_to agency.name, agency_path(agency) %> <span class='details'>(<%= entries.size %>)</span>
      <ul class="raquo">
        <% entries.each do |proprule| %>
          <li><%= link_to proprule.title, entry_path(proprule) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
<% end %>


<% content_for :sidebar do %>
  <h3>View Entries Near</h3>
  <div class="home_search">
    <%= render :partial => 'maps/location_search_form', :locals => {:location => nil} %>
  </div>
  <iframe src="/location/places" width="345" height="400" frameborder="0"></iframe>
  <%= render :partial => 'agencies/pulse', :locals => {:featured_agencies => @featured_agencies} %>
<% end %>

