<% feed_autodiscovery entries_path(:format => :rss) %>
<% add_column_class('home') %>

<h1 class="title"><span><%= Entry.latest_publication_date.to_s(:wday_and_pretty_date) %></span></h1>

<div id="top_news_promo" class="grid_11 alpha">

  <ul class="section_nav">
    <% @sections.each do |section| %>
      <%# TODO HELP-RUBY do this better %>
      <li class="<%= 'one_word' if section.title.split(' ').count == 1 %>">
          <%= link_to section.title, "#promo_#{section.slug}" %>
      </li>  
    <% end -%>
  </ul>


  <ul class="news_items">
    <% @sections.each do |section| %>
      <li id="promo_<%= section.slug %>">
          <% entry = section.highlighted_entries.first %>
          <% if entry %>
            <%= render :partial => 'special/entry_with_abstract', :locals => {:entry => entry} %>  
            <%= render :partial => 'stats', :locals => {:section => section}  %>
          <% end %>
      </li>  
    <% end -%>
  </ul>


</div>  

<div class="grid_5 omega">
  <%= render :esi => agency_highlight_path %>
</div>


  <h2 class="title_bar">What's in the Federal Register?</h2>
  
  <div id="learn">
    <%= render :partial => 'about_fr_articles' %>
  </div> <!-- END learn -->

  <div id="current_issue">
    <%# %>
  </div>

  <h2 class="title_bar">New items in the FR</h2>

<div id="section_news_boxes" style="clear:both">
  <% @sections.each do |section| %>
  <div class="fr_section_wrapper grid_8 <%= cycle('alpha','omega') %>">
      <div class="fr_section <%= section.slug %>">
        <h2><%= link_to section.title, section_path(section) %></h2>
        <ul class="bullets">
          <% entries = section.highlighted_entries[1..3] %>
          <% if entries %>
            <% entries.each do |entry| %>
              <li><%= link_to entry.title, entry_path(entry) %></li>
            <% end -%>
          <% end -%>  
        </ul>
      </div>
    </div>  
  <% end -%>  
</div>
