

<div class="currentevents span-15">
  <h2 class=" icon cal">Today's entries <span>(<%= @entries.length %>)</span></h2>
  <div class="daily">
    <ul class="items">
    <% @entries.each_with_index do |entry, i| %>
      <li>
        <p class="number"><%= i+1 %></p>
        <%= link_to truncate(entry.title, :length => 100), entry_path(entry), :class => "entry" %>
        <%= link_to entry.agency.name, agency_path(entry.agency), :class => "agency" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<% content_for :sidebar do %>
  <h2>Featured Agencies</h2>
  <% @featured_agencies.each do |agency| %>
    <p><%= agency.name %></p>
  <% end %>
<% end %>

<% content_for :precolumn do %>
  <div class="precolumn">
          
    <div class="infobox">
      <p class="stats group"><span class="num">1,000,000+</span><span class="stat"> printed pages.</span></p>
      <p class="stats group"><span class="num">130,000+</span><span class="stat"> notices.</span></p>
      <p class="">Find out what's happening <span class="around">around you.</span></p>    
    </div>
    
    <hr class="ornament" />
        
    <div class="column span-7 push-1">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
    </div>
    
    <div class="column span-14  prepend-1 append-1 last">
      <h2>Maybe some graph here?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
    </div>
    
  </div>
<% end %>