<% content_for :precolumn do %>
          
    <div class="infobox">
      <p class="fed">The Federal Register at your fingertips.</p>
      <p class="fed alt">A million pages finally accessible.</p>      
    </div>
    
    <hr class="ornament" />
<% end %>

<div class="currentevents group">
  
  <div class="header group">
    <h2><%= link_to "Current Issue is #{@last_date}", entries_by_date_path(@last_date) %> <span>(<%= @entries.length %> entries)</span></h2>
  </div>
  
  <div class="header slide">
    <div class="daily group">
      <ul class="items">
      <% @entries.each_with_index do |entry, i| %>
        <li>
          <!-- <p class="number"><%= i+1 %></p> -->
          <%= link_to truncate(entry.title, :length => 100), entry_path(entry), :class => "entry" %>
          <%= link_to(entry.agency.name, agency_path(entry.agency), :class => "agency") if entry.agency %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  
</div>

<% if !@closing_soon.empty? %>
  <div class="clear marginTop">
    <h2>Comments Closing Soon</h2>
    <ul class="indent">
    <% @closing_soon.each do |date| %>
      <li><%= link_to date.entry.title, entry_path(date.entry) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if !@recently_opened.empty? %>
  <div class="clear marginTop">
    <h2>Comments Recently Opened</h2>
    <ul class="indent">
    <% @recently_opened.each do |date| %>
      <li><%= link_to date.entry.title, entry_path(date.entry) %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => 'agencies/featured', :locals => {:featured_agencies => @featured_agencies} %>
<% end %>

