<% feed_autodiscovery entries_url(:format => :rss), "All Articles from the Federal Register", :search_conditions => {} %>
<% feed_autodiscovery entries_search_url(:conditions => {:significant => 1}, :format => :rss), "Articles Deemed Significant from the Federal Register", :search_conditions => {:significant => 1} %>
<% add_column_class('home') %>

<% description "Search, browse and learn about the Federal Register. Federal Register 2.0 is the unofficial daily publication for rules, proposed rules, and notices of Federal agencies and organizations, as well as executive orders and other presidential documents." %>

<div class="title"><span><%= @current_issue.publication_date.try(:to_s, :wday_and_pretty_date) %></span></div>

<%= render(:partial => "special/preview_warning") if @preview %>


<% if Issue.current_issue_is_late? %>
  <%= render :partial => "special/issue_late" %>
<% else %>
  <%= render :partial => "entries/statistics_by_date", :locals => {:issue => @current_issue, :label => "Current Issue", :other_dates => true, :url => entries_current_issue_path } %>
<% end %>

<div class="row">
  <% section_tag(:id => 'top_news_promo') do %>
    <%= render :partial => 'special/promo', :locals => {:sections => @sections, :publication_date => @approved_issue.publication_date}  %>
  <% end -%>

  <% section_tag(:id => 'news') do %>
    <%= render :esi => '/layout/homepage_post_list' %>
  <% end -%>
</div>

<div class="row">
  <% section_tag(:id => 'fr_movie', :class => 'with_icon') do %>
    <div class="header_with_icon ">
      <h1>About the Federal Register</h1>
    </div>
    <iframe width="420" height="236" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLEC0942EDC79CC321&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
  <% end -%>

  <% section_tag(:id => 'popular', :class => 'with_icon') do %>
    <div class="header-nav">    
      <ul id="popular-links" class="tabs-nav">
        <li class="tab" id="tabs-popular"><a href="#most-popular">Most Viewed</a></li>
        <li class="tab" id="tabs-emailed"><a href="#most-emailed">Most E-Mailed</a></li>       
      </ul>
    </div>
    <div id="popular-body" class="tabs-body">    
      <div id="most-popular">
        <%= render :esi => popular_entries_path %>
      </div>
    
      <div id="most-emailed">
        <%= render :esi => most_emailed_entries_path %>
      </div>
    </div>
    
  <% end -%>
</div>

<div class="row">
  <% section_tag(:id => 'learn', :class => 'with_icon') do %>
    <%= render :partial => 'special/about_fr_articles' %>
  <% end -%>
  <% section_tag(:id => 'tools', :class => 'with_icon') do %>
    <%= render :partial => 'special/fr2_tools' %>
  <% end -%>
</div>

<div class="row">
  <%= render :partial => 'special/section_news', :locals => {:sections => @sections, :publication_date => @approved_issue.publication_date} %>
</div>
