<% super_title 'Sections' %>
<% title "#{@entry.curated_title || @entry.title}" %>

<% add_javascript :src => 'admin/issues_entries_lede_photos' %>
<% add_javascript :src => 'jquery.Jcrop'                     %>
<% add_javascript :src => 'admin/jqModal'                    %>
<% add_javascript :src => '../ContentFlow/contentflow'       %>
<% add_javascript :src => '../ContentFlow/ContentFlowAddOn_white' %>

<% nav_secondary(render :partial => 'admin/issues/sections/nav', :locals => {:sections => @sections, :publication_date => @publication_date}) %>

<div class='center_content'>
  
  <div class='bordered_wrapper'>
    <div id='photo_content'>
      <div id='lede_photo_flow'>
        <div id='blank_flow' class="ContentFlow topic_photo_flow ContentFlowAddOn_white">
            <div class="loadIndicator"><div class="indicator"></div></div>
        </div>
      </div>
      
      <input type="text" id="custom_tag">
    </div>
    
    <div id='entry_content'>
      <% semantic_form_for @entry, :url => admin_issue_entry_path(@publication_date.to_s(:db), @entry.document_number) do |f| %>
        <%= hidden_field_tag :redirect_to, params[:redirect_to] || request.referer %>

        <% f.fields_for :lede_photo_attributes do |lede_photo| %>
          <%= lede_photo.hidden_field :url %>
          <%= lede_photo.hidden_field :crop_x %>
          <%= lede_photo.hidden_field :crop_y %>
          <%= lede_photo.hidden_field :crop_width %>
          <%= lede_photo.hidden_field :crop_height %>
          <%= lede_photo.hidden_field :flickr_owner_id %>
        <% end %>

        <% f.inputs do %>
          <%= f.input :curated_title, :hint => "Original: <em>#{f.object.title}</em>" %>
          <%= f.input :curated_abstract, :as => :text, :hint => "Original: <em>#{f.object.abstract}</em>" %>
        <% end %>

        <% f.buttons do %>
          <%= f.commit_button 'Save' %>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>