<% super_title 'Sections' %>
<% title "Editing Entry" %>

<% add_javascript :src => 'admin/issues_entries_lede_photos' %>
<% add_javascript :src => 'jquery.Jcrop'                     %>
<% add_javascript :src => '../ContentFlow/contentflow', :load => '../ContentFlow/ContentFlowAddOn_white'%>

<% nav_secondary(render :partial => 'admin/issues/sections/nav', :locals => {:sections => @sections, :publication_date => @publication_date}) %>

<input type="text" id="custom_tag">
<div class='center_content'>
  
  <div id='lede_photo_flow'>
  <% @entry.lede_photo_candidates[0,2].each do |topic, photos| %>
    <%= render :partial => "admin/photo_candidates/topic", :locals => {:topic => topic, :photos => photos } %>
  <% end %>
  </div>
  
  <table class='clearfix'>
    <% @entry.lede_photo_candidates.each do |topic, photos| %>
    <tr>
      <td><%= link_to topic, '' %></td>
    </tr>
    <% end %>
  </table>
</div>

<div id="crop-box"></div>
<div id="preview">
  <%= image_tag(@entry.lede_photo.photo.url(:medium)) if @entry.lede_photo %>
</div>

<% semantic_form_for @entry, :url => admin_issue_entry_path(@publication_date.to_s(:db), @entry.document_number) do |f| %>
  <%= hidden_field_tag :redirect_to, params[:redirect_to] || request.referer %>
  
  <% f.fields_for :lede_photo_attributes do |lede_photo| %>
    <%= lede_photo.hidden_field :url %>
    <%= lede_photo.hidden_field :crop_x %>
    <%= lede_photo.hidden_field :crop_y %>
    <%= lede_photo.hidden_field :crop_width %>
    <%= lede_photo.hidden_field :crop_height %>
    <%= lede_photo.hidden_field :flickr_owner_id %>
  <% end %>
  
  <% f.inputs do %>
    <%= f.input :curated_title %>
    <%= f.input :curated_abstract, :as => :text %>
  <% end %>
  
  <% f.buttons do %>
    <%= f.commit_button 'Save' %>
  <% end %>
<% end %>