<p>This document is available in the following developer friendly formats:</p>
<ul>
  {{#each formats}}
    <li class="{{type}}">
      <a href='{{url}}' class="button format list {{type}}">{{name}}: {{title}}</a>
    </li>
  {{/each}}
</ul>

<p>
  More information and documentation can be found on our 
  <a href="/learn/developers">developers page</a>.
</p>
