<div id="{{id}}" class="aside_box citation_box">
  <ul>
    <li class="link">
      <a href="{{url}}" target="_blank">Link to this paragraph</a>
    </li>
    <li class="cite_volume">
      <strong>Paragraph Citation</strong> {{document_information.volume}} FR {{page}}
    </li>
    <li class="cite_page">
      <strong>Page</strong> {{page}}
    </li>
    <li class="twitter">
    <a href="http://twitter.com/home?status={{escape_string url}}" target="_blank">Share this on Twitter</a></li>
    </li>
    <li class="facebook">
    <a href="http://www.facebook.com/sharer.php?u={{escape_string url}}&t={{escape_string document_information.title}}" target="_blank">Share this on Facebook</a>
    </li>
  </ul>

  <div class="header_navigation_separator">
    <ul>
      <li class="top"><a href="#table_of_contents">Back to top</a></li>
      {{#if next_header_anchor }}
        <li class="next">
          <a href="#{{next_header_anchor}}">{{next_header_text}}</a>
        </li>
      {{/if}}
    </ul>
  </div>

  <a href="#" class="close" title="Close this citation">Close</a>
</div>
