<p> There are multiple references available for {{citation}} when this
document was publised. Please choose from the following options.</p>
<ul>
  {{#each references}}
    <li><a href='{{url}}'>{{year}}: {{name}}</a></li>
  {{/each}}
  <li><a href='{{ecfr_url}}'>E-CFR</a></li>
</ul>

