<p> There are multiple references available for <strong>{{citation}}</strong> when this
document was published. Please choose from the following options.</p>
<ul>
  {{#each references}}
    <li><a href='{{url}}'>{{year}}: {{name}}</a></li>
  {{/each}}
  <li><a href='{{ecfr_url}}'>E-CFR</a></li>
</ul>

