<div id="modal" class="modal subscribe">
  <a href="#" class="jqmClose">Close</a>
  <h3>There {{pluralize_array elements 'is' 'are'}} {{count elements}} {{pluralize_array elements 'subscription' 'subscriptions'}} available on this page.</h3>
  <ul>
  {{#each elements}}
    <li>
      <h4>{{ title }}</h4>

      <ul>
        <li class="rss">
          <h5>
            <span class="icon-fr2 icon-fr2-rss"></span>
            Via RSS:
          </h5>
          <div>
            <a href="{{ href }}" title="RSS 2.0 Link">RSS 2.0 Link</a>
          </div>
        </li>
        {{#if subscription_action }}
        <li class="email">
          <h5>
            <span class="icon-fr2 icon-fr2-message"></span>
            Via Email:
          </h5>
          <form action="{{ subscription_action }}" method="post" class="formtastic subscription">
            <fieldset class="inputs">
              <ol>
                <li>
                  <input type="text" id="subscription_email" name="subscription[email]" placeholder="Subscribe via E-Mail" class="address" {{add_email_to_input ../../email_address}}>
                </li>
                <li>
                  <ul>
                    <li class="radio optional" id="subscription_search_type_input">
                      <fieldset>
                        <legend class="label">
                          <label for="subscription_search_type">Notify when</label>
                        </legend>
                        <ol>
                          <li>
                            <label for="subscription_search_type_entry">
                              <input id="subscription_search_type_entry" name="subscription[search_type]" type="radio" {{#if default_to_entry}}checked="checked"{{/if}} value="Entry">
                              Published
                            </label>
                          </li>
                          <li class="{{#unless public_inspection_subscription_supported}}disabled{{/unless}}">
                            <label for="subscription_search_type_publicinspectiondocument" {{#unless public_inspection_subscription_supported}}title="This subscription is only available once documents have been published." class="tip_under"{{/unless}}>
                              <input id="subscription_search_type_publicinspectiondocument" name="subscription[search_type]" type="radio" {{#unless public_inspection_subscription_supported }}disabled="disabled"{{/unless}} {{#if default_to_public_inspection}}checked="checked"{{/if}} value="PublicInspectionDocument">
                              Filed on Public Inspection
                            </label>
                          </li>
                        </ol>
                      </fieldset>
                    </li>
                  </ul>
                </li>
              </ol>
            </fieldset>

            <fieldset class="buttons">
              <ol>
                <li class="commit button fr_button medium optional">
                  <input class="browser_reset submit" name="commit" type="submit" value="Subscribe">
                </li>
              </ol>
            </fieldset>
          </form>
        </li>
        {{/if}}
      </ul>
    </li>
  {{/each}}
  </ul>
</div>
