<ul class='congressional_members'>
<% members.each do |member| %>
  <li class='more member_info'>
    <%= member.title == 'Rep' ? "District " : '' %><%= member.district %>: 
    <%= link_to( "#{member.firstname} #{member.lastname}", member.congresspedia_url, :title => member.congresspedia_url) %> (<%= member.party %>)
    <%= link_to('(view details)', "##{member.fec_id}") %>
    <span id='<%= member.fec_id %>' class='member_details'>
      <ul>
        <% if !member.phone.blank?           %><li>Phone:     <%= member.phone                                       %></li><% end %>
        <% if !member.fax.blank?             %><li>Fax:       <%= member.fax                                         %></li><% end %>
        <% if !member.website.blank?         %><li>Website:   <%= link_to(member.website, member.website)            %></li><% end %>
        <% if !member.email.blank?           %><li>Email:     <%= member.email                                       %></li><% end %>
        <% if !member.congress_office.blank? %><li>Address:   <%= member.congress_office                             %></li><% end %>
      </ul>
    </span>  
  </li>
<% end %>
</ul>