<% title "Most Recent Entries mentioning #{@location.name}", :body => false %>
<% feed_autodiscovery url_for(params.merge(:format => :rss)) %>

<% if !@places.nil? %>
  <% add_javascript { @map.to_js } %>
  <% content_for :precolumn do %>
      <div id="map" class='large_map'></div>    
  <% end %>
<% end %>

<h2>Most Recent Entries mentioning <%= @location.name %></h2>

<ul>
<% @entries.each do |entry| %>
  <li>
    <span class='entry_date'><%= entry.publication_date.to_s %></span>
    <%= link_to truncate(entry.title, :length => 80), entry_path(entry) %></li>
<% end %>
</ul>

<% if !@places.nil? %>
  <h2>Most Recent Entries mentioning places within <%= pluralize(@dist, 'mile') %> of the center of <%= @location.name %></h2>

  <%= render :partial => 'maps/entries_by_distance', :locals => {:entry_places => @places, :lat => @lat, :long => @long} %>
<% end %>

<% content_for :sidebar do %>
  <% unless @entries.blank? %>
    <h3>Agencies active within <%= pluralize(@dist, 'mile') %></h3>
    
    <ul>
      <% @active_agencies.each do |agency| %>
      <li>
        <%= link_to(agency.name, agency_path(agency) ) %>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>