<div class="wrapper">
  
  <div class="grid_4">
    <h2>Home</h2>
    <ul class="bullets">
      <li><a href="/" title="Home">Home</a></li>
    </ul>  
  </div>
    
  <div class="grid_4">
    <h2>Sections</h2>
    <% nav_tag(:id => "site_map_nav") do %>
      <ul class="bullets">
        <% Section.all.each do |section| %>
          <li><%= link_to section.title, section_path(section) %></li>
        <% end %>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_4">
    <h2>Browse</h2>
    <% nav_tag() do %>
      <ul class="bullets">
        <li><%= link_to "Agencies", agencies_path %></li>
        <li><%= link_to "Topics", topics_path %></li>
        <li><%= link_to 'Dates', entries_current_issue_path %></li>
        <li><%= link_to 'Public Inspection', public_inspection_documents_path %></li>
        <li><%= link_to 'Executive Orders', executive_orders_path %></li>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_4">
    <h2>Search</h2>
    <% nav_tag do %>
      <ul class="bullets">
        <li><%= link_to 'Document Search', entries_search_path %></li>
        <li><%= link_to 'Advanced Document Search', entries_search_path(:anchor => 'advanced') %></li>
        <li><%= link_to 'Events Search', events_search_path %></li>
        <li><%= link_to 'Unified Agenda Search', regulatory_plans_search_path %></li>
        <li><%= link_to 'Public Inspection Search', public_inspection_search_path %></li>
      </ul>
    <% end %>
  </div>

  <%= render :esi => '/layout/footer_page_list' %>

  <div class="grid_4">
    <h2>Blog</h2>
    <ul class="bullets">
      <li><a href="/blog" title="blog">Blog</a></li>
    </ul>  
  </div>

  <div class="grid_4">
    <h2>My FR</h2>
    <ul class="bullets">
      <li><a href="/my/">My Clipboard</a></li>
      <li><a href="/my/sign_in">Sign In</a></li>
    </ul>  
  </div>
</div>
