<% nav_tag(:id => "navigation") do %>

  <ul class="container">
    <li id='nav-home'><a href="/" class="home" title="Home">Home</a></li>
    <li class="dropdown previewable nav_sections">
      <a class="sections top_nav">Sections<span class="arrow"></span></a>
      <div class="subnav">
        <ul class="left_column">
          <% Section.all.each do |section| %>
            <li id='<%= section.slug %>'><%= link_to section.title, section_path(section), :class => "#{section.slug}" %></li>
          <% end %>
        </ul>
        <ul class="right_column">
          <%= render :esi => sections_navigation_path %>
        </ul>
      </div>
    </li>
    <li class="dropdown previewable nav_browse">
      <a class="browse top_nav">Browse<span class="arrow"></span></a>
      <div class="subnav browse_list">
        <ul class="left_column">
          <li id='agencies-browse'>
            <%= link_to 'Agencies', agencies_path, :class => "agencies" %>
          </li>
          <li id='topics-browse'>
            <%= link_to 'Topics', topics_path, :class => "topics" %>
          </li>
          <li id='current-article-browse'>
            <%= link_to 'Dates', entries_current_issue_path, :class => "date" %>
          </li>
          <li id='public-inspection-browse'>
            <%= link_to 'Public Inspection', public_inspection_documents_path, :class => "public_inspection" %>
          </li>
          <li id='executive-orders-browse'>
            <%= link_to 'Executive Orders', executive_orders_path, :class => "executive_orders" %>
          </li>
        </ul>
        <ul class="right_column">
          <%= render :esi => agencies_navigation_path %>
          <%= render :esi => topics_navigation_path %>
          <%= render :esi => date_navigation_path %>
          <%= render :esi => pi_navigation_path %>
          <%= render :esi => executive_orders_navigation_path %>
        </ul>
      </div>
    </li>
    <li class="dropdown nav_search">
      <a class="search top_nav">Search<span class="arrow"></span></a>
      <ul class="subnav search_list">
        <li id='articles-search'>
          <%= link_to 'Document Search', entries_search_path, :class => "article-search" %>
        </li>
        <li id='articles-adv-search'>
          <%= link_to 'Advanced Document Search', entries_search_path(:anchor => 'advanced'), :class => "advanced-search" %>
        </li>
        <li id='events-search'>
          <%= link_to 'Events Search', events_search_path, :class => "events-search" %>
        </li>
        <li id='regulations-search'>
          <%= link_to 'Unified Agenda Search', regulatory_plans_search_path, :class => "unified-agenda-search" %>
        </li>
        <li id='public-inspection-search'>
          <%= link_to 'Public Inspection Search', public_inspection_search_path, :class => "public-inspection-search" %>
        </li>
        <li id='fr-index-search'>
          <%= link_to 'FR Index', index_year_path(Issue.current.publication_date.year), :class => "fr-index-search" %>
        </li>
      </ul>
    </li>
    <%= render :esi => '/layout/navigation_page_list' %>

    <li class="dropdown previewable nav_blog" id='nav-blog'>
      <a class="blog top_nav">Blog<span class="arrow"></span></a>
      <div class="subnav blog_list">
        <ul class="right_column">
          <%= render :partial => "/layouts/navigation/blog" %>
        </ul>
      </div>
    </li>

    <esi:include src="/my/special/navigation" />

    <li class="inline_search">
      <form action="<%= entries_search_path %>" method="get" class="search_form">
        <label for="term">Search the Federal Register</label>
        <%= text_field_tag "conditions[term]", nil, :id => "term", :title => 'Search Documents', :placeholder =>  "Search Documents" %>
        <%= submit_tag 'Go', :class => "search_btn", :title => 'Search' %>
      </form>
    </li>
  </ul>

<% end -%>

