<div id="nav">
  <div class="search">
    <form action="<%= entries_search_path %>" method="get">
      <!--Search--> 
      <%= text_field_tag :q, search_term,  :title => "Search govpulse" %>
      <%= submit_tag '', :class => "search_btn" %>
    </form> 
  </div>    
  <ul>
    <% last_date ||= Entry.latest_publication_date %>
    <li><%= link_to 'Home', root_path %> / </li>
    <li><%= link_to 'By Agency', agencies_path, :title => "Browse by Agency" %> / </li>
    <li><%= link_to 'By Date Published', entries_path, :title => "Browse by Date" %> / </li>          
    <li><%= link_to 'By Event Date', events_month_path(Date.today.year, sprintf("%02d", Date.today.month)), :title => "Browse by Event Date" %> /</li>
    <li><%= link_to 'By Topic', topic_groups_path, :title => "Browse by Topic" %> / </li>
    <li><%= link_to 'By Location', maps_path, :title => "View entries by location" %> / </li>
    <li><%= link_to 'Search', entries_search_path, :title => 'Search Entries' %> / </li>
    <li><%= link_to 'About', about_path, :title => "About the project" %></li>
  </ul>
</div>