<% nav_tag(:id => "navigation") do %>

  <ul class="container">
    <li><a href="/" class="home" title="Home">Home</a></li>
    <li class="dropdown nav_sections">
      <a class="sections">Sections<span class="arrow"></span></a>
      <ul class="subnav">
        <% Section.all.each do |section| %>
          <li><%= link_to section.title, section_path(section), :class => "#{section.slug}" %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown nav_browse">
      <a class="browse">Browse<span class="arrow"></span></a>
      <ul class="subnav browse_list">
        <li>
          <a href="/agencies" class="agencies">Agencies</a>
        </li>
        <li>
          <a href="/topics" class="topics">Topics</a>
        </li>
        <li>
          <a href="/articles/current" class="date">Date</a>
        </li>
      </ul>
    </li>
    
    <%= render :esi => '/layout/navigation_page_list' %>

    <li class="nav_blog"><a href="/blog" class="blog">Blog</a></li>
    <li class="search">
      <form action="<%= entries_search_path %>" method="get" class="search_form">
        <label for="term">Search the Federal Register</label>
        <%= text_field_tag "conditions[term]", nil, :id => "term", :title => 'Search Articles', :placeholder =>  "Search Articles" %>
        <%= submit_tag 'Go', :class => "search_btn" %>
      </form>
    </li>
  </ul>

<% end -%>
