<% nav_tag(:id => "navigation") do %>

  <ul class="container">
    <li id='home-nav'><a href="/" class="home" title="Home">Home</a></li>
    <li class="dropdown nav_sections">
      <a class="sections">Sections<span class="arrow"></span></a>
      <ul class="subnav">
        <% Section.all.each do |section| %>
          <li id='<%= section.slug %>'><%= link_to section.title, section_path(section), :class => "#{section.slug}" %></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown nav_browse">
      <a class="browse">Browse<span class="arrow"></span></a>
      <ul class="subnav browse_list">
        <li id='agencies-browse'>
          <a href="/agencies" class="agencies">Agencies</a>
        </li>
        <li id='topics-browse'>
          <a href="/topics" class="topics">Topics</a>
        </li>
        <li id='current-article-browse'>
          <a href="/articles/current" class="date">Dates</a>
        </li>
      </ul>
    </li>
    <li class="dropdown nav_search">
      <a class="search">Search<span class="arrow"></span></a>
      <ul class="subnav search_list">
        <li id='articles-search'><a href="/articles/search" class="article-search">Article Search</a></li>
        <li id='articles-adv-search'><a href="/articles/search#advanced" class="advanced-search">Advanced Article Search</a></li>
        <li id='events-search'><a href="/events/search" class="events-search">Events Search</a></li>
        <li id='regulations-search'><a href="/regulations/search" class="unified-agenda-search">Unified Agenda Search</a></li>
      </ul>
    </li>
    <%= render :esi => '/layout/navigation_page_list' %>

    <li class="nav_blog" id='blog-nav'><a href="/blog" class="blog">Blog</a></li>
    <li class="inline_search">
      <form action="<%= entries_search_path %>" method="get" class="search_form">
        <label for="term">Search the Federal Register</label>
        <%= text_field_tag "conditions[term]", nil, :id => "term", :title => 'Search Articles', :placeholder =>  "Search Articles" %>
        <%= submit_tag 'Go', :class => "search_btn", :title => 'Search' %>
      </form>
    </li>
  </ul>

<% end -%>
