<!doctype html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8">
    <%= stylesheet_link_tag "admin/grid",               :media => :screen %>
    <%= stylesheet_link_tag "admin/formtastic",         :media => :screen %>
    <%= stylesheet_link_tag "admin/formtastic_changes", :media => :screen %>
    <%= stylesheet_link_tag "admin/screen",             :media => :screen %>
    <title>FR2 Admin<%= " | #{yield :title}" if yield(:title) %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>