<!doctype html> 
<html lang="en"> 
<head> 
  <title>FR2 Admin<%= " | #{yield :title}" if yield(:title) %></title>
  <meta charset="utf-8">
  
  <%= stylesheet_link_tag "admin/screen",                    :media => :screen %>
  <%= stylesheet_link_tag "admin/jqModal",                   :media => :screen %>
  <%= stylesheet_link_tag "admin/buttons",                   :media => :screen %>
  <%= stylesheet_link_tag "admin/formtastic",                :media => :screen %>
  <%= stylesheet_link_tag "../ContentFlow/contentflow_src",  :media => :screen %>
  
  <%#= stylesheet_link_tag "reset",                    :media => :screen %>
  <%#= stylesheet_link_tag "text" ,                    :media => :screen %>
  <%#= stylesheet_link_tag "jquery-ui" ,               :media => :screen %>
  <%#= stylesheet_link_tag "admin/grid",               :media => :screen %>
  
  
  
  <%#= stylesheet_link_tag "admin/formtastic_changes", :media => :screen %>
  <%#= stylesheet_link_tag "admin/screen",             :media => :screen %>
  <%#= stylesheet_link_tag "admin/jquery.Jcrop",       :media => :screen %>
  <%#= stylesheet_link_tag "admin/navigation",         :media => :screen %>
  <%#= stylesheet_link_tag "admin/tablesorter",        :media => :screen %>
  
  
  
</head>
<body>
    
  <!-- WRAPPER -->
  <div id="wrapper">
    
    <!-- HEADER -->
    <header>
      <hgroup>
        <h1><a href="/" title="federal register admin home">Federal Register :: Admin</a></h1>
      </hgroup>
      
      <nav class="primary">
        <ul>
          <% if current_user %>
          <li><%= link_to 'Home', admin_home_path, :class => "button golden home" %></li>
          <li><%= link_to 'Sections', admin_sections_path, :class => "button golden" %></li>
          <li><%= link_to 'Agencies', admin_agencies_path, :class => "button golden" %></li>
          <li><%= link_to 'Agency Names', admin_agency_names_path, :class => "button golden" %></li>
          <li><%= link_to 'Topic Names', admin_topic_names_path, :class => "button golden" %></li>
          <li><%= link_to 'Users <div class="users icon"></div>', admin_users_path, :class => "button golden" %></li>
          <li><%= link_to 'Current Issue', admin_issue_path(Entry.last.publication_date.to_s(:mdy_dash)), :class => "button golden" %></li>
          <% end %>
        </ul>
      </nav>
      
      <nav class="utility">
        <% if current_user %>
        <p>Hi, <%= current_user.first_name %>!</p>
        <% end %>
        <ul>
          <% if current_user %>
          <li><%= link_to 'Change Password', edit_admin_user_password_path(current_user), :class => "button small grey" %></li>
          <li><%= link_to 'Logout', admin_logout_path, :class => "button small grey" %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    
    <div id='content'>
      <% if yield(:super_title) %>
        <h2><%= yield(:super_title) %></h2>
      <% end %>
    
      <% if yield(:nav_secondary) %>
        <nav class="secondary">
          <ul>
            <%= yield(:nav_secondary) %>
          </ul>
        </nav>
      <% end %>
    
      <% if flash[:notice] %>
      <div class="flash notice grid_10 push_1">
        <%= flash[:notice]%>
      </div>
      <% end %>

      <% if flash[:error] %>
      <div class="flash error grid_10 push_1">
        <%= flash[:error]%>
      </div>
      <% end %>
    
      <% if yield(:title)%>
       <h3><%= yield(:title) %></h3>
      <% end %>
    
      <%= yield %>
      
    </div> <!-- content end -->
    
    <footer>
      
    </footer>
  </div> <!-- wrapper end -->
  
  <div class='jqmOverlay'></div>
  <div class='modal jqmWindow'>
    <div id='crop_area'>
      <div id="crop-box"></div>
      <div id="preview">
        <% if @entry.present? %>
          <%= image_tag(@entry.lede_photo.photo.url(:medium)) if @entry.lede_photo %>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= jquery_include_tag %>
  <%= jquery_ui_include_tag %>
  <%= javascript_include_tag 'admin/jquery.tablesorter' %>
  <%= javascript_include_tag 'application_form_builder' %>
  <%= javascript_include_tag 'admin/admin' %>
  
  <%= yield :javascripts %>
  
  <!-- <script>
    (function(){document.body.appendChild(document.createElement('script')).src='http://gridder.andreehansson.se/releases/latest/960.gridder.js';})();
  </script> -->
  
  <script type="text/javascript" src="http://use.typekit.com/qbb7wou.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>