<!DOCTYPE html>
<html lang="en">
<head>
  <title>FR2 Admin<%= " | #{yield :title}" if yield(:title) %></title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag "jquery-ui.css",                   :media => :screen %>
  <%= stylesheet_link_tag "admin/jqModal",                   :media => :screen %>
  <%= stylesheet_link_tag "admin/formtastic",                :media => :screen %>
  <%= stylesheet_link_tag "admin/bootstrap",                 :media => :screen %>
  <%= stylesheet_link_tag "tipsy",                           :media => :screen %>
  <%= stylesheet_link_tag "cropper.min.css",                 :media => :screen %>
  <%= stylesheet_link_tag "admin/screen_bootstrap",          :media => :screen %>

  <%= csrf_meta_tag %>


  <%= jquery_include_tag %>

  <%= javascript_include_tag "vendor/jquery-ui-1.9.2.custom.min.js" %>
  <%= javascript_include_tag "vendor/jquery-ui-1.9.2.effects.min.js" %>
  <%= javascript_include_tag "admin/handlebars-1.0.rc.1.min.js" %>

  <%= javascript_include_tag "bootstrap/bootstrap-transition.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-alert.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-button.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-carousel.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-collapse.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-dropdown.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-modal.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-scrollspy.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-tab.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-tooltip.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-popover.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap-typeahead.js" %>
  <%= javascript_include_tag "vendor/jquery.scrollintoview.min.js" %>
  <%= javascript_include_tag "vendor/jquery.utilities.js" %>

  <%= javascript_include_tag 'admin/honeybadger.min.js' %>
  <%= javascript_include_tag 'admin/jquery.tablesorter' %>
  <%= javascript_include_tag 'vendor/jquery.tipsy.js' %>
  <%= javascript_include_tag 'vendor/underscore-1.4.3.min.js' %>
  <%= javascript_include_tag 'admin/application_form_builder' %>
  <%= javascript_include_tag 'admin/tipsy' %>
  <%= javascript_include_tag 'admin/admin' %>
  <%= javascript_include_tag 'fr_index_popover_handler' %>
  <%= javascript_include_tag 'admin/spell_checker' %>
  <%= javascript_include_tag 'admin/fr_index' %>
  <%= javascript_include_tag 'admin/issue_reprocessor' %>
  <%= javascript_include_tag "admin/cropper.min.js" %>

  <% #from my fr but patching it in here %>
  <%= javascript_include_tag("admin/highlighted_documents.js").gsub('/javascripts', '/my/assets') %>
  <%= javascript_include_tag("utilities/modal.js").gsub('/javascripts', '/my/assets') %>

  <%= yield :javascripts %>

  <%= render(:partial => 'layouts/admin/google_analytics') if RAILS_ENV == 'production' %>

  <%= yield :head %>
</head>
<body id="<%= controller.controller_name %>" class="admin <%= controller.action_name %>">


    <%= render :partial => "layouts/admin/header" %>
  <div class="container">
    <!-- MAIN -->
    <div id="main">

      <% if yield(:super_title) %>
        <div class="title"><span><%= yield(:super_title) %></span></div>
      <% end %>

      <% if yield(:sidebar) %>
        <div id="sidebar" class="span3">
          <%= yield(:sidebar) %>
        </div>
      <% end %>

      <div id="content_area" class="span8">

        <% if yield(:title)%>
         <h3 class="title"><%= yield(:title) %></h3>
        <% end %>

        <div class="wrapper">
          <% if flash[:notice] %>
          <div class="flash notice">
            <%= flash[:notice]%>
          </div>
          <% end %>

          <% if flash[:error] %>
          <div class="flash error">
            <%= flash[:error]%>
          </div>
          <% end %>

          <%= yield %>
        </div>
      </div><!-- content end -->

    </div> <!-- MAIN end -->

    <div class='jqmOverlay'></div>
    <div class='modal jqmWindow'>
      <div id='crop_area'>
        <div id="crop-box"></div>
        <!-- <div id="preview">
          <% if @entry.present? %>
            <%= image_tag(@entry.lede_photo.photo.url(:medium)) if @entry.lede_photo %>
          <% end %>
        </div> -->
      </div>
    </div>

  </div> <!-- end .container -->
  <!-- <script>
    (function(){document.body.appendChild(document.createElement('script')).src='http://gridder.andreehansson.se/releases/latest/960.gridder.js';})();
  </script> -->

  <script type="text/javascript" src="https://use.typekit.com/qbb7wou.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">Honeybadger.configure({api_key: "d4da564f3d569e2ce485902c42dfae50"})</script>
</body>
</html>
