<!doctype html> 
<html lang="en"> 
<head> 
  <title>FR2 Admin<%= " | #{yield :title}" if yield(:title) %></title>
  <meta charset="utf-8">
  
  <%= stylesheet_link_tag "reset",                    :media => :screen %>
  <%= stylesheet_link_tag "text" ,                    :media => :screen %>
  <%= stylesheet_link_tag "admin/grid",               :media => :screen %>
  <%= stylesheet_link_tag "admin/formtastic",         :media => :screen %>
  <%= stylesheet_link_tag "admin/formtastic_changes", :media => :screen %>
  <%= stylesheet_link_tag "admin/screen",             :media => :screen %>
  <%= stylesheet_link_tag "admin/jquery.Jcrop.css",   :media => :screen %>
  
  <!-- <script type="text/javascript" src="http://use.typekit.com/qbb7wou.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
  
</head>
<body>
    
  <!-- WRAPPER -->
  <div id="wrapper" class="container_12">
    
    <!-- HEADER -->
    <header>
      <hgroup>
        <h1><a href="/" title="govpulse home">The Federal Register</a></h1>
        <h2>Newspaper of the United States Government</h2>
      </hgroup>
      
      <% if current_user %>
      <nav class="primary grid_12">
        <ul>
          <li><%= link_to 'Home', admin_home_path %></li>
          <li><%= link_to 'Agency Names', admin_agency_names_path %></li>
          <li><%= link_to 'Users', admin_users_path %></li>
        </ul>
      </nav>
      
      <nav class="utility">
        <p>Hi, <%= current_user.first_name %>!</p>
        <ul>
          <li><%= link_to 'Change Password', edit_admin_user_password_path(current_user) %></li>
          <li><%= link_to 'Logout', admin_logout_path %></li>
        </ul>
      </nav>
      <% end %>
    </header>
    
    <hr />
    
    <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice]%>
    </div>
    <% end %>

    <% if flash[:error] %>
    <div class="flash error">
      <%= flash[:error]%>
    </div>
    <% end %>
    
     <% if yield(:title)%>
        <h1 class="grid_11 push_1"><%= yield(:title) %></h1>
      <% end %>
    
    <%= yield %>
    <footer>
      
    </footer>
    <%= jquery_include_tag %>
    <%= jquery_ui_include_tag %>
    <%= yield :javascripts %>
    
    <!-- >
    <script>
      (function(){document.body.appendChild(document.createElement('script')).src='http://gridder.andreehansson.se/releases/latest/960.gridder.js';})();
    </script>
    -->
  </div> <!-- wrapper end -->
</body>
</html>