<!DOCTYPE html>
  <head>
    <title>Federal Register<%= " | #{yield :title}" if yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="government federal register executive rulings notices" />
  
    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= content_tag(:meta, nil, :name => 'title', :content => @entry.title) if @entry %>
    <%= content_tag(:meta, nil, :name => 'description', :content => truncate(strip_tags(@entry.abstract), :length => 300)) if @entry %>
    <link rel="image_src" href="http://fr2.criticaljuncture.org/images/fbdisplay.jpg" />
    <meta name="medium" content="news" />
    
    <script type="text/javascript" src="https://use.typekit.com/qbb7wou.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= yield :head %>
    
    <%= stylesheet_link_tag "screen", :media => :screen %>
    <%= stylesheet_link_tag "print", :media => :print %>
    
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie", :media => :screen %>  
    <![endif]-->
    
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <%= stylesheet_link_tag "ie6", :media => :screen %>
    <![endif]-->
     
    <%# HELP-DESIGN: Don't combine JS files yet; need a strategy to get the JS to the static server... %>
    <%= javascript_include_tag :all %>

    <%= yield :feeds %>
  
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
    
    <% header_tag(:id => 'header') do %>
      <%= render :partial => 'layouts/navigation', :locals => {:last_date => @last_date, :search_term => @search_term} %>    
      
      <div id="search_bar">
        <div id="search_container">
          <form action="<%= entries_search_path %>" method="get" id="search">
            <label for="term">Search the Federal Register</label>
            <%= text_field_tag "conditions[term]", nil, :title => 'Search Articles' %> <%# , :placeholder =>  "Search Articles" %>
            <%= submit_tag 'Go', :class => "search_btn" %>
          </form>
          <div id="browse_container">
            <%= link_to "Browse Agencies", agencies_path %>
            <%= link_to "Browse Topics", topics_path %>
          </div>
        </div>
      </div>  
      
      <%# TODO: someday use the HTML5 helpers, but for now need the div outside, rather than inside and don't want to change globally, need to switch for validity %>
      <div id ="header_logo" class="hgroup">
        <hgroup>
          <h1><a href="/" title="Federal Register Home">The Federal Register</a></h1>
          <h2>The Daily Journal of the United States Government</h2>
        </hgroup>
      </div>
      
    <% end -%>
    
    
    
    <div id="main">
      <%= yield %>
    </div>

    <% footer_tag(:id => "footer") do %>        
      <%= render :partial => 'layouts/footer' %>
    <% end -%>
    
    <%= render :partial => 'layouts/google_analytics' %>
    <script src="https://federalregister.tenderapp.com/tender_widget.js" type="text/javascript"></script>
  </body>
</html>
