<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Trifecta | <%= yield :title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="..." />
  <meta name="keywords" content="..." />
  <meta name="author" content="..." />
  
  <%= stylesheet_link_tag "screen", :media => :screen %>
  <%= stylesheet_link_tag "trifecta", :media => :screen %>
  <%= stylesheet_link_tag "utility", :media => :screen %>

  <%= javascript_include_tag 'jquery.js'                %>
  <%= javascript_include_tag 'jquery-ui.js'             %>
  <%= javascript_include_tag 'jrails.js'                %>
  <%= javascript_include_tag 'application.js'           %>
  <%= javascript_include_tag 'jquery.sparkline.min.js'  %>
  <%= javascript_include_tag 'jquery.tools.min.js'      %>
  <%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.js' %>	
  
  <%= yield :javascripts %>

  <%= yield :feeds %>
</head>
<body>

  <!-- WRAPPER -->
  <div id="wrapper">

    <!-- HEADER -->
    <div id="header">
      <h1>trifecta</h1>
      <div class="nav group">
        <form action="<%= entries_search_path %>" method="get">
          Search <%= text_field_tag :q, @search_term %>
          <%= submit_tag 'Search' %>
        </form>     
        <ul>
          <li><a href="#">Agency</a> | </li>
          <li><a href="#">Date</a> |</li>
          <li><a href="#">Entries</a> | </li>
          <li><a href="#">About</a></li>
        </ul>
      </div>      
    </div>

  <!-- HEADER end -->


    <!-- MAIN -->
    <div id="main" class="group<%= ' cols' if yield :sidebar %>">

      <% unless flash[:notice].blank? %>
        <div class="alert">
          <p class="confirm"><%= h flash[:notice] %></p>
        </div>
      <% end %>

      <% unless flash[:error].blank? %>
      <div class="alert">
        <p class="error"><%= h flash[:error] %></p>
      </div>
      <% end %>
    
      <!-- content -->
      <div class="content">
          <% if yield :title %>
            <h1><%= yield :title %></h1>
          <% end %>
          
          <% if yield :precolumn %>
            <%= yield :precolumn %>
          <% end %>
          
          <div class="col1">
            <%= yield %>
          </div>
          
          <% if yield :sidebar %>
          <div class="col2">
            <div class="sidebar">
              <%= yield :sidebar %>
            </div>
          </div>
          <% end %>
      </div>
      <!-- content end -->

    </div>
    <!-- MAIN end -->

    <!-- FOOTER -->
    <div id="footer">
      <div class="sitemap">
        <h4>Sitemap</h4>
        <ul>
          <li><a href="#">Agencies</a></li>
          <li><a href="#">Date</a></li>
          <li><a href="#">Stuff</a></li>
        </ul>  
      </div>  
    </div>
    <!-- FOOTER end -->

  </div>
  <!-- WRAPPER end -->

</body>
</html>
