<!DOCTYPE html>
  <head>
    <title>Federal Register<%= " | #{yield :title}" if yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="government federal register executive rulings notices" />
  
    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= tag(:meta, :name => 'title', :content => yield(:title) ) if yield(:title) %>
    <%= tag(:meta, :name => 'description', :content => yield(:description) ) if yield(:description) %>
    
    <%# Tell search engines to use the proper hostname and protocol %>
    <%= tag(:link, :rel  => 'canonical', :href => 'https://www.federalregister.gov' + request.fullpath.sub(/\/$/,'')) %>
    
    <%= render :esi => layout_head_content_path(:page_to_track => yield(:page_to_track)) %>

    <%# fr2 specific js for clippings - used on document and search result page %>
    <%= render :esi => my_fr2_fr2_assets_path %>
 
    <%= yield :robots %>

    <%= yield :javascripts %>
    
    <%= yield :feeds %>
  </head>

  <body id="<%= @faux_controller || controller.controller_name %>" class="<%= @faux_action || controller.action_name %>">
    
    <%= render :esi => layout_header_path %>
    
    <div id="main">
      <%= yield %>
      <div id="layout_footer"></div>
    </div>
    
    <%= render :esi => layout_footer_path %>
  </body>
</html>
