<!DOCTYPE html>
  <head>
    <title>Federal Register<%= " | #{yield :title}" if yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="government federal register executive rulings notices" />
  
    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= content_tag(:meta, nil, :name => 'title', :content => @entry.title) if @entry %>
    <%= content_tag(:meta, nil, :name => 'description', :content => truncate(strip_tags(@entry.abstract), :length => 300)) if @entry %>
    <link rel="image_src" href="http://fr2.criticaljuncture.org/images/fbdisplay.jpg" />
    <meta name="medium" content="news" />
    
    <%= stylesheet_link_tag "reset", :media => :screen %>
    <%= stylesheet_link_tag "grid", :media => :screen %>    
    <%= stylesheet_link_tag "text", :media => :screen %>    
    <%= stylesheet_link_tag "screen", :media => :screen %>
    
    <!--[if IE 6]>
      <%= stylesheet_link_tag "ie6", :media => :screen %>
    <![endif]-->
    <!--[if lte IE 7]>
      <%= stylesheet_link_tag "ie", :media => :screen %>
    <![endif]-->  
  
    <script type="text/javascript" src="http://use.typekit.com/qbb7wou.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%#= yield :javascripts %>
    <%= yield :feeds %>
  
  </head>

  <body>
    <header>   
      <div id="issue_and_search_bar">
        <div class="container_12">
          <div id="seal"></div>
          <p>Current Issue: May 13, 2010</p>
          <form action="<%= entries_search_path %>" method="get">
          </form>
        </div> <!-- END container_12 -->
      </div> <!-- END issue and search bar -->
      
      <%= render :partial => 'layouts/navigation', :locals => {:last_date => @last_date, :search_term => @search_term} %>    
      
      <hgroup class="container_12">
        <h1><a href="/" title="govpulse home">The Federal Register</a></h1>
        <h2>Newspaper of the United States Government</h2>
      </hgroup>
      
    </header>
    
    <div id="main" class="container_12">
      
      <%= yield %>
    
    </div>

    <footer>
      <%= render :partial => 'layouts/footer' %>
    <footer>
            
    <%= render :partial => 'layouts/google_analytics' %>  
    
  </body>
</html>
