<!DOCTYPE html>
  <head>
    <title>Federal Register<%= " | #{yield :title}" if yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="government federal register executive rulings notices" />
  
    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= content_tag(:meta, nil, :name => 'title', :content => @entry.title) if @entry %>
    <%= content_tag(:meta, nil, :name => 'description', :content => truncate(strip_tags(@entry.abstract), :length => 300)) if @entry %>
    <link rel="image_src" href="http://fr2.criticaljuncture.org/images/fbdisplay.jpg" />
    <meta name="medium" content="news" />
    
    <script type="text/javascript" src="http://use.typekit.com/qbb7wou.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "reset", :media => :screen %>
    <%= stylesheet_link_tag "screen", :media => :screen %>

    <script type="text/javascript" src="/javascripts/enhance.js"></script>	
    <script type="text/javascript">
    	enhance({
    		loadStyles: [
    			'/stylesheets/enhancements.css',
    			'/stylesheets/ui.notify.css',
    			{'src': 'ie.css', 'iecondition': 'lte IE 8'}
    		],	
    		loadScripts: [
    			'/javascripts/jquery.js',
    			'/javascripts/jquery-ui.js',
    			'/javascripts/jquery.history.js',
    			'/javascripts/jquery.tabs.js',
    			'/javascripts/jquery.notify.js',
          '/javascripts/search.js',
          '/javascripts/jquery.gallerific.js',
          '/javascripts/articlepage.js',
    			'/javascripts/sectionpage.js',
    			'/javascripts/frontend.js'
    		]
    	});   
    </script>

    <%= yield :feeds %>
  
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
    <% header_tag(:id => "header") do %>
        <div id="issue_and_search_bar">
          <div>
            <p>Current Issue: <%= Entry.latest_publication_date.to_s(:wday_and_pretty_date) %></p>
            <% if @preview %>
              <span id="preview_indicator">Preview Mode</span>
            <% end %>
            <form action="<%= entries_search_path %>" method="get">
              <label for="term">Search the Federal Register</label>
              <%= text_field_tag 'conditions[term]', nil, :placeholder =>  "Search Articles" %>
              <%= submit_tag 'Go', :class => "search_btn" %>
            </form>
          </div>
        </div> <!-- END issue and search bar -->

        <%= render :partial => 'layouts/navigation', :locals => {:last_date => @last_date, :search_term => @search_term} %>    
        
        <% hgroup_tag(:id => "header_logo") do %>        
            <h1><a href="/" title="Federal Register Home">The Federal Register</a></h1>
            <h2>The Daily Journal of the United States Government</h2>
        <% end -%>
        
    <% end -%>
    
    
    <div id="main">
      <%= yield %>
    </div>

    <% footer_tag(:id => "footer") do %>        
      <%= render :partial => 'layouts/footer' %>
    <% end -%>
            
    <%= render :partial => 'layouts/google_analytics' %>  

  </body>
</html>
