<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" <% if yield :tagcloud %> xmlns:v="urn:schemas-microsoft-com:vml" <% end %> >
<head>
  <title>govpulse<%= " | #{yield :title}" if yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="government federal register executive rulings notices govpulse" />
  <meta name="author" content="Andrew Carpenter, Bob Burbach, Dave Augustine" />
  
  <%# Facebook uses these for parsing when someone adds a link  %>
  <%= content_tag(:meta, nil, :name => 'title', :content => @entry.title) if @entry %>
  <%= content_tag(:meta, nil, :name => 'description', :content => truncate(strip_tags(@entry.abstract), :length => 300)) if @entry %>
  <link rel="image_src" href="http://www.govpulse.us/images/fbdisplay.jpg" />
  <meta name="medium" content="news" />
  
  <%= stylesheet_link_tag "screen", :media => :screen %>
  <%= stylesheet_link_tag "trifecta", :media => :screen %>
  <%= stylesheet_link_tag "utility", :media => :screen %>
  <%= stylesheet_link_tag "form", :media => :screen %>
  
  <%= javascript_include_tag 'jquery.js'                %>
  <%= javascript_include_tag 'jquery-ui.js'             %>
  <%= javascript_include_tag 'jrails.js'                %>
  <%= javascript_include_tag 'application.js'           %>
  <%= javascript_include_tag 'jquery.sparkline.min.js'  %>
  <%= javascript_include_tag 'jquery.cookie.js'  %>
  <%= javascript_include_tag 'jquery.tools.min.js'      %>
  <%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.js' %>
  <%= javascript_include_tag 'jquery.filter.js'         %>
  <%= javascript_include_tag 'frontend.js'              %>
  <%= javascript_include_tag 'jquery.toggleDisabled.js' %>
  <%= javascript_include_tag 'jquery.horizontalCount.js'%>
  <%= javascript_include_tag 'tagcloud.js' %>
  <%= javascript_include_tag 'jquery.labelify.js' %>


  <%= yield :javascripts %>

  <%= yield :feeds %>
</head>
<body>

  <!-- WRAPPER -->
  <div id="wrapper" class="group">
    
    <!-- HEADER -->
    <div id="header">
      
      <div class="capitol"></div>      
      
      <div class="type">
        <a href="/" title="govpulse home"><h1>gov<span>pulse</span></h1></a>
      </div>

    </div>
    <%= render :partial => 'layouts/navigation', :locals => {:last_date => @last_date, :search_term => @search_term} %>
    <!-- HEADER end -->
  
    <!-- MAIN -->
    <div id="main" class="group<%= ' cols' if yield :sidebar %>">

      <% unless flash[:notice].blank? %>
        <div class="alert">
          <div class="confirm"><%= flash[:notice] %></div>
        </div>
      <% end %>

      <% unless flash[:error].blank? %>
      <div class="alert">
        <div class="error"><%= flash[:error] %></div>
      </div>
      <% end %>
    
      <!-- content -->
      <div class="content">
          <% if yield :search_form %>
            <form method="get" action="/entries/search">
          <% end %>    
              
          <% if yield :precolumn %>
            <div class="precolumn">
              <%= yield :precolumn %>
            </div>
          <% end %>
          
          <div class="col1 <%= yield :column_class %>">
            <%= yield %>
          </div>
          
          <% if yield :sidebar %>
          <div class="col2 <%= yield :column_class %>">
            <div class="sidebar">
              <%= yield :sidebar %>
            </div>
          </div>
          <% end %>
          
          <% if yield :search_form %>
            </form>
          <% end %>    
      </div>
      <!-- content end -->
      
    </div>
    <!-- MAIN end -->

  </div>
  <!-- WRAPPER end -->


  <!-- FOOTER -->
  <div id="footer">
    <%= render :partial => 'layouts/footer' %>
  </div>
  <!-- FOOTER end -->
    
  <div id="ticker_container">
    <!-- TICKER -->
    <div id="ticker">
    </div>  
  </div>
    
  <%= render :partial => 'layouts/google_analytics' %>  
</body>
</html>
