<!DOCTYPE html>
  <head>
    <title>Federal Register<%= " | #{yield :title}" if yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="government federal register executive rulings notices" />
  
    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= tag(:meta, :name => 'title', :content => yield(:title) ) if yield(:title) %>
    <%= tag(:meta, :name => 'description', :content => yield(:description) ) if yield(:description) %>
    
    <%# Tell search engines to use the proper hostname and protocol %>
    <%= tag(:link, :rel  => 'canonical', :href => 'https://www.federalregister.gov' + request.fullpath.sub(/\/$/,'')) %>
    
    <%= render :esi => layout_head_content_path(:page_to_track => yield(:page_to_track)) %>

    <%# fr2 specific js for clippings - used on article and search result page %>
    <%= render :esi => my_fr2_fr2_assets_path %>
 
    <%= yield :robots %>

    <%= yield :javascripts %>
    
    <%= yield :feeds %>
  </head>

  <body id="<%= @faux_controller || controller.controller_name %>" class="<%= @faux_action || controller.action_name %>">
    
    <%= render :esi => layout_header_path %>
    
    <div id="main">
      <div class="info_warning">
        Due to an appropriations lapse, the Office of the Federal Register (OFR) is not updating this site. 
        OFR is publishing documents in the daily Federal Register that are directly related to the performance 
        of governmental functions necessary to address imminent threats to the safety of human life or protection 
        of property. You can view those documents on <%= link_to 'FDSys', 'http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=FR&browsePath=2013&isCollapsed=true&leafLevelBrowse=false&ycord=0' %>.
        You can read more about OFR services in <%= link_to 'our blog post', 'https://www.federalregister.gov/blog/2013/09/what-happens-if-the-government-shuts-down' %>.
      </div>
      <%= yield %>
      <div id="layout_footer"></div>
    </div>
    
    <%= render :esi => layout_footer_path %>
  </body>
</html>
