<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <%= javascript_include_tag 'jquery.js'                  %>
  <%= javascript_include_tag 'jquery-ui.js'               %>
  <%= javascript_include_tag 'jrails.js'                  %>
  <%= javascript_include_tag 'application.js'             %>
  <%= javascript_include_tag 'jquery.sparkline.min.js'    %>
  <%= javascript_include_tag 'jquery.cookie.js'           %>
  <%= javascript_include_tag 'jquery.tools.min.js'        %>
  <%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.js'   %>
  <%= javascript_include_tag 'jquery.filter.js'           %>
  <%= javascript_include_tag 'frontend.js'                %>
  <%= javascript_include_tag 'jquery.toggleDisabled.js'   %>
  <%= javascript_include_tag 'jquery.horizontalCount.js'  %>
  <%= javascript_include_tag 'tagcloud.js'                %>
  <%= javascript_include_tag 'jquery.inlinelabel.js'         %>
  
  <%= stylesheet_link_tag "screen",   :media => :screen %>
  <%= stylesheet_link_tag "trifecta", :media => :screen %>
  <%= stylesheet_link_tag "utility",  :media => :screen %>
  <%= stylesheet_link_tag "form",     :media => :screen %>

  <%= yield :javascripts %>
</head>
<body>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>