<li id="current-article-browse-preview" class="preview">
  <div class="fr_stats">
    <h2>
      Current Issue
      <% if @issue.total_pages && @issue.total_pages > 1 %>
        <span class="supplemental"><%= @issue.total_pages %> Pages</span>
      <% end %>
    </h2>  
    <ul class="current_@issue statistics">
      <% if @issue.notice_count == 0 && @issue.proposed_rule_count == 0 && @issue.rule_count == 0 && @issue.presidential_documents_count == 0 && @issue.significant_entries_count == 0 && @issue.total_pages == 1 %>
        <li>No statistics available.</li>
      <% else %>
        <% if @issue.notice_count > 0 %>
          <li><%= link_to "<span>#{@issue.notice_count}</span> #{pluralize_without_count @issue.notice_count, "Notice"}", entries_search_path(:conditions => {:type => "NOTICE", :publication_date => {:is => @issue.publication_date}}) %></li>
        <% end %>
        <% if @issue.proposed_rule_count > 0 %>
          <li><%= link_to "<span>#{@issue.proposed_rule_count}</span> #{pluralize_without_count @issue.proposed_rule_count, "Proposed Rule"}", entries_search_path(:conditions => {:type => "PRORULE", :publication_date => {:is => @issue.publication_date}}) %></li>
        <% end %>            
        <% if @issue.rule_count > 0 %>
          <li><%= link_to "<span>#{@issue.rule_count}</span> #{pluralize_without_count @issue.rule_count, "Rule"}", entries_search_path(:conditions => {:type => "RULE", :publication_date => {:is => @issue.publication_date}}) %></li>
        <% end %>            
        <% if @issue.presidential_documents_count > 0 %>
          <li><%= link_to "<span>#{@issue.presidential_documents_count}</span> #{pluralize_without_count @issue.presidential_documents_count, "Presidential Document"}", entries_search_path(:conditions => {:type => "PRESDOCU", :publication_date => {:is => @issue.publication_date}}) %></li>
        <% end -%>
        <% if @issue.significant_entries_count > 0 %>
          <li><%= link_to "<span>#{@issue.significant_entries_count}</span> #{pluralize_without_count @issue.significant_entries_count, "Significant Document"}", entries_search_path(:conditions => {:significant => 1, :publication_date => {:is => @issue.publication_date}}) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="calendar_holder">
    <h2>Explore</h2>
    <div id="date_chooser">
      <div id="calendar_wrapper" class="cal_double">
        <%= render :esi => entries_by_month_path(Issue.current.publication_date - 1.month, :table_class => 'no_select cal_first') %>
        <%= render :esi => entries_by_month_path(Issue.current.publication_date, :current_date => Issue.current.publication_date.to_s(:iso), :table_class => 'no_select cal_last') %>
      </div>
    </div>
  </div>
  <div class="date_input_holder">
    <h2>Go to a specific date</h2>
    <% form_tag entries_date_search_path, :method => :get, :id => "date_selector" do %>
      <label>Go to a specific date:</label>
      <%= text_field_tag :search, '', :placeholder => 'MM/DD/YYYY', :class => "browse_search" %>
      <%= submit_tag 'Go' %>
    <% end %>
  </div>
</li>
