<% Section.all.each do |section| %>
  <li id='<%= section.slug %>-preview' class="preview">
    <% @highlighted_entries = section.highlighted_entries(IssueApproval.latest_publication_date).with_lede_photo.limit(1) %>
    <% if @highlighted_entries.present? %>
      <%= render :partial => 'sections/carousel', :locals => {:entries => @highlighted_entries, :image_size => :navigation} %>
    <% end %>
    <div class="suggested_searches">
      <% section.canned_searches.active.in_order.limit(4).in_groups_of(2,false).each_with_index do |searches, index| %>
        <div class="row <%= index == 0 ? 'first' : '' %>">
          <% searches.each do |canned_search| %>
              <div class="info suggested_search"> 
                <h1>
                  <%= link_to canned_search.title, canned_search_path(canned_search) %>
                  <span class="result_count"><%= canned_search.search.count_in_last_n_days(365) %> in the last year</span>
                </h1>
               </div>
            <% end %>
        </div> <!-- .row -->
      <% end %>
    </div> <!-- .suggested_searches -->

    <div class="daily_stats">
      <ul>
        <li class="new_articles">
          <% conditions = {:publication_date => {:is => @issue.publication_date}, :section_ids => [section.id]} %>
          <% link_to entries_search_path(:conditions => conditions, :utm_source => 'navigation', :utm_medium => 'dropdown', :utm_content => 'new_articles') do %>
            <span class="count"><%= count = EntrySearch.new(:conditions => conditions).count %></span>
            <span class="details"><%= pluralize_without_count(count, 'New Documents') %> In this Issue</span>
          <% end %>
        </li>
        <li class="closing_soon">
          <% conditions = {:comment_date => {:gte => @date, :lte => 1.week.from_now.to_date}, :section_ids => [section.id]} %>
          <% link_to entries_search_path(:conditions => conditions, :utm_source => 'homepage', :utm_medium => 'slideshow', :utm_content => 'comments_closing') do %>
            <span class="count"><%= count = EntrySearch.new(:conditions => conditions).count %></span>
            <span class="details"><%= pluralize_without_count(count, 'Comment Period') %> Ending Soon</span> 
          <% end %>
        </li>
      </ul>
    </div> <!-- .daily_stats -->
  </li>
<% end %>
